div#integral-detail-page {
  overflow-y: hidden; }
  div#integral-detail-page div.total {
    padding: 1.111rem 1.111rem 1.111rem 0.889rem;
    border-bottom: 1px solid #e0e0e0;
    background-color: #fff; }
    div#integral-detail-page div.total > div {
      color: #616161;
      font-size: 0.889rem;
      line-height: 1; }
      div#integral-detail-page div.total > div > a {
        float: right;
        font-size: 0.778rem;
        color: #9e9e9e;
        line-height: 1; }
      div#integral-detail-page div.total > div > i {
        display: block;
        float: right;
        width: 0.778rem;
        height: 0.778rem;
        margin-right: 0.2rem;
        -webkit-background-size: 0.778rem 0.778rem;
        -moz-background-size: 0.778rem 0.778rem;
        -o-background-size: 0.778rem 0.778rem;
        background-size: 0.778rem 0.778rem;
        background-image: url("../../images/integral/integral-rule.png");
        background-repeat: no-repeat; }
    div#integral-detail-page div.total > b {
      display: block;
      margin-top: 0.889rem;
      color: #212121;
      font-size: 1.778rem;
      font-weight: normal;
      line-height: 1; }
      div#integral-detail-page div.total > b > span {
        margin-left: 0.3rem;
        font-size: 0.778rem;
        color: #9e9e9e; }
  div#integral-detail-page div.tip {
    line-height: 2.556rem;
    font-size: 0.778rem;
    color: #616161;
    text-align: center; }
    div#integral-detail-page div.tip > a {
      color: #00aaee;
      text-decoration: underline; }
  div#integral-detail-page div.title {
    height: 2rem;
    line-height: 2rem;
    font-size: 0.778rem;
    color: #616161;
    padding-left: 0.889rem; }
  div#integral-detail-page div.list {
    overflow-y: auto; }
  div#integral-detail-page div.list-item {
    border-top: 1px solid #e0e0e0;
    background-color: #fff;
    padding: 0.889rem 0.889rem 0.778rem; }
    div#integral-detail-page div.list-item:last-child {
      border-bottom: 1px solid #e0e0e0; }
    div#integral-detail-page div.list-item > div:nth-of-type(1) {
      height: 0.889rem;
      line-height: 0.889rem;
      font-size: 0.889rem;
      color: #212121; }
      div#integral-detail-page div.list-item > div:nth-of-type(1) > div {
        float: right;
        font-size: 0.778rem; }
        div#integral-detail-page div.list-item > div:nth-of-type(1) > div.add {
          color: #0abe07; }
    div#integral-detail-page div.list-item > div:nth-of-type(2) {
      position: relative;
      margin-top: 0.444rem;
      padding-left: 1.222rem;
      height: 0.889rem;
      line-height: 0.889rem;
      color: #9e9e9e;
      font-size: 0.667rem; }
      div#integral-detail-page div.list-item > div:nth-of-type(2) > div:nth-of-type(1) {
        position: absolute;
        width: 0.889rem;
        height: 0.889rem;
        top: 0;
        left: 0;
        border-radius: 50%;
        margin-right: 0.333rem;
        -webkit-background-size: 0.889rem 0.889rem;
        -moz-background-size: 0.889rem 0.889rem;
        -o-background-size: 0.889rem 0.889rem;
        background-size: 0.889rem 0.889rem;
        background-repeat: no-repeat;
        visibility: hidden; }
        div#integral-detail-page div.list-item > div:nth-of-type(2) > div:nth-of-type(1).active {
          visibility: visible; }
      div#integral-detail-page div.list-item > div:nth-of-type(2) > span {
        position: absolute;
        right: 0;
        top: 0; }
  div#integral-detail-page div.finish-load-tip {
    border-top: 1px solid #e0e0e0; }
