div.login-page div.input {
  height: 2.611rem;
  position: relative;
  width: 100%;
  margin-top: .611rem;
  padding: 0 .722rem;
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9; }
  div.login-page div.input > i {
    display: block;
    width: 0.75rem;
    height: 0.972rem;
    position: absolute;
    left: 0.722rem;
    top: 50%;
    margin-right: 0.5rem;
    margin-top: -0.486rem;
    -webkit-background-size: 0.75rem 0.972rem;
    -moz-background-size: 0.75rem 0.972rem;
    -o-background-size: 0.75rem 0.972rem;
    background-size: 0.75rem 0.972rem;
    background-repeat: no-repeat; }
  div.login-page div.input > span {
    position: absolute;
    left: 2.122rem;
    color: #4d4d4d;
    font-size: 0.888rem;
    display: inline-block;
    height: 1.4rem;
    top: 50%;
    margin-top: -0.7rem; }
  div.login-page div.input > input {
    width: 100%;
    height: 1.4rem;
    line-height: 1.4rem;
    margin-top: 0.605rem;
    padding-left: 3.422rem;
    color: #4d4d4d;
    font-size: 0.888rem;
    box-sizing: border-box; }
  div.login-page div.input.tel > i {
    background-image: url("../../images/login/tel_icon.png"); }
  div.login-page div.input.pw, div.login-page div.input.auth {
    margin-top: 0; }
    div.login-page div.input.pw > input, div.login-page div.input.auth > input {
      padding-left: 1.5rem; }
  div.login-page div.input.pw > i {
    background-image: url("../../images/login/lock_icon.png"); }
  div.login-page div.input.auth > i {
    background-image: url("../../images/login/auth_icon.png"); }
  div.login-page div.input.auth > a {
    position: absolute;
    display: block;
    right: 0.722rem;
    width: 6.166rem;
    height: 2.138rem;
    top: 50%;
    margin-top: -1.069rem;
    background-color: #fb5549;
    text-align: center;
    line-height: 2.138rem;
    font-size: .888rem;
    border-radius: .166rem;
    color: #fff; }
    div.login-page div.input.auth > a.disabled, div.login-page div.input.auth > a.pause {
      background-color: #ccc; }
    div.login-page div.input.auth > a.repeat {
      background-color: #fb5448; }
  div.login-page div.input.spec {
    border-bottom-width: 0; }
    div.login-page div.input.spec::after {
      content: "";
      display: block;
      position: absolute;
      left: 0.722rem;
      right: 0.722rem;
      bottom: 0;
      height: 1px;
      background-color: #f0f0f0; }

div.login-page div.next-btn {
  background-color: #bebebe;
  margin: 2.25rem .722rem 0;
  color: #fff;
  font-size: .888rem;
  height: 2.472rem;
  line-height: 2.472rem;
  text-align: center;
  border-radius: .166rem;
  letter-spacing: 1px; }
  div.login-page div.next-btn.active {
    background-color: #fb5549; }

div.login-page div.tip-title {
  font-size: .889rem;
  color: #666;
  margin: 1.583rem .722rem 0; }

div.login-page div.tip {
  margin: 0 1.811rem;
  color: #ff9d09;
  font-size: .778rem; }

div.login-page div.error {
  margin: .5rem .722rem 0;
  font-size: .778rem;
  color: #fb5549; }

div.login-page div.recover-password {
  font-size: .777rem;
  margin: .3rem .722rem;
  color: #fb5549;
  text-align: right; }
