div#order-list-page div.order-list {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  div#order-list-page div.order-list > div {
    display: block;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 0.444rem;
    background: #fff;
    position: relative; }
    div#order-list-page div.order-list > div:nth-of-type(1) {
      border-top-width: 0; }
    div#order-list-page div.order-list > div > a {
      display: block;
      position: absolute;
      right: 0.667rem;
      top: 2.2rem;
      background-color: #ff6666;
      color: #fff;
      font-size: 0.889rem;
      padding: 0 0.861rem;
      border-radius: 0.222rem; }
      div#order-list-page div.order-list > div > a.paid, div#order-list-page div.order-list > div > a.reAppoint {
        background-color: #66cc66; }
      div#order-list-page div.order-list > div > a.reminder {
        background-color: #ff9d09; }
      div#order-list-page div.order-list > div > a.refund, div#order-list-page div.order-list > div > a.refunded {
        background-color: #78909C; }
      div#order-list-page div.order-list > div > a:nth-of-type(2) {
        top: 4.2rem; }
    div#order-list-page div.order-list > div > span {
      color: #999999;
      position: absolute;
      bottom: .26rem;
      right: .667rem;
      padding-right: .8rem;
      font-size: .8986rem; }
      div#order-list-page div.order-list > div > span:after {
        content: ' ';
        display: inline-block;
        width: .4444rem;
        height: .4444rem;
        border: 1px solid #999;
        border-bottom: none;
        border-right: none;
        position: absolute;
        top: 50%;
        margin-top: -.2822rem;
        transform-origin: 31.7%;
        right: 0;
        transform: rotate(-135deg);
        transition: .3s transform; }
      div#order-list-page div.order-list > div > span.expand:after {
        transform: rotate(45deg); }
    div#order-list-page div.order-list > div > div:nth-of-type(1) {
      font-size: 0.778rem;
      color: #333;
      height: 1.667rem;
      line-height: 1.667rem;
      padding-left: 0.667rem;
      border-bottom: 1px solid #e0e0e0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
      div#order-list-page div.order-list > div > div:nth-of-type(1) > span {
        color: #fb5549; }
      div#order-list-page div.order-list > div > div:nth-of-type(1) > span:nth-of-type(1) {
        margin-left: .5556rem; }
      div#order-list-page div.order-list > div > div:nth-of-type(1) > span:nth-of-type(2) {
        float: right;
        margin-right: .667rem; }
    div#order-list-page div.order-list > div > div:nth-of-type(2) {
      position: relative;
      padding: 0.222rem 0; }
      div#order-list-page div.order-list > div > div:nth-of-type(2) > div:not(:nth-of-type(4)) {
        height: 1.4rem;
        line-height: 1.4rem;
        padding: 0 0.667rem;
        color: #999;
        font-size: 0.778rem;
        margin-right: 5rem; }
        div#order-list-page div.order-list > div > div:nth-of-type(2) > div:not(:nth-of-type(4)) > span {
          margin-left: 0.778rem;
          color: #333333; }
          div#order-list-page div.order-list > div > div:nth-of-type(2) > div:not(:nth-of-type(4)) > span > span {
            font-size: 0.667rem;
            margin-left: 0.444rem; }
            div#order-list-page div.order-list > div > div:nth-of-type(2) > div:not(:nth-of-type(4)) > span > span > strong {
              color: #ff9d09; }
        div#order-list-page div.order-list > div > div:nth-of-type(2) > div:not(:nth-of-type(4)) > strong {
          float: right;
          font-size: 0.889rem;
          color: #fb5549;
          font-weight: normal; }
          div#order-list-page div.order-list > div > div:nth-of-type(2) > div:not(:nth-of-type(4)) > strong.fail {
            color: #999; }
      div#order-list-page div.order-list > div > div:nth-of-type(2) > div:nth-of-type(4) {
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-top: 1px solid #e0e0e0;
        padding-top: .667rem; }
        div#order-list-page div.order-list > div > div:nth-of-type(2) > div:nth-of-type(4) > img {
          width: 7.222rem;
          height: 7.222rem; }
        div#order-list-page div.order-list > div > div:nth-of-type(2) > div:nth-of-type(4) > div {
          font-size: .8889rem;
          color: #fb6257; }

div#order-list-page #refundDialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-align: center;
  -moz-box-align: center; }
  div#order-list-page #refundDialog.hide {
    display: none; }
  div#order-list-page #refundDialog > div {
    margin: 0 2.222rem;
    text-align: center;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 1rem 0 #aaa;
    -moz-box-shadow: 0 0 1rem 0 #aaa;
    -ms-shadow: 0 0 1rem 0 #aaa;
    -o-shadow: 0 0 1rem 0 #aaa;
    box-shadow: 0 0 1rem 0 #aaa;
    width: 15.556rem; }
    div#order-list-page #refundDialog > div > p:nth-of-type(1) {
      color: #333;
      font-size: .889rem; }
    div#order-list-page #refundDialog > div > p:nth-of-type(2) {
      padding: 0 1.58rem;
      font-size: .778rem;
      color: #666; }
    div#order-list-page #refundDialog > div > div {
      padding: .75rem 0;
      border-top: 1px solid #CCCCCC;
      color: #ff6666; }

div#order-list-page #reAppointDlg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-align: center;
  -moz-box-align: center; }
  div#order-list-page #reAppointDlg.hide {
    display: none; }
  div#order-list-page #reAppointDlg > div {
    margin: 0 2.222rem;
    text-align: center;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 1rem 0 #aaa;
    -moz-box-shadow: 0 0 1rem 0 #aaa;
    -ms-shadow: 0 0 1rem 0 #aaa;
    -o-shadow: 0 0 1rem 0 #aaa;
    box-shadow: 0 0 1rem 0 #aaa; }
    div#order-list-page #reAppointDlg > div > p:nth-of-type(1) {
      color: #333;
      font-size: .889rem;
      margin: 1rem; }
    div#order-list-page #reAppointDlg > div > p:nth-of-type(2) {
      padding: 0 1.5rem;
      font-size: .778rem;
      color: #666; }
    div#order-list-page #reAppointDlg > div > div > div {
      box-sizing: border-box;
      padding: .75rem 0;
      border-top: 1px solid #CCCCCC;
      color: #ff6666;
      width: 50%;
      float: left; }
      div#order-list-page #reAppointDlg > div > div > div:nth-of-type(1) {
        color: #666666;
        border-right: 1px solid #CCCCCC; }
      div#order-list-page #reAppointDlg > div > div > div:nth-of-type(2) {
        color: #66cc66; }
