@import "../common/mixin.scss";

div.bind-phone-dialog{
  &>div{
    width:16.667rem;
    margin-top:-3.378rem;
    margin-left:-8.3335rem;
    background-color: #fff;
    color:#4d4d4d;
    font-size:0.889rem;
    overflow: hidden;
    border-radius:.5rem;
    @include ty(0,0,4px,4px,#908f8f);
    &>div:nth-of-type(1){
      text-align: center;
      border-bottom: 1px solid #d9d9d9;
      padding: 1.472rem 0;
      >p:nth-of-type(1){
        line-height: 1;
        margin-top: 0;
        font-size: 1.056rem;
        font-weight: bold;
        color: #222;
        margin-bottom: .667rem;
      }
      >p:nth-of-type(2){
        line-height: 1.5;
        color: #060606;
        font-size: .778rem;
        margin-top: .667rem;
        margin-bottom: 0;
        padding: 0 1.889rem;
      }
    }
    &>div:nth-of-type(2){
      overflow: hidden;
      &>a{
        display: block;
        width:50%;
        float: left;
        box-sizing: border-box;
        text-align: center;
        line-height: 2.806rem;
        font-size: 1rem;
        &:nth-of-type(1){
          color:#fff;
          background-color: #ff5549;
        }
        &:nth-of-type(2){
          background-color: #ebebeb;
        }
      }
    }
  }
}