@import "../common/mixin.scss";

div#personal-page{
  overflow-y: auto;
  div.top{
    height: 4.722rem;
    @include img('../../images/personal/bg.jpg',20rem 4.722rem);
    &>div{
      float: left;
    }
    div.header{
      width: 3.333rem;
      height: 3.333rem;
      margin-left:0.917rem;
      margin-top:0.6945rem;
      @include imgBgFix(3.333rem 3.333rem);
      border-radius: 50%;
    }

    div.info{
      height: 3.333rem;
      width:12rem;
      margin-top:0.6945rem;
      margin-left:0.694rem;
      color:#333;
      >div{
        &:nth-of-type(1){
          font-size:1.056rem;
          line-height: 1.833rem;
        }
        &:nth-of-type(2){
          font-size: 0.667rem;
          line-height: 1.2rem;
        }
        &.bind-phone{
          padding: .167rem .556rem;
          font-size: .611rem;
          color: #fff;
          background-color: #69cb66;
          border-radius: .167rem;
          display: inline;
        }
      }
    }

    div.btn{
      width:5.722rem;
      height:1.667rem;
      margin-top:1.5275rem;
      margin-left:7.139rem;
      border:1px solid #fb5549;
      border-radius: 4px;
      line-height:1.667rem;
      color:#fb5549;
      text-align: center;
      font-size:0.889rem;
    }

    div.edit{
      width:1.222rem;
      height:1.167rem;
      margin-top:1.7775rem;
      margin-left:0.8rem;
      @include img("../../images/personal/edit.png",1.222rem 1.167rem);
    }
  }

  div.menu-wrap,div.account-wrap{
    padding:0 0.667rem;
    background: #fff;
    margin-bottom: .667rem;
    border-bottom:1px solid #e0e0e0;
    >div{
      width: 19.333rem;
      height: 2.667rem;
      border-top: 1px solid #f0f0f0;
      @include sx();
      &:nth-of-type(1){
        border-top: 0;
      }
      >div{
        &:nth-of-type(1){
          width: 1.111rem;
          height: 1.111rem;
          @include imgBgFix(1.111rem 1.111rem);
          &.account{
            background-image: url("../../images/personal/account_icon.png");
          }
          &.integral{
            background-image: url("../../images/personal/integral_icon.png");
          }
          &.coupon{
            background-image: url("../../images/personal/coupon_icon.png");
          }
          &.order{
            background-image: url("../../images/personal/order_icon.png");
          }
          &.collect{
            background-image: url("../../images/personal/collect_icon.png");
          }
          &.contacts{
            background-image: url("../../images/personal/contacts_icon.png");
          }
        }
        &:nth-of-type(2){
          padding-left: 0.667rem;
          width: 17.194rem;
          height: 1.139rem;
          color:#666;
          font-size: 0.889rem;
          line-height: 1.139rem;
          position: relative;
          &>span{
            position: absolute;
            right:0.3rem;
            line-height: 1.055rem;
            font-size:0.667rem;
            color:#fff;
            border-radius:0.8rem;
            padding-left:0.333rem;
            padding-right:0.333rem;
            background-color: #fb5549;
          }
        }
      }
    }
  }

  div.menu-wrap{
    border-top:1px solid #e0e0e0;
  }

  div.suggestion-wrap,div.wx-wrap,div.phone-wrap,div.exit-wrap{
    margin-bottom: 0.722rem;
    height: 2.611rem;
    background: #fff;
    @include sx();
    border-top:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
    >div{
      &:nth-of-type(1){
        margin-left: 0.667rem;
        width: 1.111rem;
        height: 1.111rem;
        @include imgBgFix(1.111rem 1.111rem);
        &.suggestions{
          background-image: url('../../images/personal/suggestions_icon.png')
        }
        &.logout{
          background-image: url('../../images/personal/logout_icon.png')
        }
        &.unbind-wechat{
          background-image: url('../../images/personal/unbind_wechat.png');
        }
        &.unbind-phone{
          background-image: url('../../images/personal/unbind_phone.png');
        }
      }
      &:nth-of-type(2){
        padding-left: 0.667rem;
        width: 17.194rem;
        height: 1.139rem;
        color:#666;
        font-size: 0.889rem;
        line-height: 1.139rem;
      }
    }
  }
}

div.confirm-logout{
  &>div{
    height:6.756rem;
    width:16.667rem;
    margin-top:-3.378rem;
    margin-left:-8.3335rem;
    background-color: #fff;
    color:#4d4d4d;
    font-size:0.889rem;
    overflow: hidden;
    @include ty(0,0,4px,4px,#908f8f);
    &>div:nth-of-type(1){
      height:4.35rem;
      line-height: 4.35rem;
      text-align: center;
      border-bottom: 1px solid #d9d9d9;
    }
    &>div:nth-of-type(2){
      height:2.5rem;
      a{
        display: block;
        width:50%;
        float: left;
        text-align: center;
        line-height: 2.5rem;
        &:nth-of-type(1){
          color:#fff;
          background-color: #ff5549;
        }
        &:nth-of-type(2){
          background-color: #ebebeb;
        }
      }
    }
  }
}