@import "../common/mixin.scss";

div.counter-wrap{
  height:0.917rem;
  color:#212121;
  font-size:.667rem;
  line-height: 0.917rem;
  >label{
    float: left;
  }
  >div{
    float: left;
    &:nth-of-type(odd){
      margin-left: .3rem;
    }
    margin-right: .2rem;
    padding: 0 0.1rem;
    height: 0.917rem;
    border:1px solid #bdbdbd;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    border-radius: 4px;
    &:nth-of-type(1){
      margin-left:0;
    }
    >div{
      color:#9e4543;
      font-size: .833rem;
      @include translate(0,-.917rem);
      @include transition(all 0 linear);
      >b{
        display: block;
      }
    }
    &.toggle{
      >div{
        @include translate(0,0);
        @include dhyc(300ms);
      }
    }
  }
  &.clock{
    >label:nth-of-type(2),>label:nth-of-type(5){
      display: none;
    }
    >div:nth-of-type(1),>div:nth-of-type(2){
        display: none;
    }
    >div{
      background: #fff;
      margin-right:.15rem;
      >div>b{
        font-weight: normal;
      }
      &:nth-of-type(odd){
        margin-left:.2rem;
      }
    }
    >label{
      color:#fff;
      font-size:.722rem;
      &:first-child{
        margin-right:.1rem;
      }
    }
  }
}