@import "../common/mixin.scss";

div#service-list-page{
  div.category{
    background: #fff;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: .444rem;
    &>div{
      @include ty(0,2px,2px,0px,rgba(226, 226, 226, 0.8));
      border-bottom: 1px solid;
      @include sx();
      height: 2.167rem;
      >div{
        &:nth-of-type(1){
          width: 1.639rem;
          height: 1.556rem;
          margin: 0 0.667rem;
          @include imgBgFix(1.639rem 1.556rem)
        }
        &:nth-of-type(2){
          font-size: 0.889rem;
          line-height: 1.3335rem;
        }
      }
      &.FP{
        border-bottom-color:#f17186;
        >div{
          &:nth-of-type(1){
            background-image: url('../../images/serviceItem/01.png');
          }
          &:nth-of-type(2){
            color: #f17186;
          }
        }
      }
      &.MP{
        border-bottom-color:#ff6902;
        >div{
          &:nth-of-type(1){
            background-image: url('../../images/serviceItem/02.png');
          }
          &:nth-of-type(2){
            color: #ff6902;
          }
        }
      }
      &.SP{
        border-bottom-color:#8ebe5f;
        >div{
          &:nth-of-type(1){
            background-image: url('../../images/serviceItem/03.png');
          }
          &:nth-of-type(2){
            color: #8ebe5f;
          }
        }
      }
      &.TM{
        border-bottom-color:#bc6b08;
        >div{
          &:nth-of-type(1){
            background-image: url('../../images/serviceItem/04.png');
          }
          &:nth-of-type(2){
            color: #bc6b08;
          }
        }
      }
      &.OP{
        border-bottom-color:#fe5858;
        >div{
          &:nth-of-type(1){
            background-image: url('../../images/serviceItem/05.png');
          }
          &:nth-of-type(2){
            color: #fe5858;
          }
        }
      }
      &.LP{
        border-bottom-color:#c0ac4f;
        >div{
          &:nth-of-type(1){
            background-image: url('../../images/serviceItem/06.png');
          }
          &:nth-of-type(2){
            color: #c0ac4f;
          }
        }
      }
    }
    &:last-child{
      margin-bottom: 0
    }
  }

  ul.service-list{
    &>li{
      border-bottom: 1px solid #f0f0f0;
      height: 3.944rem;
      @include sx();
      @supports (display: -moz-box) {
        float: inherit;
      }
      > div {
        &:nth-of-type(1) {
          width: 2.722rem;
          height: 2.722rem;
          @include imgBgFix(2.722rem 2.722rem);
          border-radius: 100%;
          margin: 0 0.667rem;
        }
        &:nth-of-type(2) {
          > div {
            width: 14rem;
            &:nth-of-type(1) {
              height: 1.111rem;
              line-height:1.111rem;
              color: #4c4c4c;
              font-size: 0.889rem;
              margin-bottom: .667rem;
              @include sl();
            }
            &:nth-of-type(2) {
              @include sl();
              line-height:1;
              color: #999;
              font-size: 0.778rem;
              >span{
                margin-left: .833rem;
                >span{
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}