@charset "UTF-8";
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, article, canvas, figure, figcaption, footer, header, menu, nav, section {
  border: 0;
  font: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  font-weight: normal;
  vertical-align: baseline;
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 20rem;
  height: 100%;
  max-width: 20rem;
  color: #b0b0b0;
  background-color: #fff;
  font: 1rem/1.5rem "Microsoft Yahei",Arial;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased; }

button {
  outline: none; }

ol, ul {
  margin: 0;
  padding: 0; }

ol, ul, li {
  list-style: none; }

i, em {
  font-style: normal; }

a {
  outline: none;
  text-decoration: none; }

input, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0; }

select, option {
  font-family: inherit; }

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none; }

.clear-fix:before, .clear-fix:after {
  content: "";
  display: block; }

.clear-fix:after {
  clear: both; }

div#page-container {
  position: relative;
  min-height: 100%;
  background-color: #eee; }
  div#page-container > div.page {
    width: 100%;
    min-height: 100%; }

div.stars {
  width: 4.111rem;
  height: 0.694rem;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-align: center;
  -moz-box-align: center;
  background-size: 4.111rem 0.694rem;
  background-image: url("../../images/common/star_null_icon.png");
  background-repeat: no-repeat; }
  div.stars > div {
    width: 0;
    height: 100%;
    background-size: 4.111rem 0.694rem;
    background-image: url("../../images/common/star_score_icon.png");
    background-repeat: no-repeat; }

div.right-arrow {
  width: 0.43rem;
  height: 0.43rem;
  border-left: 0.1rem solid #999;
  border-bottom: 0.1rem solid #999;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.right-arrow-item {
  position: relative; }
  .right-arrow-item:after {
    content: "";
    position: absolute;
    right: 0.833rem;
    top: 50%;
    margin-top: -0.22rem;
    width: .43rem;
    height: .43rem;
    border-left: .1rem solid #999;
    border-bottom: .1rem solid #999;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg); }

div.submit-button {
  height: 2.444rem;
  line-height: 2.444rem;
  margin: 0 .667rem;
  text-align: center;
  font-size: .889rem;
  border-radius: .222rem;
  background-color: #fb5549;
  color: #fff; }
  div.submit-button.disabled {
    color: #bdbdbd;
    background-color: #e0e0e0; }
  div.submit-button.processing {
    color: #bdbdbd;
    background: #e0e0e0 url("../../images/common/loading.gif") no-repeat 30% 45%; }

div.data-load-tip, div.finish-load-tip {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  height: 2.4rem; }
  div.data-load-tip div, div.finish-load-tip div {
    font-size: 0.778rem;
    margin-left: 0.2rem;
    line-height: 2rem;
    color: #666; }
  div.data-load-tip.none, div.finish-load-tip.none {
    display: none; }
  div.data-load-tip.border-top, div.finish-load-tip.border-top {
    border-top: 1px solid #e0e0e0; }

div.data-load-tip:before {
  content: '';
  display: block;
  width: 0.778rem;
  height: 0.778rem;
  background-size: 0.778rem 0.778rem;
  background-image: url("../../images/common/loading.gif");
  background-repeat: no-repeat; }

div.finish-load-tip {
  background-color: #fff; }

div.pop-modal {
  position: fixed;
  width: 20rem;
  height: 100%;
  left: 50%;
  top: 0;
  bottom: 0;
  margin-left: -10rem;
  background: rgba(100, 100, 100, 0.7);
  z-index: 11;
  -webkit-transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  opacity: 0; }
  div.pop-modal.active {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  div.pop-modal > div.center-wrap {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

div.credit-tip-pop > div {
  width: 16.389rem;
  height: 9.889rem;
  border-radius: 0.22rem;
  background-color: #fff;
  overflow: hidden; }
  div.credit-tip-pop > div > h3 {
    height: 2.5rem;
    line-height: 2.5rem;
    margin-top: 0.5rem;
    text-align: center;
    color: #212121;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 1.167rem; }
  div.credit-tip-pop > div > div.tip {
    line-height: 1.4rem;
    margin: 0 1.222rem 0.9rem;
    color: #616161;
    font-size: 0.833rem; }
  div.credit-tip-pop > div > div.btn {
    height: 3.222rem;
    line-height: 3.222rem;
    border-top: 1px solid #e0e0e0; }
    div.credit-tip-pop > div > div.btn > a {
      display: block;
      float: left;
      width: 50%;
      height: 100%;
      text-align: center;
      font-size: 1rem;
      border-right: 1px solid #e0e0e0; }
      div.credit-tip-pop > div > div.btn > a.cancel {
        color: #616161; }
      div.credit-tip-pop > div > div.btn > a.get {
        color: #ff6666;
        border-right-width: 0; }

.recommend-label {
  overflow: hidden; }
  .recommend-label:after {
    content: '店长推荐';
    position: absolute;
    top: 0.7rem;
    left: -1.2rem;
    width: 5rem;
    height: 1.167rem;
    line-height: 1.167rem;
    font-size: .667rem;
    color: #fff;
    text-align: center;
    background: -webkit-gradient(linear, left 50%, right 50%, from(#ff725d), to(#fea03a));
    background: -webkit-linear-gradient(to right, #ff725d, #fea03a);
    background: -webkit-linear-gradient(left, #ff725d, #fea03a);
    background: linear-gradient(to right, #ff725d, #fea03a);
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

@-webkit-keyframes couponAni {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  25% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg); }
  75% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg); }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0); } }

@keyframes couponAni {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  25% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg); }
  75% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg); }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0); } }

.member-card {
  display: block;
  margin-top: .667rem;
  background-color: #fff;
  border-radius: .5rem;
  margin-left: .889rem;
  margin-right: .889rem; }
  .member-card > div:nth-of-type(1) {
    padding: .667rem .889rem 0;
    height: 5.722rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    background-size: 18.222rem 5.722rem;
    background-repeat: no-repeat; }
    .member-card > div:nth-of-type(1) > div:nth-of-type(1) {
      display: -webkit-box;
      display: -moz-box;
      -webkit-box-align: center;
      -moz-box-align: center; }
      .member-card > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) {
        width: 1.333rem;
        height: 1.333rem;
        border-radius: 50%;
        background-size: 1.333rem 1.333rem;
        background-repeat: no-repeat; }
      .member-card > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) {
        -webkit-box-flex: 1;
        box-flex: 1;
        font-size: .889rem;
        padding-left: .5rem; }
    .member-card > div:nth-of-type(1) > div:nth-of-type(2) {
      margin-top: 1rem;
      display: -webkit-box;
      display: -moz-box;
      -webkit-box-align: end;
      -moz-box-align: end; }
      .member-card > div:nth-of-type(1) > div:nth-of-type(2) > div {
        text-align: right;
        color: #fff; }
        .member-card > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) {
          -webkit-box-flex: 1;
          box-flex: 1; }
          .member-card > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) > span {
            font-size: 2.778rem; }
            .member-card > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) > span.vip {
              font-size: 2rem;
              font-style: italic; }
        .member-card > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) {
          -webkit-box-flex: 4;
          box-flex: 4;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: .889rem; }
  .member-card > div:nth-of-type(2) {
    border: 1px solid #e0e0e0;
    border-top: none;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    padding: 0 .889rem;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-align: center;
    -moz-box-align: center; }
    .member-card > div:nth-of-type(2) > div:nth-of-type(1) {
      -webkit-box-flex: 1;
      box-flex: 1;
      font-size: .778rem;
      color: #212121; }
    .member-card > div:nth-of-type(2) > div:nth-of-type(2) {
      width: .889rem;
      height: .889rem;
      background-size: 0.889rem 0.889rem;
      background-image: url("../../images/account/ic_QR.png");
      background-repeat: no-repeat; }
  .member-card.tpl-01 > div:nth-of-type(1) {
    background-image: url("../../images/account/style-01.jpg"); }
    .member-card.tpl-01 > div:nth-of-type(1) > div:nth-of-type(1) {
      color: #fff; }
  .member-card.tpl-02 > div:nth-of-type(1) {
    background-image: url("../../images/account/style-05.jpg"); }
    .member-card.tpl-02 > div:nth-of-type(1) > div:nth-of-type(1) {
      color: #6a4228; }
  .member-card.tpl-03 > div:nth-of-type(1) {
    background-image: url("../../images/account/style-03.jpg"); }
    .member-card.tpl-03 > div:nth-of-type(1) > div:nth-of-type(1) {
      color: #584f55; }
  .member-card.tpl-04 > div:nth-of-type(1) {
    background-image: url("../../images/account/style-04.jpg"); }
    .member-card.tpl-04 > div:nth-of-type(1) > div:nth-of-type(1) {
      color: #d06200; }
  .member-card.tpl-05 > div:nth-of-type(1) {
    background-image: url("../../images/account/style-05.jpg"); }
    .member-card.tpl-05 > div:nth-of-type(1) > div:nth-of-type(1) {
      color: #252d3b; }
  .member-card.tpl-06 > div:nth-of-type(1) {
    background-image: url("../../images/account/style-06.jpg"); }
    .member-card.tpl-06 > div:nth-of-type(1) > div:nth-of-type(1) {
      color: #fff; }
