@import "../common/common.scss";
#_content>#bindPhone {
  #content {
    width: 100%;
    height: 100%;
    background: #ededed;
    overflow: hidden;
    &>div{
      width: 100%;
      &>div:nth-of-type(2){
        margin-top:0.611rem;
        padding:0 0.722rem;
        background-color: #ffffff;
        border-bottom: 1px solid #d9d9d9;
        box-sizing: border-box;
        width:100%;
        &>div{
          height:2.611rem;
          position: relative;
          width:100%;
          &>div{
            width:0.75rem;
            height:0.972rem;
            position: absolute;
            left:0;
            top:50%;
            margin-right:0.5rem;
            margin-top:-0.486rem;
          }
          &>input{
            width:100%;
            font-size:0.888rem;
            box-sizing: border-box;
            height:1.4rem;
            line-height:1.4rem;
            margin-top:0.605rem;
            padding-top:0.2rem;
          }
        }
        &>div:nth-of-type(1){
          border-bottom:1px solid #f0f0f0;
          &>div{
            @include img('../../../img/login/tel_icon.png', 0.75rem 0.972rem);
          }
          &>span{
            position: absolute;
            left:1.4rem;
            color:#4d4d4d;
            font-size:0.888rem;
            display: inline-block;
            height:1.4rem;
            top:50%;
            margin-top:-0.7rem;
          }
          &>input{
            padding-left:3.2rem;
          }
        }
      }
      &>div:nth-of-type(3){
        background-color: #bebebe;
        margin:2.25rem 0.722rem 0;
        letter-spacing: 1px;
        color:#ffffff;
        font-size:0.888rem;
        height:2.472rem;
        line-height:2.472rem;
        text-align: center;
        border-radius: 0.166rem;
        &.active{
          background-color: #fb5549;
        }
      }
    }
  }

  #bindPhoneDialog{
    display: none;
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
    //@include scale(0,0);
    &>div{
      /*height:6.756rem;*/
      width:16.667rem;
      position: absolute;
      top:50%;
      left:50%;
      margin-top:-3.378rem;
      margin-left:-8.3335rem;
      background-color: #fff;
      color:#4d4d4d;
      font-size:0.889rem;
      overflow: hidden;
      -webkit-border-radius:.5rem;
      -moz-border-radius:.5rem;
      border-radius:.5rem;
      //opacity: 0;
      @include ty(0,0,4px,4px,#908f8f);
      //@include scale(0,0);
      //@include tOrigin(50% 50%);
      //@include transition(all 0.4s);
      &>div:nth-of-type(1){
        text-align: center;
        box-sizing: border-box;
        border-bottom: 1px solid #d9d9d9;
        padding: 1.472rem 0;
        >p:nth-of-type(1){
          line-height: 1;
          margin-top: 0;
          font-size: 1.056rem;
          font-weight: bold;
          color: #222;
          margin-bottom: .667rem;
        }
        >p:nth-of-type(2){
          line-height: 1.5;
          color: #060606;
          font-size: .778rem;
          margin-top: .667rem;
          margin-bottom: 0;
          padding: 0 1.889rem;
        }
      }
      &>div:nth-of-type(2){
        /*height:2.5rem;*/
        overflow: hidden;
        &>a{
          display: block;
          width:50%;
          float: left;
          box-sizing: border-box;
          text-align: center;
          line-height: 2.806rem;
          font-size: 1rem;
          &:nth-of-type(1){
            color:#fff;
            background-color: #ff5549;
          }
          &:nth-of-type(2){
            background-color: #ebebeb;
          }
        }
      }
    }
    &.active{
      display: block;
      //@include scale(1,1);
      //&>div{
      //@include scale(1,1);
      //opacity: 1;
      //}
    }
  }
}