@import "../common/common.scss";

#_content>#follow9358 {
  #content {
    width: 20rem;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #ebebeb;
    padding-top:.722rem;
    text-align: center;
    >div{
      width:18.667rem;
      display: inline-block;
      text-align: left;
      padding-bottom:.722rem;
      >div{
        &:nth-of-type(1){
          background-color: #fff;
          padding-bottom: 1.667rem;
          position: relative;
          >div{
            box-sizing: border-box;
            &:nth-of-type(1){
              height: 3.5rem;
              @include img('../../../img/follow9358/card_top.jpg',18.667rem 3.5rem);
              @include sx();
              padding: 0 .667rem;
              >div{
                &:nth-of-type(1){
                  /*box-sizing: border-box;*/
                  width: 2.5rem;
                  height: 2.5rem;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  border-radius: 50%;
                  border:2px solid rgba(255,255,255,.5);
                  @include imgBgFix(2.5rem 2.5rem);
                  margin-right: .889rem;
                }
                &:nth-of-type(2){
                  @include boxFlex(1);
                  font-size: .889rem;
                  color: #FFFFFF;
                  @include sx();
                  >div{
                    &:nth-of-type(1){
                      max-width: 10rem;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                    }
                    &:nth-of-type(2){
                      margin-left:.5rem;
                      width: 2.389rem;
                      height: .833rem;
                      text-align: center;
                      line-height: .833rem;
                      font-size: .556rem;
                      @include img('../../../img/follow9358/tech_code_bg.png',2.389rem .833rem);
                    }
                  }
                }
              }
            }
            &:nth-of-type(2){
              height: 5.417rem;
              margin:0 .472rem;
              border-bottom: 1px dashed;
              @include wq();
              >div{
                width: 3.833rem;
                height: 3.833rem;
                margin-right: .667rem;
                &:last-child{
                  margin-right:0;
                }
                @include imgBgFix(3.833rem  3.833rem);
                -webkit-border-radius: .25rem;
                -moz-border-radius: .25rem;
                border-radius: .25rem;
              }
              &.club{
                >div{
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  border-radius: 50%;
                }
              }
            }
            &:nth-of-type(3){
              height: 4.056rem;
              margin:1.417rem .972rem 0;
              @include img('../../../img/follow9358/voucher.png',16.722rem 4.056rem);
              background-position: center;
              padding-top: .194rem;
              display: none;
              &.club{
                display: block;
              }
              >div{
                height: 3.056rem;
                @include sx();
                >div{
                  &:nth-of-type(1){
                    width: 4.5rem;
                    color: #f3e2a1;
                    font-size: 1rem;
                    text-align: center;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    padding: 0 0.3rem;
                    box-sizing: border-box;
                  }
                  &:nth-of-type(2){
                    @include boxFlex(1);
                    @include sx();
                    padding:0 1rem 0 1.2rem;
                    color: #f05a54;
                    >div{
                      &:nth-of-type(1){
                        @include boxFlex(1);
                        @include x();
                        >div{
                          &:nth-of-type(1){
                            font-size: .778rem;
                            line-height: 1;
                          }
                          &:nth-of-type(2){
                            font-size: 1.667rem;
                          }
                        }
                      }
                      &:nth-of-type(2){
                        width: 5.2rem;
                        font-size: .722rem;
                        padding-left: .2rem;
                        line-height:1.2;
                      }
                    }
                  }
                }
              }
            }
            &:nth-of-type(4){
              height: 12.278rem;
              @include img('../../../img/follow9358/bg_erweima.jpg',15.25rem 12.278rem);
              background-position: center;
              @include wq();
              >img{
                width: 7.333rem;
                height: 7.333rem;
              }
            }
            &:nth-of-type(5){
              height: 2.556rem;
              @include img('../../../img/follow9358/box.jpg',11.083rem 2.556rem);
              background-position: center;
              padding: 0 3.694rem 0 5.972rem;
              >div{
                height: 2.556rem;
                color: #616161;
                font-size: .778rem;
                //text-align: center;
                padding-left: .944rem;
                >div{
                  height: 1.278rem;
                  line-height: 1.278rem;
                }

                &.club{
                  padding-left: 1.5rem;
                }
              }
            }
          }

          &:before,&:after{
            content: ' ';
            display: block;
            position: absolute;
            width: .833rem;
            height: .833rem;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background-color: #ebebeb;
            top: 8.5rem;
          }
          &:before{
            left: -.417rem;
          }
          &:after{
            right: -.417rem;
          }
        }
        &:nth-of-type(2){
          height: 1.667rem;
          @include img('../../../img/follow9358/card_bottom.png',18.667rem 1.667rem);
        }
      }
    }

    .hide{
      display: none !important;
    }
  }

  #_picture {
    @include mask();
    background: #383838;
    @include wq();
    @supports (display: -moz-box) {
      display: flex;
    }
    z-index: 3;
    > div:nth-of-type(1) {
      transition-duration: 0ms;
      -webkit-transition-duration: 0ms;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -o-transform: translate(0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      position: relative;
      width: 100%;
      @include gpu();
      @include syzj();
      @supports (display: -moz-box) {
        display: flex;align-items: center;
      }
      > * {
        float: left;
        width: 20rem;
        height: 20rem;

        @include gpu();
        -webkit-flex-shrink: 0;
        -ms-flex: 0 0 auto;
        flex-shrink: 0;
        position: relative;

        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
    }
    > div:nth-of-type(2) {
      position: absolute;
      text-align: center;
      //z-index: 10;
      bottom: 10px;
      left: 0;
      width: 100%;
      > span {
        margin: 0 0.1rem;
        width: 0.5rem;
        height: 0.5rem;
        display: inline-block;
        border-radius: 100%;
        background: #000;
        opacity: .2;
        &.active {
          opacity: 1;
          background: #007aff;
        }
      }
    }
  }
}