@import "../common/common.scss";

#_content>#promotionsActivity {
  #content {
    > div {
      width: 20rem;
      &:nth-of-type(1) {
        //margin-bottom: 0.556rem;
        border-bottom: 1px solid #d9d9d9;
        > div {
          width: 20rem;
          &:nth-of-type(1) {
            height: 10rem;
            @include imgBgFix(20rem 10rem);
            //background: url('img/test/test0.jpg') 0 0/20rem 10rem no-repeat;
            > div {
              //position: absolute;
              //right: 1.333rem;
              position: relative;
              right: -15.667rem;
              width: 2.222rem;
              height: 3rem;
              @include img('../../../img/promotionsActivity/top_icon.png',2.222rem 3rem);
              /*> div {
                &:nth-of-type(1) {
                  width: 2.222rem;
                  height: 2.444rem;
                  background: #c62020;
                  padding-top: 0.5rem;
                  > div {
                    @include jb(0, 0, rgba(0, 0, 0, 0.5), 0, 30%, rgba(0, 0, 0, 0));
                    color: #fff;
                    font-size: 0.778rem;
                    line-height: 1rem;
                    text-align: center;
                    padding-top: 0.5rem;
                    margin-top: -0.5rem;
                  }
                }
                &:nth-of-type(2) {
                  border-left: 1.111rem solid #c62020;
                  border-right: 1.111rem solid #c62020;
                  border-bottom: 0.556rem solid transparent;
                }
              }*/
            }
          }
          &:nth-of-type(2) {
            padding: 0.667rem;
            width: 18.666rem;
            background: #fff;
            color: #666;
            > div {
              padding: 0.667rem 0;
              &:nth-of-type(1) {
                position: relative;
                width: 18.666rem;
                height: 1.444rem;
                font-size: 0.889rem;
                background: #fff;
                @include sx();
                border-bottom: 1px solid #eee;
                padding-top: 0;
                >div{
                  width: 1.056rem;
                  height: 1.056rem;
                  @include img('../../../img/promotionsActivity/title_icon.png',1.056rem 1.056rem);
                }
                >span{
                  padding-left: 0.444rem;
                  color: #fd9b33;
                  font-size: 1rem;
                  width: 12.5rem;
                  display: block;
                  @include sl();
                }
                >a{
                  display: block;
                  position: absolute;
                  width: 4.389rem;
                  height: 1.667rem;
                  background: #fb5549;
                  color: #fff;
                  border-radius: 3px;
                  font-size: 0.778rem;
                  line-height:1.667rem;
                  text-align: center;
                  top:0;
                  right:0.05rem;
                }
              }
              &:nth-of-type(2) {
                background: #fff;
                //margin-bottom: 0.5rem;
                height: 1rem;
                line-height: 1rem;
                @include sx();
                > div {
                  &:nth-of-type(1) {
                    width: 0.444rem;
                    height: 0.444rem;
                    background: #ee5d40;
                    border-radius: 100%;
                    box-sizing: border-box;
                  }
                  &:nth-of-type(2) {
                    @include sx();
                    font-size: 0.889rem;
                    //height: 1.889rem;
                    //border-left: 0.167rem solid #4bdcab;
                    //border-bottom: 1px solid #eeeeee;
                    padding-left: 0.444rem;
                    //float: left;
                  }
                  &:nth-of-type(3) {
                    font-size: 0.889rem;
                    display: inline-block;
                  }
                }
              }
              &:nth-of-type(3) {
                background: #fff;
                //margin-bottom: 0.5rem;
                line-height: 1rem;
                padding: 0;
                > div {
                  &:nth-of-type(1) {
                    @include sx();
                    margin-bottom: 0.667rem;
                    >div{
                      &:nth-of-type(1) {
                        width: 0.444rem;
                        height: 0.444rem;
                        background: #ee5d40;
                        border-radius: 100%;
                        box-sizing: border-box;
                      }
                      &:nth-of-type(2) {
                        //@include sx();
                        font-size: 0.889rem;
                        //height: 1.889rem;
                        height: 1rem;
                        //border-left: 0.167rem solid #4bdcab;
                        //border-bottom: 1px solid #eeeeee;
                        padding-left: 0.5rem;
                      }
                    }

                  }
                  &:nth-of-type(2) {
                    font-size: 0.889rem;
                    word-break: break-all;
                    line-height: 1.3rem;
                  }
                }
              }
            }
          }
        }
      }


      &:nth-of-type(2) {
        margin-bottom: 0.389rem;
        > div {
          &:nth-of-type(1) {
            @include sx();
            height: 2.194rem;
            background: #eee;
            border-bottom: 1px solid #d9d9d9;
            >div{
              &:nth-of-type(1){
                width: 0.333rem;
                height: 1rem;
                background: #fd9b33;
                margin:0 0.667rem;
              }
              &:nth-of-type(2){
                font-size: 1rem;
                //border-left: 0.167rem solid #4bbcdc;
                //padding-left: 0.444rem;
                color: #666;
              }
            }
          }
          &:nth-of-type(2) {
            > div {
              width: 100%;
              height: 13.278rem;
              border-bottom: 1px solid #d9d9d9;
              margin-bottom: 0.472rem;
              background: #fff;
              &.active {
                display: none;
              }
              >div{
                width: 100%;
                &:nth-of-type(1){
                  height: 10rem;
                  @include imgBgFix(20rem 10rem);
                  >div{
                    width: 100%;
                    height: 100%;
                    @include jb(0, 100%, rgba(0, 0, 0, 0.5), 0, 55%, rgba(0, 0, 0, 0));
                  }
                }
                &:nth-of-type(2){
                  >div{
                    @include sx();
                    &:nth-of-type(1){
                      margin-top: 0.278rem;
                      >div{
                        width: 1.056rem;
                        height: 1.056rem;
                        @include img('../../../img/promotionsActivity/title_icon.png',1.056rem 1.056rem);
                        margin: 0 0.667rem;
                      }
                      >span{
                        //padding-left: 0.444rem;
                        color: #fd9b33;
                        font-size: 0.889rem;
                      }
                    }
                    &:nth-of-type(2){
                      >div{
                        color: #4c4c4c;
                        font-size: 0.889rem;
                        margin-left: 0.667rem;
                        width: 18.249rem;
                      }
                      >a{
                        width: 0.417rem;
                        height: 0.639rem;
                        @include img('../../../img/right_icon.png',0.417rem 0.639rem);
                        //margin: 0 0.667rem;
                        display: block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}