div.bind-phone-dialog > div {
  width: 16.667rem;
  margin-top: -3.378rem;
  margin-left: -8.3335rem;
  background-color: #fff;
  color: #4d4d4d;
  font-size: 0.889rem;
  overflow: hidden;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0 4px 4px #908f8f;
  -moz-box-shadow: 0 0 4px 4px #908f8f;
  -ms-shadow: 0 0 4px 4px #908f8f;
  -o-shadow: 0 0 4px 4px #908f8f;
  box-shadow: 0 0 4px 4px #908f8f; }
  div.bind-phone-dialog > div > div:nth-of-type(1) {
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
    padding: 1.472rem 0; }
    div.bind-phone-dialog > div > div:nth-of-type(1) > p:nth-of-type(1) {
      line-height: 1;
      margin-top: 0;
      font-size: 1.056rem;
      font-weight: bold;
      color: #222;
      margin-bottom: .667rem; }
    div.bind-phone-dialog > div > div:nth-of-type(1) > p:nth-of-type(2) {
      line-height: 1.5;
      color: #060606;
      font-size: .778rem;
      margin-top: .667rem;
      margin-bottom: 0;
      padding: 0 1.889rem; }
  div.bind-phone-dialog > div > div:nth-of-type(2) {
    overflow: hidden; }
    div.bind-phone-dialog > div > div:nth-of-type(2) > a {
      display: block;
      width: 50%;
      float: left;
      box-sizing: border-box;
      text-align: center;
      line-height: 2.806rem;
      font-size: 1rem; }
      div.bind-phone-dialog > div > div:nth-of-type(2) > a:nth-of-type(1) {
        color: #fff;
        background-color: #ff5549; }
      div.bind-phone-dialog > div > div:nth-of-type(2) > a:nth-of-type(2) {
        background-color: #ebebeb; }
