div.club-list-page div.search {
  position: relative;
  font-size: .778rem;
  padding: 0 .667rem;
  border-bottom: 1px solid #d9d9d9; }

div.club-list-page div.list {
  overflow-y: auto; }

div.club-list-page div.search-title > input {
  position: absolute;
  height: 1.6rem;
  width: 13.278rem;
  left: 45%;
  top: 50%;
  padding: 0 .5rem 0 1.5rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: .667rem;
  background-size: 0.778rem 0.75rem;
  background-image: url("../../images/clubList/search2.png?base64");
  background-repeat: no-repeat;
  background-position: .3rem center; }

div.club-list-page div.search-title > div {
  position: absolute;
  top: 50%;
  right: .667rem;
  height: 1.6rem;
  padding: 0 .7rem;
  margin-top: -0.8rem;
  line-height: 1.6rem;
  border-radius: 5px;
  background-color: #fb5549;
  color: #fff;
  font-size: .778rem; }

div.club-list-page div.tags {
  background-color: #fff;
  margin-bottom: .667rem; }
  div.club-list-page div.tags > div {
    padding: 0 .667rem;
    height: 1.722rem;
    line-height: 1.722rem;
    font-size: .778rem;
    color: #616161;
    border-bottom: 1px solid #d8d8d8; }
  div.club-list-page div.tags > ul {
    padding: 1.056rem .667rem .389rem; }
    div.club-list-page div.tags > ul > li {
      display: inline-block;
      text-align: center;
      height: 1.722rem;
      line-height: 1.722rem;
      margin-right: .667rem;
      margin-bottom: .667rem;
      padding: 0 .5rem;
      border: 1px solid #d2d2d2;
      border-radius: .833rem;
      font-size: .833rem;
      color: #4d4d4d;
      float: left; }

div#club-list-nearby-page div.search {
  padding-top: .444rem;
  padding-bottom: .444rem; }
  div#club-list-nearby-page div.search > a, div#club-list-nearby-page div.search div {
    border-radius: 4px;
    border: 1px solid #999;
    height: 1.667rem;
    line-height: 1.667rem;
    text-align: center; }
  div#club-list-nearby-page div.search > a {
    position: absolute;
    width: 3.972rem;
    background: #fff;
    border-color: #f66;
    color: #f66; }
  div#club-list-nearby-page div.search > div {
    margin-left: 4.444rem;
    background-color: #fff;
    color: #8e8e93; }
    div#club-list-nearby-page div.search > div > span {
      display: inline-block;
      background-size: 0.833rem 0.833rem;
      background-image: url("../../images/clubList/search2.png");
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 1.2rem; }

div#club-list-nearby-page div.title {
  height: 2.222rem;
  line-height: 2.222rem;
  font-size: .889rem;
  color: #616161;
  border-bottom: 1px solid #d8d8d8;
  background-color: #fff;
  padding: 0 .667rem; }
  div#club-list-nearby-page div.title > a {
    float: right;
    font-size: .778rem;
    color: #999;
    padding-right: .2rem; }
    div#club-list-nearby-page div.title > a:after {
      content: "";
      display: inline-block;
      width: .43rem;
      height: .43rem;
      border-left: .1rem solid #999;
      border-bottom: .1rem solid #999;
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg); }

div#club-list-nearby-page div.list div.view-all {
  margin-top: .556rem;
  background: #fff;
  height: 2rem;
  text-align: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  color: #666;
  font-size: .887rem;
  line-height: 2rem; }

div#club-list-all-page div.filter-title {
  height: 2.278rem;
  border-bottom: 1px solid #d9d9d9;
  background-color: #f3f0eb;
  color: #666;
  font-size: 0.778rem;
  padding-top: 0.361rem;
  overflow: visible; }
  div#club-list-all-page div.filter-title.ani {
    height: 0;
    padding: 0;
    overflow: hidden; }
  div#club-list-all-page div.filter-title > div {
    width: 6.638rem;
    height: 1.556rem;
    box-sizing: border-box;
    text-align: center;
    float: left;
    position: relative; }
  div#club-list-all-page div.filter-title > div:nth-of-type(1), div#club-list-all-page div.filter-title > div:nth-of-type(2), div#club-list-all-page div.filter-title > div:nth-of-type(3) {
    z-index: 99; }
    div#club-list-all-page div.filter-title > div:nth-of-type(1) > div, div#club-list-all-page div.filter-title > div:nth-of-type(2) > div, div#club-list-all-page div.filter-title > div:nth-of-type(3) > div {
      width: 0.38rem;
      height: 0.38rem;
      display: inline-block;
      border-left: 0.1rem solid #999;
      border-bottom: 0.1rem solid #999;
      margin-left: 0.25rem;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
    div#club-list-all-page div.filter-title > div:nth-of-type(1) > ul, div#club-list-all-page div.filter-title > div:nth-of-type(2) > ul, div#club-list-all-page div.filter-title > div:nth-of-type(3) > ul {
      position: absolute;
      list-style-type: none;
      margin: 0;
      padding: 0;
      top: 1.917rem;
      left: 0.36rem;
      opacity: 0;
      -webkit-transform: scale(1, 0);
      transform: scale(1, 0);
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%; }
      div#club-list-all-page div.filter-title > div:nth-of-type(1) > ul > li, div#club-list-all-page div.filter-title > div:nth-of-type(2) > ul > li, div#club-list-all-page div.filter-title > div:nth-of-type(3) > ul > li {
        background-color: #fff;
        height: 2.222rem;
        width: 6.611rem;
        margin: 0;
        line-height: 2.222rem;
        border-left: 1px solid #fb5549;
        border-right: 1px solid #fb5549;
        border-bottom: 1px solid #fb5549;
        text-align: center;
        color: #666;
        font-size: 0.667rem;
        letter-spacing: 1px; }
        div#club-list-all-page div.filter-title > div:nth-of-type(1) > ul > li:nth-of-type(1), div#club-list-all-page div.filter-title > div:nth-of-type(2) > ul > li:nth-of-type(1), div#club-list-all-page div.filter-title > div:nth-of-type(3) > ul > li:nth-of-type(1) {
          position: relative;
          border-top: 1px solid #fb5549; }
          div#club-list-all-page div.filter-title > div:nth-of-type(1) > ul > li:nth-of-type(1):before, div#club-list-all-page div.filter-title > div:nth-of-type(1) > ul > li:nth-of-type(1):after, div#club-list-all-page div.filter-title > div:nth-of-type(2) > ul > li:nth-of-type(1):before, div#club-list-all-page div.filter-title > div:nth-of-type(2) > ul > li:nth-of-type(1):after, div#club-list-all-page div.filter-title > div:nth-of-type(3) > ul > li:nth-of-type(1):before, div#club-list-all-page div.filter-title > div:nth-of-type(3) > ul > li:nth-of-type(1):after {
            content: "";
            display: block;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            height: 0;
            position: absolute;
            left: 4.145rem; }
          div#club-list-all-page div.filter-title > div:nth-of-type(1) > ul > li:nth-of-type(1):before, div#club-list-all-page div.filter-title > div:nth-of-type(2) > ul > li:nth-of-type(1):before, div#club-list-all-page div.filter-title > div:nth-of-type(3) > ul > li:nth-of-type(1):before {
            border-bottom: 10px solid #fb5549;
            top: -10px; }
          div#club-list-all-page div.filter-title > div:nth-of-type(1) > ul > li:nth-of-type(1):after, div#club-list-all-page div.filter-title > div:nth-of-type(2) > ul > li:nth-of-type(1):after, div#club-list-all-page div.filter-title > div:nth-of-type(3) > ul > li:nth-of-type(1):after {
            border-bottom: 10px solid #fff;
            top: -8.5px; }
          div#club-list-all-page div.filter-title > div:nth-of-type(1) > ul > li:nth-of-type(1).selected:after, div#club-list-all-page div.filter-title > div:nth-of-type(2) > ul > li:nth-of-type(1).selected:after, div#club-list-all-page div.filter-title > div:nth-of-type(3) > ul > li:nth-of-type(1).selected:after {
            border-bottom-color: #fb5549; }
        div#club-list-all-page div.filter-title > div:nth-of-type(1) > ul > li.selected, div#club-list-all-page div.filter-title > div:nth-of-type(2) > ul > li.selected, div#club-list-all-page div.filter-title > div:nth-of-type(3) > ul > li.selected {
          background-color: #fb5549;
          color: #fff; }
    div#club-list-all-page div.filter-title > div:nth-of-type(1).active, div#club-list-all-page div.filter-title > div:nth-of-type(2).active, div#club-list-all-page div.filter-title > div:nth-of-type(3).active {
      color: #fb5549; }
      div#club-list-all-page div.filter-title > div:nth-of-type(1).active > div, div#club-list-all-page div.filter-title > div:nth-of-type(2).active > div, div#club-list-all-page div.filter-title > div:nth-of-type(3).active > div {
        border-left-color: #fb5549;
        border-bottom-color: #fb5549;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      div#club-list-all-page div.filter-title > div:nth-of-type(1).active > ul, div#club-list-all-page div.filter-title > div:nth-of-type(2).active > ul, div#club-list-all-page div.filter-title > div:nth-of-type(3).active > ul {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1); }
  div#club-list-all-page div.filter-title > div:nth-of-type(1) {
    border-right: 1px solid #d9d9d9; }
  div#club-list-all-page div.filter-title > div:nth-of-type(2) {
    border-right: 1px solid #d9d9d9; }
    div#club-list-all-page div.filter-title > div:nth-of-type(2) > div {
      left: 4.6rem; }
    div#club-list-all-page div.filter-title > div:nth-of-type(2) > ul > li:nth-of-type(1):before, div#club-list-all-page div.filter-title > div:nth-of-type(2) > ul > li:nth-of-type(1):after {
      left: 4rem; }
  div#club-list-all-page div.filter-title > div:nth-of-type(3) {
    width: 6.6rem; }
    div#club-list-all-page div.filter-title > div:nth-of-type(3) > div {
      left: 4rem; }
    div#club-list-all-page div.filter-title > div:nth-of-type(3) > ul {
      left: 0; }
      div#club-list-all-page div.filter-title > div:nth-of-type(3) > ul > li {
        width: 6.5rem; }
      div#club-list-all-page div.filter-title > div:nth-of-type(3) > ul > li:nth-of-type(1):before, div#club-list-all-page div.filter-title > div:nth-of-type(3) > ul > li:nth-of-type(1):after {
        left: 3.7rem; }

div#club-list-search-page {
  overflow-y: auto; }
  div#club-list-search-page div.club-list, div#club-list-search-page div.tech-list {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0; }
  div#club-list-search-page div.club-list {
    margin-bottom: 0.667rem; }
    div#club-list-search-page div.club-list div.finish-load-tip {
      border-top: 1px solid #e0e0e0; }
  div#club-list-search-page div.tech-list {
    border-top: 1px solid #e0e0e0; }
  div#club-list-search-page div.list-title {
    height: 2.222rem;
    line-height: 2.222rem;
    font-size: .889rem;
    color: #616161;
    padding-left: .667rem;
    border-bottom: 1px solid #e0e0e0; }
  div#club-list-search-page div.view-more {
    height: 1.944rem;
    line-height: 1.944rem;
    margin-top: -0.222rem;
    text-align: center;
    background-color: #fff; }
    div#club-list-search-page div.view-more > span {
      display: inline-block;
      padding-left: 1.5rem;
      color: #5a6c7e;
      font-size: .778rem;
      background-size: 0.778rem 0.75rem;
      background-image: url("../../images/clubList/search2.png");
      background-repeat: no-repeat;
      background-position: 0 center; }
    div#club-list-search-page div.view-more.loading-data > span {
      background-size: 0.778rem 0.778rem;
      background-image: url("../../images/common/loading.gif");
      background-repeat: no-repeat; }
