div#comment-page {
  padding-bottom: 3rem; }
  div#comment-page div.wrap {
    padding: 0 0.667rem 0.667rem;
    background-color: #fff; }
    div#comment-page div.wrap > div.title {
      height: 1.778rem;
      font-size: .889rem;
      color: #333;
      line-height: 1.778rem;
      padding: 0; }
      div#comment-page div.wrap > div.title > span {
        font-size: .778rem;
        color: #999; }
  div#comment-page div.thanks {
    display: none;
    margin-bottom: 0.667rem;
    padding: 1.4305rem 0;
    margin-top: 0;
    border-top: none; }
    div#comment-page div.thanks > div > div {
      margin: 0 auto; }
      div#comment-page div.thanks > div > div:nth-of-type(1) {
        width: 3.056rem;
        height: 3.056rem;
        background-size: 3.056rem 3.056rem;
        background-image: url("../../images/common/loading_page.png");
        background-repeat: no-repeat; }
      div#comment-page div.thanks > div > div:nth-of-type(2) {
        font-size: 0.889rem;
        color: #fb5549;
        text-align: center; }
  div#comment-page div.tech-info-wrap {
    padding: 1rem 2.778rem 0;
    background: #fff;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-align: start;
    -moz-box-align: start; }
    div#comment-page div.tech-info-wrap:before, div#comment-page div.tech-info-wrap:after {
      content: "";
      display: block;
      -webkit-box-flex: 1;
      box-flex: 1;
      border-top: 1px solid #ccc;
      margin-top: 1.778rem; }
    div#comment-page div.tech-info-wrap > a {
      display: block;
      margin: 0 .5rem; }
      div#comment-page div.tech-info-wrap > a > div:nth-of-type(1) {
        width: 3.556rem;
        height: 3.556rem;
        margin: 0 auto;
        background-size: 3.556rem 3.556rem;
        background-repeat: no-repeat;
        border-radius: 50%;
        border: 1px solid #bc7a22; }
      div#comment-page div.tech-info-wrap > a > div:nth-of-type(2) {
        margin-top: .2rem;
        display: -webkit-box;
        display: -moz-box;
        -webkit-box-align: center;
        -moz-box-align: center; }
        div#comment-page div.tech-info-wrap > a > div:nth-of-type(2) > div {
          color: #616161; }
          div#comment-page div.tech-info-wrap > a > div:nth-of-type(2) > div:nth-of-type(1) {
            -webkit-box-flex: 1;
            box-flex: 1;
            font-size: .889rem;
            min-width: 2.433rem;
            max-width: 7rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: right; }
          div#comment-page div.tech-info-wrap > a > div:nth-of-type(2) > div:nth-of-type(2) {
            margin-left: .5rem;
            min-width: 2.433rem;
            height: .722rem;
            line-height: .722rem;
            font-size: .556rem;
            box-sizing: border-box;
            border: 1px solid #616161;
            border-radius: .361rem;
            text-align: center; }
  div#comment-page div.comment-info > div.item {
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-align: center;
    -moz-box-align: center;
    font-size: .778rem;
    color: #4d4d4d; }
    div#comment-page div.comment-info > div.item > div:nth-of-type(1) {
      text-align: right;
      -webkit-box-flex: 1;
      box-flex: 1; }
    div#comment-page div.comment-info > div.item > div:nth-of-type(2), div#comment-page div.comment-info > div.item > div:nth-of-type(2) > div {
      width: 9.278rem;
      height: 1.083rem;
      background-size: 9.278rem 1.083rem;
      background-repeat: no-repeat; }
    div#comment-page div.comment-info > div.item > div:nth-of-type(2) {
      margin: 0 1rem 0 1.8rem;
      position: relative;
      top: -.1rem;
      background-image: url("../../images/comment/star-null-2.png"); }
      div#comment-page div.comment-info > div.item > div:nth-of-type(2) > div {
        background-image: url("../../images/comment/star-selected-2.png"); }
    div#comment-page div.comment-info > div.item > div:nth-of-type(3) {
      width: 4rem;
      text-align: right;
      color: #ff9d09; }
  div#comment-page div.comment-impression {
    margin-top: .556rem;
    margin-bottom: 0.667rem; }
    div#comment-page div.comment-impression > div:nth-of-type(1) {
      height: 1.778rem;
      font-size: .889rem;
      color: #333;
      line-height: 1.778rem;
      margin: 0; }
      div#comment-page div.comment-impression > div:nth-of-type(1) > span {
        font-size: .778rem;
        color: #999; }
    div#comment-page div.comment-impression > div.comment-labels {
      padding: 0.4rem 0 0; }
      div#comment-page div.comment-impression > div.comment-labels:after {
        content: ' ';
        display: block;
        height: 0;
        clear: both; }
      div#comment-page div.comment-impression > div.comment-labels > div {
        display: inline-block;
        text-align: center;
        height: 1.778rem;
        line-height: 1.778rem;
        margin-right: .667rem;
        margin-bottom: .5rem;
        padding: 0 .5rem;
        border: 1px solid #d9d9d9;
        border-radius: .833rem;
        font-size: .833rem;
        color: #4d4d4d;
        float: left; }
        div#comment-page div.comment-impression > div.comment-labels > div.active {
          border-color: #ffbc56;
          color: #fff;
          background-color: #ffbc56; }
    div#comment-page div.comment-impression > div.comment-text {
      position: relative;
      width: 18.583rem;
      height: 5.389rem;
      border: 1px solid #d9d9d9;
      border-radius: .333rem;
      margin: 0; }
      div#comment-page div.comment-impression > div.comment-text > div {
        text-align: right;
        font-size: .722rem;
        line-height: 1;
        padding-right: .556rem; }
      div#comment-page div.comment-impression > div.comment-text > textarea {
        display: block;
        height: 3.549rem;
        width: 100%;
        padding: .528rem .556rem 0;
        margin-bottom: .528rem;
        border-radius: .333rem;
        color: #4d4d4d;
        font-size: 0.889rem;
        box-sizing: border-box;
        resize: none; }
        div#comment-page div.comment-impression > div.comment-text > textarea:-moz-read-only, div#comment-page div.comment-impression > div.comment-text > textarea:disabled {
          background: #fff;
          color: #333 !important; }
        div#comment-page div.comment-impression > div.comment-text > textarea:read-only, div#comment-page div.comment-impression > div.comment-text > textarea:disabled {
          background: #fff;
          color: #333 !important; }
      div#comment-page div.comment-impression > div.comment-text > span {
        position: absolute;
        top: .528rem;
        left: .556rem;
        font-size: .833rem;
        color: #999;
        line-height: 1;
        pointer-events: none;
        background-size: 0.639rem 0.861rem;
        background-image: url("../../images/comment/touch.png");
        background-repeat: no-repeat;
        background-position: 0 50%;
        padding-left: 1.056rem; }
        div#comment-page div.comment-impression > div.comment-text > span.none {
          display: none; }
  div#comment-page div.submit-btn {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 1px solid #ccc;
    background-color: #e0e0e0;
    height: 2.444rem;
    box-sizing: content-box;
    padding: 0.4305rem 0 0.4305rem 6.8rem; }
    div#comment-page div.submit-btn > div:nth-of-type(1) {
      position: absolute;
      left: 0.5rem;
      top: 0.866rem;
      padding-left: 1rem;
      font-size: .889rem;
      color: #212121;
      margin-right: 1.5rem;
      background-size: 0.889rem 0.889rem;
      background-repeat: no-repeat;
      background-position: left center;
      background-image: url("../../images/comment/check.png"); }
      div#comment-page div.submit-btn > div:nth-of-type(1).checked {
        background-image: url("../../images/comment/check_active.png"); }
    div#comment-page div.submit-btn > div:nth-of-type(2) {
      width: 12.612rem;
      margin: 0; }
      div#comment-page div.submit-btn > div:nth-of-type(2).processing {
        background-position-x: 25%; }
  div#comment-page.already-comment {
    padding-bottom: 0; }
    div#comment-page.already-comment div.thanks {
      display: block; }
    div#comment-page.already-comment div.attention-wrap {
      display: none; }
    div#comment-page.already-comment div.comment-impression {
      padding-bottom: 0;
      border-bottom: none; }
      div#comment-page.already-comment div.comment-impression div.comment-text > span, div#comment-page.already-comment div.comment-impression div.comment-text > div {
        display: none; }
    div#comment-page.already-comment div.submit-btn {
      display: none; }
