div#service-list-page div.category {
  background: #fff;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: .444rem; }
  div#service-list-page div.category > div {
    -webkit-box-shadow: 0 2px 2px 0px rgba(226, 226, 226, 0.8);
    -moz-box-shadow: 0 2px 2px 0px rgba(226, 226, 226, 0.8);
    -ms-shadow: 0 2px 2px 0px rgba(226, 226, 226, 0.8);
    -o-shadow: 0 2px 2px 0px rgba(226, 226, 226, 0.8);
    box-shadow: 0 2px 2px 0px rgba(226, 226, 226, 0.8);
    border-bottom: 1px solid;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-align: center;
    -moz-box-align: center;
    height: 2.167rem; }
    div#service-list-page div.category > div > div:nth-of-type(1) {
      width: 1.639rem;
      height: 1.556rem;
      margin: 0 0.667rem; }
    div#service-list-page div.category > div > div:nth-of-type(2) {
      font-size: 0.889rem;
      line-height: 1.3335rem; }
    div#service-list-page div.category > div.fp {
      border-bottom-color: #f17186; }
      div#service-list-page div.category > div.fp > div:nth-of-type(1) {
        background-size: 1.639rem 1.556rem;
        background-image: url("../../images/serviceItem/01.png");
        background-repeat: no-repeat; }
      div#service-list-page div.category > div.fp > div:nth-of-type(2) {
        color: #f17186; }
    div#service-list-page div.category > div.mp {
      border-bottom-color: #ff6902; }
      div#service-list-page div.category > div.mp > div:nth-of-type(1) {
        background-size: 1.639rem 1.556rem;
        background-image: url("../../images/serviceItem/02.png");
        background-repeat: no-repeat; }
      div#service-list-page div.category > div.mp > div:nth-of-type(2) {
        color: #ff6902; }
    div#service-list-page div.category > div.sp {
      border-bottom-color: #8ebe5f; }
      div#service-list-page div.category > div.sp > div:nth-of-type(1) {
        background-size: 1.639rem 1.556rem;
        background-image: url("../../images/serviceItem/03.png");
        background-repeat: no-repeat; }
      div#service-list-page div.category > div.sp > div:nth-of-type(2) {
        color: #8ebe5f; }
    div#service-list-page div.category > div.tm {
      border-bottom-color: #bc6b08; }
      div#service-list-page div.category > div.tm > div:nth-of-type(1) {
        background-size: 1.639rem 1.556rem;
        background-image: url("../../images/serviceItem/04.png");
        background-repeat: no-repeat; }
      div#service-list-page div.category > div.tm > div:nth-of-type(2) {
        color: #bc6b08; }
    div#service-list-page div.category > div.op {
      border-bottom-color: #fe5858; }
      div#service-list-page div.category > div.op > div:nth-of-type(1) {
        background-size: 1.639rem 1.556rem;
        background-image: url("../../images/serviceItem/05.png");
        background-repeat: no-repeat; }
      div#service-list-page div.category > div.op > div:nth-of-type(2) {
        color: #fe5858; }
    div#service-list-page div.category > div.lp {
      border-bottom-color: #c0ac4f; }
      div#service-list-page div.category > div.lp > div:nth-of-type(1) {
        background-size: 1.639rem 1.556rem;
        background-image: url("../../images/serviceItem/06.png");
        background-repeat: no-repeat; }
      div#service-list-page div.category > div.lp > div:nth-of-type(2) {
        color: #c0ac4f; }
  div#service-list-page div.category:last-child {
    margin-bottom: 0; }

div#service-list-page ul.service-list > li {
  border-bottom: 1px solid #f0f0f0;
  height: 3.944rem;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-align: center;
  -moz-box-align: center; }
  @supports (display: -moz-box) {
    div#service-list-page ul.service-list > li {
      float: inherit; } }
  div#service-list-page ul.service-list > li > div:nth-of-type(1) {
    width: 2.722rem;
    height: 2.722rem;
    background-size: 2.722rem 2.722rem;
    background-repeat: no-repeat;
    border-radius: 100%;
    margin: 0 0.667rem; }
  div#service-list-page ul.service-list > li > div:nth-of-type(2) > div {
    width: 14rem; }
    div#service-list-page ul.service-list > li > div:nth-of-type(2) > div:nth-of-type(1) {
      height: 1.111rem;
      line-height: 1.111rem;
      color: #4c4c4c;
      font-size: 0.889rem;
      margin-bottom: .667rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    div#service-list-page ul.service-list > li > div:nth-of-type(2) > div:nth-of-type(2) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 1;
      color: #999;
      font-size: 0.778rem; }
      div#service-list-page ul.service-list > li > div:nth-of-type(2) > div:nth-of-type(2) > span {
        margin-left: .833rem; }
        div#service-list-page ul.service-list > li > div:nth-of-type(2) > div:nth-of-type(2) > span > span {
          display: none; }
