@-webkit-keyframes colledAni {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate(0, -2.556rem);
    transform: translate(0, -2.556rem); } }

@keyframes colledAni {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate(0, -2.556rem);
    transform: translate(0, -2.556rem); } }

div#technician-detail-page {
  overflow-y: auto; }
  div#technician-detail-page div.top {
    height: 8rem;
    position: relative;
    background-size: 20rem 100%;
    background-image: url("../../images/technicianDetail/banner.jpg");
    background-repeat: no-repeat;
    color: #fff; }
    div#technician-detail-page div.top div.header {
      width: 3.111rem;
      height: 3.111rem;
      position: absolute;
      left: .667rem;
      top: 3.333rem; }
      div#technician-detail-page div.top div.header > div {
        position: relative;
        width: 3.389rem;
        height: 3.389rem;
        border-radius: 50%;
        border: .12rem solid #fff;
        background-size: 100%;
        background-repeat: no-repeat; }
        div#technician-detail-page div.top div.header > div::after {
          content: ' ';
          display: inline-block;
          width: 3.978rem;
          height: 3.978rem;
          position: absolute;
          top: -.4rem;
          left: -.4rem;
          border: 0.167rem solid rgba(255, 255, 255, 0.15);
          border-radius: 50%;
          box-sizing: border-box; }
    div#technician-detail-page div.top div.name {
      position: absolute;
      height: 1rem;
      left: 4.967rem;
      top: 4.2rem;
      font-size: 1rem;
      line-height: 1rem; }
      div#technician-detail-page div.top div.name > div {
        display: inline-block; }
        div#technician-detail-page div.top div.name > div:nth-of-type(1) {
          font-size: 1.111rem;
          text-shadow: 2px 2px 4px #9E9E9E; }
        div#technician-detail-page div.top div.name > div:nth-of-type(2) {
          padding: 0 0.3rem;
          font-size: .722rem;
          width: 3rem;
          height: 1.056rem;
          line-height: 1.056rem;
          margin-left: 0.2rem;
          background-color: rgba(0, 0, 0, 0.2);
          border-radius: .556rem;
          position: relative;
          top: -.1rem;
          border: 1px solid rgba(255, 255, 255, 0.6);
          text-align: center; }
        div#technician-detail-page div.top div.name > div:nth-of-type(3) {
          position: relative;
          top: -.1rem;
          width: 1.556rem;
          height: 1.056rem;
          line-height: 1.056rem;
          text-align: center;
          font-size: .722rem;
          margin-left: .222rem;
          border-radius: .556rem;
          background: #66cc66;
          border: 1px solid rgba(255, 255, 255, 0.6); }
          div#technician-detail-page div.top div.name > div:nth-of-type(3).busy {
            background: #ff6666; }
    div#technician-detail-page div.top div.favorite {
      position: absolute;
      top: .556rem;
      min-width: 3.75rem;
      height: 1.611rem;
      border-radius: .833rem;
      background-color: rgba(72, 68, 67, 0.4);
      right: .667rem;
      padding: .1rem .667rem;
      text-align: left; }
      div#technician-detail-page div.top div.favorite > div {
        display: inline-block; }
      div#technician-detail-page div.top div.favorite > div:nth-of-type(1) {
        width: .916rem;
        height: 1.416rem;
        background-position: center;
        float: left;
        background-size: 0.916rem 0.916rem;
        background-image: url("../../images/technicianDetail/uncollected.png");
        background-repeat: no-repeat; }
      div#technician-detail-page div.top div.favorite > div:nth-of-type(2) {
        display: inline-block;
        height: 1.611rem;
        line-height: 1.611rem;
        font-size: .833rem;
        margin-left: .25rem;
        min-width: 1.2rem;
        text-align: center;
        float: left; }
      div#technician-detail-page div.top div.favorite > span {
        display: none;
        position: absolute;
        color: #fff;
        font-size: .611rem;
        width: 2.2rem;
        top: 0;
        margin-left: -0.5rem;
        opacity: 0; }
        div#technician-detail-page div.top div.favorite > span.active {
          display: block;
          -webkit-animation: colledAni 3s;
          animation: colledAni 3s; }
      div#technician-detail-page div.top div.favorite.collected > div:nth-of-type(1) {
        background-size: 0.916rem 0.916rem;
        background-image: url("../../images/technicianDetail/collected.png");
        background-repeat: no-repeat; }
    div#technician-detail-page div.top div.desc {
      position: absolute;
      top: 5.6rem;
      left: 4.967rem;
      font-size: .722rem;
      max-width: 14.5rem;
      line-height: 1.2; }
  div#technician-detail-page div.pics {
    margin-bottom: 0;
    padding: .444rem 0;
    overflow-y: hidden;
    height: 4.667rem;
    overflow-x: auto;
    box-sizing: content-box; }
    div#technician-detail-page div.pics > div {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: -webkit-inline-flex;
      box-sizing: content-box; }
      div#technician-detail-page div.pics > div > * {
        -webkit-flex-shrink: 0;
        -ms-flex: 0 0 auto;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
      @supports (display: -moz-box) {
        div#technician-detail-page div.pics > div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start; }
          div#technician-detail-page div.pics > div > a {
            display: block;
            -webkit-flex-shrink: 0;
            -ms-flex: 0 0 auto;
            -ms-flex-negative: 0;
                flex-shrink: 0; } }
      div#technician-detail-page div.pics > div > a {
        display: block;
        width: 4.667rem;
        height: 4.667rem;
        margin-left: .444rem;
        background-size: 4.667rem 4.667rem;
        background-repeat: no-repeat;
        border-radius: 0.111rem; }
        div#technician-detail-page div.pics > div > a:last-child {
          margin-right: .444rem; }
  div#technician-detail-page a.comment, div#technician-detail-page a.view {
    display: block;
    height: 2.222rem;
    padding-left: 1.889rem;
    background: #fff;
    color: #4d4d4d;
    font-size: .778rem;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    line-height: 2.222rem;
    position: relative; }
    div#technician-detail-page a.comment div.icon, div#technician-detail-page a.view div.icon {
      width: .972rem;
      height: .972rem;
      position: absolute;
      top: 50%;
      margin-top: -.486rem;
      left: .611rem;
      background-size: 0.972rem 0.972rem;
      background-repeat: no-repeat; }
    div#technician-detail-page a.comment div.arrow, div#technician-detail-page a.view div.arrow {
      width: 1.5rem;
      height: 100%;
      position: absolute;
      right: 0; }
      div#technician-detail-page a.comment div.arrow::after, div#technician-detail-page a.view div.arrow::after {
        content: "";
        display: block;
        width: .4rem;
        height: .4rem;
        border-left: 1px solid #999;
        border-bottom: 1px solid #999;
        margin-top: .82rem;
        margin-left: .4rem;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg); }
  div#technician-detail-page a.comment div.icon {
    background-image: url("../../images/technicianDetail/comment_icon.png"); }
  div#technician-detail-page a.comment > div:nth-of-type(4) {
    width: 13.22rem;
    height: 100%;
    position: absolute;
    right: 1.5rem;
    top: 0;
    text-align: right;
    line-height: 2.222rem;
    font-size: 0.778rem; }
    div#technician-detail-page a.comment > div:nth-of-type(4) > div {
      display: inline-block;
      color: #ff9d09;
      font-size: .667rem; }
      div#technician-detail-page a.comment > div:nth-of-type(4) > div.stars {
        margin-right: 0.3rem; }
  div#technician-detail-page a.view {
    border-top-width: 0; }
    div#technician-detail-page a.view div.icon {
      background-image: url("../../images/technicianDetail/tech_icon.png"); }
  div#technician-detail-page div.service-item {
    margin-top: 0.667rem;
    background: #fff;
    color: #4d4d4d;
    font-size: .778rem; }
    div#technician-detail-page div.service-item div.title {
      height: 2.222rem;
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
      line-height: 2.222rem;
      text-indent: 1.889rem;
      position: relative; }
      div#technician-detail-page div.service-item div.title > div {
        width: .9444rem;
        height: .9444rem;
        position: absolute;
        top: 50%;
        margin-top: -.4722rem;
        left: .611rem;
        background-size: 0.9444rem 0.9444rem;
        background-image: url("../../images/technicianDetail/item_icon.png");
        background-repeat: no-repeat; }
    div#technician-detail-page div.service-item div.wrap {
      padding-left: 0.611rem; }
      div#technician-detail-page div.service-item div.wrap > div:first-child {
        border-top-width: 0; }
    div#technician-detail-page div.service-item div.item {
      border-top: 1px solid #f0f0f0;
      padding: .444rem 0;
      height: 3.555rem; }
      div#technician-detail-page div.service-item div.item > div {
        float: left;
        display: -webkit-box;
        -webkit-box-align: center;
        width: 12.3rem;
        height: 1.3335rem;
        color: #666;
        font-size: .778rem; }
        div#technician-detail-page div.service-item div.item > div:nth-of-type(1) {
          width: 1.028rem;
          height: 1.028rem;
          margin-top: 0.8195rem;
          margin-right: 0.6111rem;
          background-size: 1.028rem 1.028rem;
          background-repeat: no-repeat;
          background-image: url("../../images/technicianDetail/unselected.png"); }
        div#technician-detail-page div.service-item div.item > div:nth-of-type(2) {
          width: 2.667rem;
          height: 2.667rem;
          margin-right: 0.444rem;
          background-size: 2.667rem 2.667rem;
          background-repeat: no-repeat; }
        div#technician-detail-page div.service-item div.item > div:nth-of-type(4) {
          width: 14rem;
          display: block; }
          div#technician-detail-page div.service-item div.item > div:nth-of-type(4) > div {
            float: left;
            width: 6.9rem;
            color: #999;
            font-size: .667rem; }
      div#technician-detail-page div.service-item div.item.selected > div:nth-of-type(1) {
        background-image: url("../../images/technicianDetail/selected.png"); }

div.page-back-btn.tech-detail-page {
  width: 1.722rem;
  height: 1.722rem;
  background-color: rgba(72, 68, 67, 0.5); }

div.page-back-home {
  position: fixed;
  top: .5rem;
  left: 3.056rem;
  height: 1.722rem;
  line-height: 1.722rem;
  padding: 0 .611rem;
  border-radius: .861rem;
  color: #fff;
  font-size: 1rem;
  z-index: 3;
  background-color: rgba(72, 68, 67, 0.5); }

div.tech-detail-footer-wrap {
  position: fixed;
  height: 2.667rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.96);
  border-top: 1px solid #e0e0e0; }
  div.tech-detail-footer-wrap > a {
    display: block;
    letter-spacing: 1px;
    float: left;
    margin: 0;
    height: 2.667rem;
    background-color: rgba(255, 255, 255, 0.96);
    border-radius: 0;
    color: #666;
    font-size: .667rem;
    position: relative;
    text-align: center;
    line-height: 2.444rem; }
    div.tech-detail-footer-wrap > a:nth-of-type(1), div.tech-detail-footer-wrap > a:nth-of-type(2), div.tech-detail-footer-wrap > a:nth-of-type(3) {
      width: 4.444rem;
      padding-top: .8rem; }
      div.tech-detail-footer-wrap > a:nth-of-type(1) > i, div.tech-detail-footer-wrap > a:nth-of-type(2) > i, div.tech-detail-footer-wrap > a:nth-of-type(3) > i {
        position: absolute;
        top: .3rem;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        display: inline-block; }
    div.tech-detail-footer-wrap > a:nth-of-type(1) > i {
      width: 1rem;
      height: 1rem;
      background-size: 100%;
      background-image: url("../../images/technicianDetail/comment.png");
      background-repeat: no-repeat; }
    div.tech-detail-footer-wrap > a:nth-of-type(2) {
      border-left: 1px solid #eaeaea; }
      div.tech-detail-footer-wrap > a:nth-of-type(2) > i {
        width: 1rem;
        height: 1.083rem;
        background-size: 100%;
        background-image: url("../../images/technicianDetail/money-package.png");
        background-repeat: no-repeat; }
    div.tech-detail-footer-wrap > a:nth-of-type(3) {
      border-left: 1px solid #eaeaea; }
      div.tech-detail-footer-wrap > a:nth-of-type(3) > i {
        top: .45rem;
        width: 1.138rem;
        height: 1rem;
        -webkit-transform: translate(-54%, 0);
                transform: translate(-54%, 0);
        background-size: 100%;
        background-image: url("../../images/technicianDetail/chat.png");
        background-repeat: no-repeat; }
    div.tech-detail-footer-wrap > a.active {
      background-color: #fb5549;
      color: #fff; }
    div.tech-detail-footer-wrap > a:nth-of-type(4) {
      font-size: .944rem;
      width: 6.668rem;
      line-height: 2.667rem; }

div.club-coupon {
  position: fixed;
  height: 1.528rem;
  line-height: 1.528rem;
  right: 0;
  bottom: 4.75rem;
  padding: 0 .4rem 0 .689rem;
  background-color: #ff9d09;
  border: 1px solid #805005;
  border-right: none;
  color: #581b00;
  font-size: .778rem;
  text-align: right;
  box-shadow: 0 0.028rem 0.139rem 0 rgba(0, 0, 0, 0.5);
  opacity: .8; }
  div.club-coupon > div {
    position: absolute;
    top: -1.9rem;
    left: -2.4rem;
    width: 3.139rem;
    height: 3.806rem;
    -webkit-transform-origin: center 65%;
            transform-origin: center 65%;
    background-size: 3.139rem 3.806rem;
    background-image: url("../../images/technicianDetail/coupon.png");
    background-repeat: no-repeat;
    animation: couponAni 600ms ease-in-out 5;
    -moz-animation: couponAni 600ms ease-in-out 5;
    -webkit-animation: couponAni 600ms ease-in-out 5;
    -o-animation: couponAni 600ms ease-in-out 5;
    -ms-animation: couponAni 600ms ease-in-out 5; }

div.coupon-list {
  position: fixed;
  width: 20rem;
  height: 100%;
  left: 50%;
  top: 0;
  bottom: 0;
  margin-left: -10rem;
  background: rgba(100, 100, 100, 0.7);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0; }
  div.coupon-list.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  div.coupon-list > div {
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0; }
  div.coupon-list div.list {
    height: 100%;
    overflow-y: auto;
    background-color: #f2f2f2;
    padding: 2.167rem 1rem 1rem; }
  div.coupon-list div.title {
    height: 2.167rem;
    line-height: 2.167rem;
    color: #fff;
    background-color: #fc8282;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 3;
    top: -.2rem; }
    div.coupon-list div.title > div {
      position: absolute;
      right: .667rem;
      top: 50%;
      width: 1.333rem;
      height: 1.333rem;
      line-height: 1.2rem;
      text-align: center;
      font-size: 1.5rem;
      border: 1px solid #fff;
      border-radius: 50%;
      box-sizing: content-box;
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0); }
  div.coupon-list div.coupon-title {
    padding: .778rem 0 .389rem;
    line-height: 1;
    font-size: .889rem;
    color: #616161; }
  div.coupon-list div.coupon-item {
    background-color: #fff;
    border-radius: .139rem;
    border-bottom: .167rem solid #d95b61;
    display: table;
    height: 4.278rem;
    width: 100%;
    position: relative;
    box-shadow: 0 0 5px 0 #e0e0e0;
    margin-bottom: .556rem; }
    div.coupon-list div.coupon-item:last-child {
      margin-bottom: 0; }
    div.coupon-list div.coupon-item:after, div.coupon-list div.coupon-item:before {
      content: '';
      display: inline-block;
      width: .639rem;
      height: .639em;
      background-color: #f2f2f2;
      border-radius: 50%;
      position: absolute;
      right: 33.2%;
      margin-right: -.3195rem; }
    div.coupon-list div.coupon-item:before {
      margin-top: -.3195rem; }
    div.coupon-list div.coupon-item:after {
      bottom: 0;
      margin-bottom: -.3195rem; }
    div.coupon-list div.coupon-item > div {
      display: table-cell;
      vertical-align: middle; }
      div.coupon-list div.coupon-item > div:nth-of-type(1) {
        width: 66.8%; }
        div.coupon-list div.coupon-item > div:nth-of-type(1) > div {
          padding-left: .833rem; }
          div.coupon-list div.coupon-item > div:nth-of-type(1) > div:nth-of-type(1) {
            color: #a04441;
            font-size: 1.111rem; }
          div.coupon-list div.coupon-item > div:nth-of-type(1) > div:nth-of-type(2) {
            color: #424242;
            font-size: .778rem; }
      div.coupon-list div.coupon-item > div:nth-of-type(2) {
        width: 33.2%;
        border-left: .056rem dashed #dcdcdc;
        text-align: center; }
        div.coupon-list div.coupon-item > div:nth-of-type(2) > div:nth-of-type(1) {
          font-size: .889rem;
          color: #000; }
        div.coupon-list div.coupon-item > div:nth-of-type(2) > div:nth-of-type(2) {
          display: inline-block;
          width: 80%;
          min-width: 4.139rem;
          background-color: #f66;
          font-size: .778rem;
          color: #fff;
          border-radius: .3rem;
          margin-top: .3rem; }
          div.coupon-list div.coupon-item > div:nth-of-type(2) > div:nth-of-type(2).processing {
            background-color: #e0e0e0 !important;
            color: #bdbdbd !important;
            background-image: url("../../images/common/loading.gif");
            background-repeat: no-repeat;
            background-position: .2rem 45%;
            padding-left: .8rem; }
          div.coupon-list div.coupon-item > div:nth-of-type(2) > div:nth-of-type(2).disabled {
            background-color: #e0e0e0 !important;
            color: #bdbdbd !important; }
    div.coupon-list div.coupon-item.ordinary {
      border-bottom-color: #65a9dd; }
      div.coupon-list div.coupon-item.ordinary > div:nth-of-type(1) > div:nth-of-type(1) {
        color: #355d6d; }
      div.coupon-list div.coupon-item.ordinary > div:nth-of-type(2) > div:nth-of-type(2) {
        background-color: #7ec6f6; }
