div#technician-list-page div.page-title > a.search {
  position: absolute;
  display: block;
  width: 1.167rem;
  height: 1.167rem;
  right: 0;
  top: 50%;
  margin-top: -0.8835rem;
  padding: 0.3rem 0.5rem;
  box-sizing: content-box; }
  div#technician-list-page div.page-title > a.search::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-size: 1.167rem 1.167rem;
    background-image: url("../../images/technicianList/search.png");
    background-repeat: no-repeat; }

div#technician-list-page div.search {
  margin: 0.333rem 0.639rem;
  background-color: #fff;
  height: 1.722rem;
  display: none;
  border: 1px solid #d9d9d9;
  border-radius: 0.222rem; }
  div#technician-list-page div.search.active {
    display: block; }
  div#technician-list-page div.search > input {
    display: block;
    float: left;
    height: 100%;
    width: 15rem;
    border: none;
    border-bottom-left-radius: 0.222rem;
    border-top-left-radius: 0.222rem;
    padding-left: 0.694rem;
    font-size: 0.778rem;
    box-sizing: border-box; }
  div#technician-list-page div.search > div {
    height: 100%;
    width: 2.917rem;
    float: right;
    border: 1px solid #ff6666;
    text-align: center;
    background-color: #ff6666;
    color: #fff;
    font-size: 0.778rem;
    border-top-right-radius: 0.222rem;
    border-bottom-right-radius: 0.222rem; }

div#technician-list-page div.menu {
  color: #666;
  background: #fff;
  height: 2.222rem;
  border-bottom: 1px solid #d9d9d9; }
  div#technician-list-page div.menu > div {
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    float: left;
    height: 100%;
    width: 33%;
    font-size: 0.778rem; }
    @supports (display: -moz-box) {
      div#technician-list-page div.menu > div {
        float: inherit; } }
    div#technician-list-page div.menu > div.status > div:nth-of-type(1) {
      margin-right: 0.278rem;
      width: 0.806rem;
      height: 0.806rem;
      background-size: 0.806rem 0.806rem;
      background-repeat: no-repeat;
      background-image: url("../../images/technicianList/free_none.png"); }
      div#technician-list-page div.menu > div.status > div:nth-of-type(1).active {
        background-image: url("../../images/technicianList/free_active.png"); }
    div#technician-list-page div.menu > div.comment {
      border-left: 1px solid #e4e4e4;
      border-right: 1px solid #e4e4e4;
      position: relative; }
      div#technician-list-page div.menu > div.comment > div {
        display: block;
        width: 100%; }
        div#technician-list-page div.menu > div.comment > div:nth-of-type(1) {
          text-align: center;
          height: 100%;
          line-height: 2.222rem; }
          div#technician-list-page div.menu > div.comment > div:nth-of-type(1) > div {
            display: inline-block;
            margin-right: .278rem; }
          div#technician-list-page div.menu > div.comment > div:nth-of-type(1) > span {
            display: inline-block;
            width: .38rem;
            height: .38rem;
            border-left: .1rem solid #999;
            border-bottom: .1rem solid #999;
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
            -webkit-transform-origin: center;
            transform-origin: center;
            -webkit-transition: all 0.3s;
            transition: all 0.3s; }
          div#technician-list-page div.menu > div.comment > div:nth-of-type(1).active {
            color: #fb5549; }
            div#technician-list-page div.menu > div.comment > div:nth-of-type(1).active > span {
              border-color: #fb5549;
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
        div#technician-list-page div.menu > div.comment > div:nth-of-type(2) {
          position: absolute;
          border: 1px solid #fb5549;
          text-align: center;
          width: 100%;
          left: 0;
          top: 2.222rem;
          background: #fff;
          opacity: 0;
          -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
          -webkit-transition: all 0.4s;
          transition: all 0.4s;
          -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
          z-index: 10; }
          div#technician-list-page div.menu > div.comment > div:nth-of-type(2).active {
            opacity: 1;
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
          div#technician-list-page div.menu > div.comment > div:nth-of-type(2) > div:nth-of-type(1):after {
            content: ' ';
            position: absolute;
            width: .6rem;
            height: .6rem;
            border-top: 1px solid #fb5549;
            border-right: 1px solid #fb5549;
            background: #fff;
            -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
            top: -.4243rem;
            right: 1.2rem;
            z-index: -1; }
          div#technician-list-page div.menu > div.comment > div:nth-of-type(2) > div:nth-of-type(1).active:after {
            background-color: #fb5549; }
          div#technician-list-page div.menu > div.comment > div:nth-of-type(2) > div {
            background-color: #fff; }
            div#technician-list-page div.menu > div.comment > div:nth-of-type(2) > div.active {
              background-color: #fb5549;
              color: #fff; }
    div#technician-list-page div.menu > div.filter > div:nth-of-type(1) {
      margin-right: 0.278rem;
      width: 0.8rem;
      height: 0.8rem;
      background-size: 0.8rem 0.8rem;
      background-image: url("../../images/technicianList/select_icon.png");
      background-repeat: no-repeat; }
    div#technician-list-page div.menu > div.filter > div:nth-of-type(2) {
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 5rem; }
      div#technician-list-page div.menu > div.filter > div:nth-of-type(2).active {
        color: #f24f52; }
  div#technician-list-page div.menu.search-active {
    border-top: 1px solid #d9d9d9; }

div#technician-list-page div.tech-list {
  overflow-y: auto;
  background-color: #fff; }
  div#technician-list-page div.tech-list a.item {
    display: block;
    height: 5.083rem;
    background: #fff;
    border-bottom: 1px solid #f0f0f0; }
    div#technician-list-page div.tech-list a.item > div {
      float: left; }
      div#technician-list-page div.tech-list a.item > div:nth-of-type(1) {
        width: 4.167rem;
        height: 100%;
        position: relative; }
        div#technician-list-page div.tech-list a.item > div:nth-of-type(1) > div {
          margin: 0 auto; }
          div#technician-list-page div.tech-list a.item > div:nth-of-type(1) > div:nth-of-type(1) {
            width: 2.778rem;
            height: 2.778rem;
            background-size: 2.778rem 2.778rem;
            background-repeat: no-repeat;
            border-radius: 100%;
            margin-top: 1.1525rem; }
          div#technician-list-page div.tech-list a.item > div:nth-of-type(1) > div:nth-of-type(2) {
            border-radius: 100%;
            width: 1.111rem;
            height: 1.111rem;
            position: absolute;
            text-align: center;
            top: 0.75rem;
            right: 0.4rem;
            color: #fff;
            font-size: 0.75rem;
            line-height: 1.111rem; }
            div#technician-list-page div.tech-list a.item > div:nth-of-type(1) > div:nth-of-type(2).free {
              background: #66cc66; }
            div#technician-list-page div.tech-list a.item > div:nth-of-type(1) > div:nth-of-type(2).busy {
              background: #ff6666; }
      div#technician-list-page div.tech-list a.item > div:nth-of-type(2) {
        height: 100%;
        width: 15.166rem; }
        div#technician-list-page div.tech-list a.item > div:nth-of-type(2) > div:nth-of-type(1) {
          height: 1.8rem;
          padding-top: 0.3rem; }
          div#technician-list-page div.tech-list a.item > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) {
            width: 8rem;
            font-size: 0.778rem;
            line-height: 1.8rem;
            height: 1.8rem;
            color: #4c4c4c;
            float: left; }
            div#technician-list-page div.tech-list a.item > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) {
              max-width: 5rem;
              font-size: 1rem;
              margin-right: 0.15rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              float: left; }
            div#technician-list-page div.tech-list a.item > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) {
              float: left; }
              div#technician-list-page div.tech-list a.item > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > span {
                color: #ff9d09; }
          div#technician-list-page div.tech-list a.item > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) {
            white-space: nowrap;
            width: 7.1rem;
            float: right;
            padding-top: 0.25rem;
            color: #999;
            font-size: 0.667rem; }
            div#technician-list-page div.tech-list a.item > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) > div {
              display: inline-block; }
            div#technician-list-page div.tech-list a.item > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) {
              margin-left: 0.2rem; }
        div#technician-list-page div.tech-list a.item > div:nth-of-type(2) > div:nth-of-type(2) {
          color: #ff6666;
          font-size: 0.75rem;
          line-height: 0.75rem;
          clear: both;
          padding: 0; }
          div#technician-list-page div.tech-list a.item > div:nth-of-type(2) > div:nth-of-type(2) > span {
            display: inline-block;
            border: 1px solid #ff6666;
            border-radius: 3px;
            padding: 0.2rem;
            height: 0.75rem;
            margin-right: 0.2rem;
            box-sizing: content-box; }
            div#technician-list-page div.tech-list a.item > div:nth-of-type(2) > div:nth-of-type(2) > span:last-child {
              margin-right: 0; }
        div#technician-list-page div.tech-list a.item > div:nth-of-type(2) > div:nth-of-type(3) {
          position: relative;
          right: 0;
          bottom: 0.25rem;
          width: 15.15rem; }
          div#technician-list-page div.tech-list a.item > div:nth-of-type(2) > div:nth-of-type(3) > div:nth-of-type(1) {
            color: #666;
            font-size: 0.889rem;
            line-height: 1.667rem;
            width: 11.2rem;
            height: 1.677rem;
            padding-top: 0.2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          div#technician-list-page div.tech-list a.item > div:nth-of-type(2) > div:nth-of-type(3) > div:nth-of-type(2) {
            position: absolute;
            right: 0;
            top: 0;
            width: 4rem;
            height: 1.667rem;
            background: #ff6666;
            border-radius: 0.25rem;
            color: #fff;
            font-size: 0.889rem;
            line-height: 1.667rem;
            text-align: center; }

div#tech-list-select-area {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center; }
  div#tech-list-select-area > div {
    width: 19rem;
    height: 95%;
    background: #eee;
    border-radius: 5px; }
    div#tech-list-select-area > div > div:nth-of-type(1) {
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      height: 100%; }
    div#tech-list-select-area > div > div.btns {
      border-top: 1px solid #e0e0e0;
      height: 3.305rem;
      display: -webkit-box;
      display: -moz-box;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -webkit-box-align: center;
      -moz-box-align: center;
      position: relative;
      bottom: 3.33rem;
      background: #d9d9d9;
      border-radius: 0 0 5px 5px; }
      div#tech-list-select-area > div > div.btns > div {
        height: 2.444rem;
        display: -webkit-box;
        display: -moz-box;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        background: #bbb;
        border-radius: 3px;
        width: 8.4995rem;
        margin: 0 0.667rem;
        color: #ffffff; }
        div#tech-list-select-area > div > div.btns > div:nth-of-type(2) {
          background: #fb5549;
          margin-left: 0; }
    div#tech-list-select-area > div div.null {
      height: 3.305rem; }
    div#tech-list-select-area > div div.all {
      width: 100%;
      height: 3rem; }
      div#tech-list-select-area > div div.all > div {
        width: 5.244rem;
        height: 2rem;
        border-radius: 3px;
        border: 1px solid #cccccc;
        float: left;
        margin-left: .667rem;
        margin-top: 0.444rem;
        background: #ffffff;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        line-height: 2rem;
        font-size: 0.667rem;
        color: #4d4d4d; }
        div#tech-list-select-area > div div.all > div.active {
          border: 1px solid #fb5549;
          color: #fb5549; }
    div#tech-list-select-area > div div.category {
      padding: 0 0.667rem;
      font-size: 0.778rem;
      color: #333333; }
      div#tech-list-select-area > div div.category.nullBlock {
        height: 3rem; }
      div#tech-list-select-area > div div.category > div {
        width: 17.666rem;
        display: inline-block; }
        div#tech-list-select-area > div div.category > div:nth-of-type(2) > div {
          width: 5.244rem;
          height: 2rem;
          border-radius: 3px;
          border: 1px solid #ccc;
          float: left;
          margin-right: .667rem;
          margin-top: 0.444rem;
          background: #fff;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align: center;
          line-height: 2rem;
          font-size: 0.667rem;
          color: #4d4d4d; }
          div#tech-list-select-area > div div.category > div:nth-of-type(2) > div:nth-of-type(3n) {
            margin-right: 0; }
          div#tech-list-select-area > div div.category > div:nth-of-type(2) > div.active {
            border: 1px solid #fb5549;
            color: #fb5549; }
