div#trade-records-page div.list {
  overflow-y: auto; }

div#trade-records-page div.list-item {
  background-color: #fff;
  padding: .889rem .833rem;
  line-height: 1;
  color: #212121;
  border-bottom: 1px solid #e0e0e0; }
  div#trade-records-page div.list-item > div:first-child {
    font-size: .889rem; }
    div#trade-records-page div.list-item > div:first-child > span {
      font-size: .778rem;
      float: right; }
      div#trade-records-page div.list-item > div:first-child > span.recharge {
        color: #04bd07; }
  div#trade-records-page div.list-item > div:last-child {
    font-size: .667rem;
    color: #9e9e9e;
    margin-top: .611rem; }
