@import "../common/common.scss";

#_content>#accountDetail {
  #content {
    width: 20rem;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #f5f5f5;
    #title{
      background-color: #ededed;
    }

    .member-detail{
      padding: .667rem .889rem 0;
      >div.member-item{
        background-color: #fff;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        border-radius: .5rem;
        >div{
          &:nth-of-type(1){
            padding: .667rem .889rem 0;
            box-sizing: border-box;
            height: 5.722rem;
            -webkit-border-top-left-radius: .5rem;
            -moz-border-radius-topleft: .5rem;
            border-top-left-radius: .5rem;

            -webkit-border-top-right-radius: .5rem;
            -moz-border-radius-topright: .5rem;
            border-top-right-radius: .5rem;

            @include imgBgFix(18.222rem 5.722rem);
            >div{
              &:nth-of-type(1){
                @include sx();
                >div{
                  &:nth-of-type(1){
                    width: 1.333rem;
                    height: 1.333rem;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    @include imgBgFix(1.333rem 1.333rem);
                  }
                  &:nth-of-type(2){
                    @include boxFlex(1);
                    font-size: .889rem;
                    padding-left: .5rem;
                  }
                }
              }
              &:nth-of-type(2){
                margin-top: 1rem;
                @include x();
                >div{
                  text-align: right;
                  color: #FFFFFF;
                  &:nth-of-type(1){
                    @include boxFlex(1);
                    >span{
                      font-size: 2.778rem;
                    }
                  }
                  &:nth-of-type(2){
                    @include boxFlex(4);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  }
                }
              }
            }
          }
          &:nth-of-type(2){
            border:1px solid #E0E0E0;
            border-top:none;
            -webkit-border-bottom-left-radius: .5rem;
            -moz-border-radius-bottomleft: .5rem;
            border-bottom-left-radius: .5rem;

            -webkit-border-bottom-right-radius: .5rem;
            -moz-border-radius-bottomright: .5rem;
            border-bottom-right-radius: .5rem;

            padding: 0 .889rem;
            @include sx();
            >div{
              &:nth-of-type(1){
                @include boxFlex(1);
                font-size: .889rem;
                color: #212121;
              }
              &:nth-of-type(2){
                width: .889rem;
                height: .889rem;
                @include img('../../../img/account/ic_QR.png',.889rem .889rem);
              }
            }
          }
        }

        &.tpl-01{
          >div:nth-of-type(1){
            background-image: url('../../../img/account/style-01.jpg');
            >div:nth-of-type(1){
              color: #FFFFFF;
            }
          }
        }
        &.tpl-02{
          >div:nth-of-type(1){
            background-image: url('../../../img/account/style-05.jpg');
            >div:nth-of-type(1){
              color: #6a4228;
            }
          }
        }
        &.tpl-03{
          >div:nth-of-type(1){
            background-image: url('../../../img/account/style-03.jpg');
            >div:nth-of-type(1){
              color: #584f55;
            }
          }
        }
        &.tpl-04{
          >div:nth-of-type(1){
            background-image: url('../../../img/account/style-04.jpg');
            >div:nth-of-type(1){
              color: #d06200;
            }
          }
        }
        &.tpl-05{
          >div:nth-of-type(1){
            background-image: url('../../../img/account/style-05.jpg');
            >div:nth-of-type(1){
              color: #252d3b;
            }
          }
        }
        &.tpl-06{
          >div:nth-of-type(1){
            background-image: url('../../../img/account/style-06.jpg');
            >div:nth-of-type(1){
              color: #FFFFFF;
            }
          }
        }
      }
    }

    .money-info{
      margin-top: .667rem;
      padding: 0 .889rem;
      background-color: #ffffff;
      >div{
        box-sizing: border-box;
        height: 2.667rem;
        line-height: 2.667rem;
        font-size: .889rem;
        color: #616161;

        >span{
          &:nth-of-type(2){
            color: #212121;
          }
        }

        &:nth-of-type(1){
          border-bottom:1px solid #E0E0E0;
        }
      }
    }

    .border-t{
      border-top:1px solid #E0E0E0;
    }
    .border-b{
      border-bottom:1px solid #E0E0E0;
    }

    .action-item{
      @include sx();
      background-color: #ffffff;
      height: 2.667rem;
      margin-top: .667rem;
      padding: 0 .889rem 0 1.333rem;
      >div{
        &:nth-of-type(1){
          @include boxFlex(1);
          font-size: .889rem;
          color: #212121;
        }
        &.arrow-right{
          margin-left:.459rem;
          width: 0.43rem;
          height: 0.43rem;
          border-left: 0.1rem solid #999;
          border-bottom: 0.1rem solid #999;
          -webkit-transform: rotate(-135deg);
          -moz-transform: rotate(-135deg);
          -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
        }
      }
    }

    .explain-info{
      padding: 1rem .889rem;
      font-size: .778rem;
      >div{
        color: #212121;
      }
      >ul{
        margin: 0.111rem 0 0;
        list-style: none;
        padding-left:0;
        color: #616161;
      }
    }
  }
}