@import "../common/common.scss";
#_content>#collect {
  #content {
    width: 20rem;
    height: 100%;
    background: #ededed;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    >div{
      width: 20rem;
      > div {
        width: 20rem;
        &:nth-of-type(2) {
          > div>div {
            margin-bottom:0.722rem;
            >div.header{
              height:1.806rem;
              line-height: 1.806rem;
              background-color: #fff;
              color:#666666;
              font-size:0.889rem;
              border-top:1px solid #d9d9d9;
              border-bottom:1px solid #d9d9d9;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              padding: 0 .611rem;
              &.first{
                border-top-width:0;
              }
            }
            > div.item {
              height: 5.083rem;
              background: #ffffff;
              border-bottom: 1px solid #f0f0f0;
              > div {
                float: left;
                &:nth-of-type(1) {
                  //@include wq();
                  width: 4.167rem;
                  height: 100%;
                  > div {
                    margin: 0 auto;
                    &:nth-of-type(1) {
                      width: 2.778rem;
                      height: 2.778rem;
                      @include imgBgFix(2.778rem 2.778rem);
                      border-radius: 100%;
                      margin-top: 1.1525rem;
                    }
                    &:nth-of-type(2){
                      margin-top: -3rem;
                      margin-left: 2.5rem;
                      @include wq();
                      border-radius: 100%;
                      width: 1.111rem;
                      height: 1.111rem;
                      color: #ffffff;
                      font-size: 0.75rem;
                      line-height: 1.111rem;
                      &.free {
                        background: #66cc66;
                      }
                      &.busy {
                        background: #ff6666;
                      }
                    }
                  }
                }
                &:nth-of-type(2) {
                  //@include wq();
                  //width: 4.889rem;
                  height: 100%;
                  //margin-left: 0.667rem;
                  width: 15.166rem;
                  > div {
                    &:nth-of-type(1){
                      //margin-top: 0.583rem;
                      height: 2rem;
                      margin-bottom: -0.4rem;
                      @include sx();
                      > div {
                        &:nth-of-type(1) {
                          @include sx();
                          width: 8rem;
                          font-size: 0.778rem;
                          line-height: 0.778rem;
                          height: 1rem;
                          color: #4c4c4c;
                          //margin-top: 0.583rem;
                          >div:nth-of-type(1){
                            max-width: 5rem;
                            font-size: 1rem;
                            line-height: 1rem;
                            @include sl();
                          }
                          >div:nth-of-type(2){
                            color:#ff9d09;
                          }
                        }
                        &:nth-of-type(2) {
                          width: 6.944rem;
                          @include sx();
                          @include y();
                          color: #999999;
                          font-size: 0.667rem;
                          padding-left: 0.3rem;
                        }
                      }
                    }
                    &:nth-of-type(2){
                      color:#ff6666;
                      font-size: 0.75rem;
                      line-height: 0.75rem;
                      border: 1px solid #ff6666;
                      border-radius: 3px;
                      display: inline-block;
                      padding: 0.2rem;
                      height: 0.75rem;
                    }
                    &:nth-of-type(3){
                      //margin-top: 0.528rem;
                      @include sx();
                      > div {
                        &:nth-of-type(1) {
                          color:#666666;
                          font-size: 0.889rem;
                          line-height: 0.889rem;
                          width: 11.2rem;
                          @include sl();
                        }
                        &:nth-of-type(2) {
                          width: 4rem;
                          height: 1.667rem;
                          background: #ff6666;
                          border-radius: 5px;
                          color: #ffffff;
                          @include wq();
                          font-size: 0.889rem;
                          line-height: 1.167rem;
                          //margin-left: 2.944rem;
                          //margin-top: 0.944rem;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #loadTip{
    @include wq();
    //position: relative;
    //top: -2rem;
    height: 2rem;
    //@include gpu();
    //@include wy(0, 100%, 0);
    //@include dhyc(0ms);
    border-top: 1px solid #cecece;
    &.none{
      display: none;
    }
    >div{
      &:nth-of-type(1){
        width: 0.778rem;
        height: 0.778rem;
        @include img('../../../img/loading.gif',0.778rem 0.778rem);
      }
      &:nth-of-type(2){
        font-size: 0.778rem;
        margin-left: 0.2rem;
        line-height: 2rem;
        color: #666666;
      }
    }
  }
  #finishTip{
    @include wq();
    //position: relative;
    //top: -2rem;
    height: 2rem;
    //@include gpu();
    //@include wy(0, 100%, 0);
    //@include dhyc(0ms);
    border-top: 1px solid #cecece;
    &.none{
      display: none;
    }
    >div{
      &:nth-of-type(1){
        /*width: 0.778rem;
        height: 0.778rem;
        @include img('img/loading.gif',0.778rem 0.778rem);*/
      }
      &:nth-of-type(2){
        font-size: 0.778rem;
        margin-left: 0.2rem;
        line-height: 2rem;
        color: #666666;
      }
    }
  }
}