@import "../common/common.scss";

#_content>#home{
  #content{
    >div{
      width: 20rem;
      background: #fff;
      &.banner{
        height: 12.361rem;
        @supports (display: -moz-box) {
          margin-bottom: -0.22rem;
        }
        >div{
          &:nth-of-type(1){
            width: 100%;
            height: 12.361rem;
            overflow: hidden;
            >div{
              &:nth-of-type(1){
                width: 20rem;
                height: 12.361rem;
                @include dhyc(0ms);
                @include wy(0,0,0);
                position: relative;
                @include gpu();
                @include syzj();
                @supports (display: -moz-box) {
                  display: flex;
                }
                >img{
                  width: 20rem;
                  height:12.361rem;
                  //height: 100%;
                  float: left;
                  //@include gpu();
                  -webkit-flex-shrink: 0;
                  -ms-flex: 0 0 auto;
                  flex-shrink: 0;
                  position: relative;
                  text-align: center;
                  -webkit-box-pack: center;
                  -ms-flex-pack: center;
                  -webkit-justify-content: center;
                  justify-content: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  -webkit-align-items: center;
                  align-items: center;
                }
              }
              &:nth-of-type(2){
                position: relative;
                pointer-events: none;
                width: 20rem;
                height: 12.361rem;
                top: -12.76rem;
                @supports (display: -moz-box) {
                  top: -12.76rem;
                }
                //background:-webkit-gradient(linear, 0 0, 0 100%, from(#2074af), to(#2c91d2));
                @include jb(0,100%,rgba(0,0,0,0.5),0,60%,rgba(0,0,0,0));
                //background: greenyellow;
              }
              &:nth-of-type(3){
                position: relative;
                text-align: right;
                width: 19.5rem;
                top: -14.25rem;
                pointer-events: none;
                >span{
                  margin-left:0.278rem;
                  width: 0.4rem;
                  height: 0.4rem;
                  display: inline-block;
                  border-radius: 100%;
                  background: rgba(255,255,255,0.2);
                  &.active{
                    background: #fff;
                  }
                }
              }
            }
          }
          &:nth-of-type(2){
            position: relative;
            pointer-events: none;
            top: -4.444rem;
            left: 0.667rem;
            width: 3.778rem;
            height: 3.778rem;
            border-radius: 100%;
            background: rgba(255,255,255,0.5);
            //@include wq();
            padding: 0.111rem;
            >div{
              width: 3.778rem;
              height: 3.778rem;
              border-radius: 100%;
              @include imgBgFix(3.778rem 3.778rem);
              //@include img('../../../../../../img/logo_default.jpg',3.778rem 3.778rem);
            }
          }
          &:nth-of-type(3){
            position: relative;
            //height: 1rem;
            pointer-events: none;
            top: -7.8rem;
            left: 5.334rem;
            color: #ffffff;
            //display: inline-block;
            width: 14rem;
            height: 3rem;
            line-height: 3rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            /*@include sx();
            @supports (display: -moz-box) {
              display: flex;
            }*/
          }
        }
      }
      &.menu{
        //height: 5rem;
        border-bottom: 1px solid #d9d9d9;
        width: 20rem;
        box-sizing: border-box;
        @include wq();
        &>div{
          width:3.85rem;
          margin-top:0.667rem;
          margin-bottom:0.611rem;
          //float: left;
          text-align: center;
          font-size:0.667rem;
          color:#4d4d4d;
          //box-sizing: border-box;
          border-right:1px solid #d9d9d9;
          &:last-child{
            border-right:0;
          }
          &>div{
            margin: 0 auto;
            &:nth-of-type(1){
              width:1.861rem;
              height:1.333rem;
              //margin-left:1.4195rem;
              &.clubProfile{
                @include img("../../../img/home/menu_000.png",1.861rem 1.333rem);
              }
              &.promotions{
                @include img("../../../img/home/menu_010.png",1.861rem 1.333rem);
              }
              &.serviceGroup{
                @include img("../../../img/home/menu_020.png",1.861rem 1.333rem);
              }
              &.address{
                @include img("../../../img/home/menu_030.png",1.861rem 1.333rem);
              }
              &.master{
                @include img("../../../img/home/menu_040.png",1.861rem 1.333rem);
              }
            }
            &:nth-of-type(2){
              margin-top:0.3rem;
              line-height: 1.2rem;
            }
          }
        }
      }
      &:nth-of-type(3){
        //height: 1.61rem;
        border-top: 1px solid #d9d9d9;
        border-bottom: 1px solid #d9d9d9;
        //margin-bottom: 0.6rem;
        margin-top: 0.444rem;
        color: #666666;
        font-size: 0.889rem;
        width: 20rem;
        >div{
          width: 18.666rem;
          padding: 0.667rem;
          height: 1.61rem;
          @include sx();
          &:nth-of-type(1){
            border-bottom: 1px solid #d9d9d9;
          }
          >div{
            &:nth-of-type(1){
              width: 1.333rem;
              height: 1.167rem;
              @include imgBgFix(1.333rem 1.167rem);
            }
            &:nth-of-type(2){
              padding-left: 0.633rem;
              width: 16rem;
            }
            &:nth-of-type(3){
              width: 0.417rem;
              height: 0.639rem;
              @include img('../../../img/right_icon.png',0.417rem 0.639rem);
            }
          }
        }
      }

      &.tech{
        margin-top:0.417rem;
        border-top:1px solid #d9d9d9;
        border-bottom:1px solid #d9d9d9;
        &>div:nth-of-type(1){
          /*display: none;*/
          height:1.667rem;
          position: relative;
          text-indent: 1.722rem;
          line-height: 1.667rem;
          font-size:0.889rem;
          color:#4d4d4d;
          border-bottom:1px solid #d9d9d9;
          &>div{
            position: absolute;
            width:0.944rem;
            height:0.944rem;
            top:50%;
            margin-top:-0.472rem;
            left:0.389rem;
            @include img('../../../img/home/icon_recommend.png',0.944rem 0.944rem);
          }
          >span{
            float: right;
            font-size: .667rem;
            margin-right: 1.2rem;
            color: #999999;
          }
          &:after{
            content: ' ';
            width: .43rem;
            height: .43rem;
            display: block;
            position: absolute;
            right:.667rem;
            top:50%;
            margin-top:-.25rem;
            border-left:.1rem solid #999999;
            border-bottom:.1rem solid #999999;
            @include rotate(-135deg)
          }
        }
        &>div:nth-of-type(2){
          //height:6.899rem;
          box-sizing: border-box;
          overflow: hidden;
          //padding:0 0.333rem;
          width: 18.666rem;
          margin: 0 auto;
          &>div{
            height: 4.5rem;
            box-sizing: border-box;
            &>div{
              width:3.833rem;
              height:3.833rem;
              margin: 0.333rem;
              font-size:0.778rem;
              box-sizing: border-box;
              text-align: center;
              border-radius: 0.5rem;
              overflow: hidden;
              &>div{
                width:3.833rem;
                height:3.833rem;
                @include imgBgFix(3.833rem 3.833rem);
                &>div{
                  margin-top: 2.833rem;
                  line-height: 1rem;
                  //padding:0 0.36rem;
                  //border:1px solid #fb5549;
                  //border-radius: 0.55rem;
                  display: inline-block;
                  width: 100%;
                  @include sl();
                  background: rgba(0,0,0,0.3);
                  color: #ffffff;
                }
              }
            }
          }
        }
      }

      &#robProjectList{
        background-color: transparent;
        >div{
          background-color: #ffffff;
          &.rob-project{
            padding:.889rem .667rem;
            margin: .444rem 0;
            box-sizing: border-box;
            border-top: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
            >div{
              @include sx();
              >div{
                &:nth-of-type(1){
                  width: 3.833rem;
                  height: 3.833rem;
                  @include imgBgFix(3.833rem 3.833rem);
                  -webkit-border-radius: .278rem;
                  -moz-border-radius: .278rem;
                  border-radius: .278rem;
                  margin-right: .5rem;

                  background-image: url('http://sdcm210:8489/s/group00/M00/00/41/oYYBAFW4Td6AS20GAAAY6mibrMk140.jpg?st=bHuPQxp9Svb8HUWX-b3Y2Q&e=1472815687');
                }
                &:nth-of-type(2){
                  @include boxFlex(1);
                  >div{
                    &:nth-of-type(1){
                      line-height: 1;
                      @include s();
                      >div{
                        &:nth-of-type(1){
                          font-size: .944rem;
                          color: #212121;
                          line-height: 1.1;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          white-space: nowrap;
                          @include boxFlex(1);
                        }
                        &:nth-of-type(2){
                          font-size: .722rem;
                          color: #999999;
                          &.act-end{
                            width: 4.028rem;
                            height: 1.389rem;
                            line-height: 1.389rem;
                            text-align: right;
                            padding-right: .667rem;
                            box-sizing: border-box;
                            color: #fff;
                            @include img('../../../img/robProject/act-end-bg.png',4.028rem 1.389rem);
                          }
                          >span{
                            color: #FF9A0C;
                          }
                        }
                      }
                    }
                    &:nth-of-type(2){
                      line-height: 1;
                      font-size: 1.056rem;
                      color: #FB5549;
                      margin-top: .556rem;
                      >span{
                        &:nth-of-type(1){
                          margin-left: .556rem;
                          font-size: .611rem;
                          color: #757575;
                          text-decoration: line-through;
                        }
                        &:nth-of-type(2){
                          float: right;
                          -webkit-border-radius: .278rem;
                          -moz-border-radius: .278rem;
                          border-radius: .278rem;
                          background-color: #fb5549;
                          color: #FFFFFF;
                          font-size: .833rem;
                          top: -.4rem;
                          padding: 0 .5rem;
                          line-height: 1.8;
                          position: relative;
                        }
                      }
                    }
                    &:nth-of-type(3){
                      line-height: 1;
                      @include sx();
                      color: #212121;
                      font-size: .667rem;
                      margin-top: .556rem;
                      &.act-end{
                        color: #757575;
                      }
                      >span{
                        /*width: .806rem;*/
                        padding: 0 .1rem;
                        height: .917rem;
                        box-sizing: border-box;
                        border:1px solid #BDBDBD;
                        display: block;
                        overflow: hidden;
                        text-align: center;
                        -webkit-border-radius: .222rem;
                        -moz-border-radius: .222rem;
                        border-radius: .222rem;
                        font-weight: bold;
                        &:nth-of-type(odd){
                          margin-left: .3rem;
                          margin-right: .2rem;
                        }
                        &:nth-of-type(even){
                          margin-right: .2rem;
                        }
                        >div{
                          color: #9E4543;
                          font-size: .833rem;
                          @include translate(0,-.917rem);
                          @include transition(all 0 linear);
                          >div{
                            height: .917rem;
                            line-height: .917rem;
                          }
                        }
                        &.toggle{
                          >div{
                            @include translate(0,0);
                            @include dhyc(300ms);
                          }
                        }
                        &.rob-millis{
                          &.toggle{
                            >div{
                              @include translate(0,0);
                              @include dhyc(5ms);
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.service{
        color: #4d4d4d;
        margin-top:0.444rem;
        >div{
          width: 100%;
          display: inline-block;
          &:nth-of-type(1){
            height: 1.667rem;
            line-height: 1.667rem;
            border-top: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
            background-color: #ffffff;
            font-size:0.889rem;
            text-indent: 1.722rem;
            position: relative;
            &>div{
              position: absolute;
              width:0.944rem;
              height:0.944rem;
              top:50%;
              margin-top:-0.472rem;
              left:0.389rem;
              @include img('../../../img/home/recommend_icon.png',0.944rem 0.944rem);
            }
            >span{
              float: right;
              font-size: .667rem;
              margin-right: 1.2rem;
              color: #999999;
            }
            &:after{
              content: ' ';
              width: .43rem;
              height: .43rem;
              display: block;
              position: absolute;
              right:.667rem;
              top:50%;
              margin-top:-.25rem;
              border-left:.1rem solid #999999;
              border-bottom:.1rem solid #999999;
              @include rotate(-135deg)
            }
          }
          &:nth-of-type(2){
            box-sizing: border-box;
            padding:0 0.333rem 0.667rem;
            overflow: hidden;
            &>div{
              padding: 0.667rem 0.333rem 0;
              box-sizing: border-box;
              width:9.667rem;
              float: left;
              &>div{
                width: 9rem;
                box-sizing: border-box;
                border: 1px solid #f0f0f0;
                &:nth-of-type(1){
                  width: 9rem;
                  height:9rem;
                  @include imgBgFix(9rem 9rem);
                }
                &:nth-of-type(2){
                  @include sl();
                  border-top: 0;
                  border-bottom: 0;
                  font-size: 0.889rem;
                  height:1.5rem;
                  line-height: 1.5rem;
                  padding-left: 0.444rem;
                }
                &:nth-of-type(3){
                  @include sx();
                  border-top: 0;
                  height: 1.611rem;
                  padding: 0 0.444rem 0.444rem 0.444rem;
                  >div{
                    &:nth-of-type(1){
                      width: 0.861rem;
                      height: 0.861rem;
                      @include img('../../../img/clock_icon1.png',0.861rem 0.861rem);
                    }
                    &:nth-of-type(2){
                      font-size: 0.778rem;
                      line-height: 0.889rem;
                      color:#fb5549;
                      padding-left: 0.15rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .hide{
      display: none !important;
    }
  }

  #coupons{
    @include mask();
    z-index:3;
    >div{
      margin: 0 auto;
      &:nth-of-type(1){
        margin-top: 4rem;
        margin-left: 3rem;
        width: 13.306rem;
        height: 15.528rem;
        @include img('../../../img/home/hongbao1.png',13.306rem 15.528rem);
        >div{
          padding-top: 8.2rem;
          padding-left: 3rem;
          color:#ffe305;
          >div{
            display: inline-block;
            font-size: 1.6rem;
            height: 2rem;
            width:8.8rem;
            text-align: center;
            //@include sl();
          }
          &.spec-6{
            &>div{
              font-size:1.4rem;
            }
          }
          &.spec-7{
            &>div{
              font-size:1.2rem;
            }
          }
          &.spec-8{
            &>div{
              font-size:1rem;
            }
          }
          &.two-line{
            padding-top: 7.8rem;
            &>div{
              font-size:1rem;
              line-height: 1.3rem;
            }
          }
        }
      }
      &:nth-of-type(2){
        margin: 1rem auto 0 auto;
        @include ty(0, 0.222rem, 0, 0, #ffa800);
        width: 8.333rem;
        height: 2.444rem;
        border-radius: 5px;
        background: #ffe305;
        color:#eb4224;
        text-align: center;
        line-height: 2.444rem;
      }
      &:nth-of-type(3){
        margin-left: 16rem;
        margin-top: -20rem;
        width: 1.694rem;
        height: 1.778rem;
        @include img('../../../img/home/xx.png',1.694rem 1.778rem);
      }
    }
  }

  #getPlumflowers{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    opacity: 0;
    @include scale(1,0);
    @include tOrigin(50% 100%);
    @include transition(all 0.5s);
    &.active{
      opacity: 1;
      @include scale(1,1);
    }
    &>div{
      position: absolute;
      top:45%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 17.722rem;
      left:50%;
      text-align: center;
      /*-webkit-border-radius: .694rem;
      -moz-border-radius: .694rem;
      border-radius: .694rem;*/
      >div{
        background-color: #fff;
        &:nth-of-type(1){
          -webkit-border-radius: .694rem;
          -moz-border-radius: .694rem;
          border-radius: .694rem;
          >div{
              position: relative;
              -webkit-border-radius: .694rem;
              -moz-border-radius: .694rem;
              border-radius: .694rem;
              height: 15.306rem;
              @include img('../../../img/home/flowers_bg.png',17.722rem 15.306rem);
              >div{
                position: absolute;
                left: .889rem;
                top:.5rem;
                width: 12.472rem;
                height: 11.278rem;
                @include imgBgFix(12.472rem 11.278rem);
                &:nth-of-type(1){
                  background-image: url('../../../img/home/flowers_ani_01.png');
                }
                &:nth-of-type(2){
                  display: none;
                  background-image: url('../../../img/home/flowers_ani_02.png');
                }
              }
              &.toggle{
                >div{
                  &:nth-of-type(1){
                    display: none;
                  }
                  &:nth-of-type(2){
                    display: block;
                  }
                }
              }
          }
          >a{
            display: inline-block;
            width: 9.139rem;
            background-color: #ff6666;
            height: 2.222rem;
            line-height: 2.222rem;
            -webkit-border-radius: 1.111rem;
            -moz-border-radius: 1.111rem;
            border-radius: 1.111rem;
            margin:1.167rem 0;
            color: #fff;
            font-size: 1rem;
          }
        }
        &:nth-of-type(2){
          margin-top: .917rem;
          display: inline-block;
          font-size: 2rem;
          border-radius: 50%;
          width: 1.611rem;
          height: 1.611rem;
          text-align: center;
          line-height: 1.611rem;
          color: #ff7a81;
        }
      }
    }
  }
}