@import "../common/common.scss";
#_content>#review {
  #content {
    background: #eee;
    >div#title{
      position: relative;
      &>div:nth-of-type(3){
        position: absolute;
        width:5.278rem;
        height:100%;
        line-height: 2.611rem;
        top:0;
        right:0;
        font-size:0.778rem;
        z-index: 99;
        &>div{
          position: absolute;
          width: 0;
          height:0;
          right:1rem;
          top:50%;
          margin-top:-0.25rem;
          border-left:0.42rem solid transparent;
          border-right:0.42rem solid transparent;
          border-top:0.5rem solid #666;
          @include transition(all 0.3s);
        }
        &>ul{
          position: absolute;
          list-style-type: none;
          margin:0;
          padding:0;
          top:2.35rem;
          right:0;
          opacity: 0;
          z-index: 20;
          @include scale(1,0);
          @include transition(all 0.4s);
          @include tOrigin(50% 0%);
          &>li{
            background-color: #fff;
            height:2.167rem;
            width:6.667rem;
            margin:0;
            line-height: 2.167rem;
            border-left:1px solid #fb5549;
            border-right:1px solid #fb5549;
            border-bottom:1px solid #fb5549;
            text-align: center;
            color:#666;
            font-size:0.778rem;
            letter-spacing: 1px;
            &:nth-of-type(1){
              position: relative;
              border-top:1px solid #fb5549;
              &>i{
                display: block;
                border-left:10px solid transparent;
                border-right:10px solid transparent;
                height:0;
                position: absolute;
                left:4.8rem;
                &:nth-of-type(1){
                  border-bottom:10px solid #fb5549;
                  top:-10px;
                }
                &:nth-of-type(2){
                  border-bottom:10px solid #fff;
                  top:-8.5px;
                }
              }
              &.selected{
                &>i:nth-of-type(2){
                  border-bottom-color:#fb5549;
                }
              }
            }
            &.selected{
              background-color: #fb5549;
              color:#fff;
            }
          }
        }
        &.active{
          /*&>div{
            @include rotate(-180deg);
          }*/
          &>ul{
            opacity: 1;
            @include scale(1,1);
          }
        }
      }
    }
    >ul{
      padding:0;
      margin:0.444rem 0;
      &>li{
        background-color: #fff;
        border-top:1px solid #d9d9d9;
        border-bottom:1px solid #d9d9d9;
        margin-bottom:0.444rem;
        color:#666;
        &>div{
          margin:0 0.694rem 0.5rem;
          &:nth-of-type(1){
            height:2.222rem;
            padding:0.333rem 0;
            border-bottom:1px dotted #d9d9d9;
            &>div{
              float: left;
              height:2.222rem;
              line-height: 2.222rem;
              &:nth-of-type(1){
                width:2.222rem;
                border-radius: 50%;
                border:1px solid #eee;
                @include imgBgFix(2.222rem 2.222rem)
              }
              &:nth-of-type(2){
                max-width:6.389rem;
                margin-left:0.667rem;
                font-size:0.889rem;
                @include sl();
              }
              &:nth-of-type(3){
                margin-left:0.611rem;
                color:#999;
                font-size:0.556rem;
              }
              &:nth-of-type(4){
                float: right;
                color:#fb5549;
                font-size:0.778rem;
              }
            }
          }
          &:nth-of-type(2){
            &::after{
              content:"";
              display: block;
              width:0;
              height:0;
              opacity: 0;
            }
            &>div:nth-of-type(1){
              width:6.665rem;
              height:1.111rem;
              float: left;
              @include imgRepeat("../../../img/review/star.png",1.333rem 1.111rem);
              &>div{
                width:0;
                height:100%;
                @include imgRepeat("../../../img/review/star_active.png",1.333rem 1.111rem);
              }
            }
            &>div:nth-of-type(2){
              float: right;
              color:#4d4d4d;
              font-size:0.778rem;
              height:0.944rem;
              line-height: 0.944rem;
              &>i{
                display: block;
                width:0.944rem;
                height:0.944rem;
                margin-right:0.2rem;
                float: left;
                @include img("../../../img/review/dollar.png",0.944rem 0.944rem)
              }
              &>span{
                color:#ff9d09;
              }
            }
          }
          &:nth-of-type(3){
            font-size:0.778rem;
            margin-top:1.5rem;
          }
        }
      }
      &.nodata{
        &>li{
          background-color: #EEEEEE;
          height:13.861rem;
          border-top-width:0;
          border-bottom-width:0;
          @include img("../../../img/null.png",20rem 13.861rem);
        }
      }
    }
    >div.loadMore{
      background-color: #fff;
      height:2rem;
      text-align: center;
      border-top: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;
      color:#666;
      font-size:0.887rem;
      line-height: 2rem;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      &>img{
        width:0.667rem;
        height:0.667rem;
        margin-left:0.4rem;
        visibility: hidden;
      }
    }
    >div.loadOver{
      display: none;
      font-size:0.778rem;
      height:1.8rem;
      line-height: 1.8rem;
      text-align: center;
      color:#666;
    }
  }
}