@import "../common/common.scss";

#_content>#treatRecords {
  #content {
    width: 20rem;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #f5f5f5;
    #title{
      background-color: #ededed;
    }
    .item{
      background-color: #fff;
      font-size: .778rem;
      color: #616161;
      line-height: 1;
      margin-top: .667rem;
      border-top:1px solid #E0E0E0;
      border-bottom:1px solid #E0E0E0;
      &:first-child{
        margin-top: 0;
        border-top: none;
      }
      >div{
        padding: .722rem .667rem;
        &:nth-of-type(1){
          overflow: hidden;
          >div{
            &:first-child{
              float: left;
            }
            &:last-child{
              float: right;
            }
            &.treat-unuse{
              color: #66cc66;
            }
            &.treat-used{
              color: #ff6666;
            }
            &.treat-canceled{
              color: #212121;
            }
          }
        }
        &:nth-of-type(2){
          >div{
            &:nth-of-type(2){
              margin-top: .667rem;
            }
            >span{
              color: #212121;
              margin-left:.667rem;
            }
          }
        }
      }
    }

    .border-t{
      border-top:1px solid #E0E0E0;
    }
    .border-b{
      border-bottom:1px solid #E0E0E0;
    }
  }

  #sureBtn{
    margin: .889rem .667rem;
    background-color: #fb5549;
    color: #ffffff;
    text-align: center;
    height: 2.444rem;
    line-height: 2.444rem;
    font-size: .889rem;
    border-radius: .222rem;
  }

  #loadTip{
    @include wq();
    height: 2rem;
    border-top: 1px solid #cecece;
    background-color: #fff;
    &.none{
      display: none;
    }
    >div{
      &:nth-of-type(1){
        width: 0.778rem;
        height: 0.778rem;
        @include img('../../../img/loading.gif',0.778rem 0.778rem);
      }
      &:nth-of-type(2){
        font-size: 0.778rem;
        margin-left: 0.2rem;
        line-height: 2rem;
        color: #666;
      }
    }
  }
  #finishTip{
    @include wq();
    height: 2rem;
    border-top: 1px solid #cecece;
    background-color: #fff;
    &.none{
      display: none;
    }
    >div{
      &:nth-of-type(1){
      }
      &:nth-of-type(2){
        font-size: 0.778rem;
        margin-left: 0.2rem;
        line-height: 2rem;
        color: #666;
      }
    }
  }
}