@import "../common/mixin.scss";
section#oneYuanSellRecordsPage{
  div.dataTable .sub-title{
    >th{
      padding: 0 5px;
      >div{
        text-align: left;
        >span{
          color: #fb5549;
          font-size: 12px;
          margin-left: 10px;
        }
      }
    }
  }

  div#dataListTable{
    margin-top: 10px;
  }
}