@import "../common/mixin.scss";
section#oneYuanPage{
  div#confirmModal>div{
    div.content{
      font-size:16px;
      line-height: 80px;
      padding-left:40px;
      font-weight: bold;
    }
  }

  div#dataListTable>table>thead>tr>th{
    a.btn{

      position: absolute;
      right:6px;
      top:7px;
      letter-spacing: 0;
      color:#666;
      cursor: pointer;
      border:1px solid #efefef;
      border-radius: 4px;
      padding:6px 10px;
      background-color: #f9f9f9;
      @include transition(all 0.3s);
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        background-color: $highlightColor;
        border-color:$highlightColor;
        color:#fff;
      }
    }
  }
  div#dataListTable{
    img{
      width: 100%;
    }
    td>span{
      display: inline-block;
    }
    th>a.show-image{
      display: block;
    }
  }

  div#editOneYuanModal{
    @include transition(padding-bottom 0.3s);
    form{
      &>div.img{
        position: relative;
        height:230px;
        margin:10px;
        border:1px dotted #ddd;
        border-radius: 4px;
        &>img{
          display: none;
          //position: absolute;
          max-width: 100%!important;
        }
        &>a,&>div#fileManager{
          position: absolute;
          display: block;
          width:140px;
          height:50px;
          top:50%;
          left:50%;
          margin-top:-25px;
          line-height: 50px;
          text-align: center;
          border: 1px solid #eee;
          border-radius: 4px;
          cursor: pointer;
          background-color: #f9f9f9;
          @include transition(all 0.3s);
          &:hover{
            background-color: $highlightColor;
            color:#fff;
            border-color:$highlightColor;
          }
        }
        &>a{
          margin-left:-145px;
        }
        &>div#fileManager{
          margin-left:5px;
          >div{
            &:first-child{
              height: 30px;
              line-height: 30px;
            }
            &:last-child{
              height: 20px;
              line-height: 20px;
              font-size: 12px;
              color: #999;
            }
          }
          &.hasItem{
            >div{
              &:first-child{
                height: 50px;
                line-height: 50px;
              }
              &:last-child{
                display: none;
              }
            }
          }
        }
        #uploadImgBtn{
          position: absolute;
          display: block;
          width:140px;
          height:50px;
          top:50%;
          left:50%;
          margin-top:-25px;
          margin-left:-145px;
          opacity: 0;
        }
        &>span.selectionTxt{
          display: none;
          position: absolute;
          bottom:0;
          right:0;
          color:#fff;
          background-color: rgba(0,0,0,0.5);
          padding:4px 6px;
          font-size:12px;
          &>b{
            font-weight: normal;
            margin-left:5px;
            &:first-child{
              margin-left:0;
            }
          }
        }
      }
      &>textarea{
        display: none;
      }
      &>div.item{
        border-top:1px dotted #ddd;
        line-height: 35px;
        margin-left:12px;
        margin-right:12px;
        padding:3px 0;
        &>label{
          display: inline-block;
          width:100px;
          text-align: right;
          font-weight: bold;
        }
        &>input{
          padding:4px 5px;
          width:250px;
        }
        >span.item-tip{
          font-size: 12px;
          color: #999999;
          margin-left: 5px;
        }
        >select{
          padding: 4px 5px;
          width: 200px;
        }
        &.amount,&.act-days{
          &>input{
            width:70px;
          }
        }
        &.rules{
          &>label{
            float: left;
          }
          &>div{
            float: left;
            width:350px;
            max-height: 120px;
            min-height:50px;
            overflow: auto;
            padding:4px 8px;
            line-height: 27px;
            border-radius: 4px;
            background-color: #fff;
            border: 1px solid #ddd;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            &:focus{
              border-color:#0099ff;
              outline: 0;
              -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) , 0 0 8px rgba(0,153,255,0.6);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) , 0 0 8px rgba(0,153,255,0.6);
            }
          }
        }
        &>a{
          padding: 6px 12px;
          border: 1px solid #eee;
          border-radius: 4px;
          margin-left: 15px;
          background-color: #f5f5f5;
          cursor: pointer;
          @include transition(all 0.3s);
          &:hover{
            background-color: $highlightColor;
            color:#fff;
            border-color:$highlightColor;
          }
        }
      }
      &.hasImg{
        &>div.img{
          margin-bottom:60px;
          &>a,&>div#fileManager,&>input#uploadImgBtn{
            top:100%;
            margin-top:5px;
          }
        }
      }
    }
  }

}

.oneYuan-image-dialog{
  div.ke-item{
    width: 185px;
    >.ke-photo{
      >img{
        width: 165px;
      }
    }
  }
}