@import "../common/common.scss";
#_content>#comment{
  #content{
    >div{
      padding-bottom: 3.5rem;
      >div{
        width: 20rem;
        box-sizing: border-box;
        background: #fff;
        overflow-x: hidden;
        &:nth-of-type(1){
          background: #ededed;
        }
        &:nth-of-type(2){
          margin-bottom: 0.667rem;
          padding:1.4305rem 0;
          @include wq();
          &.none{
            display: none;
          }
          >div{
            >div{
              margin: 0 auto;
              &:nth-of-type(1){
                width: 3.056rem;
                height: 3.056rem;
                @include img('../../../img/loading_page.png',3.056rem 3.056rem);
              }
              &:nth-of-type(2){
                font-size: 0.889rem;
                color:#fb5549;
              }
            }
          }
        }

        &.service-level{
          /*border-bottom: 1px solid #CCCCCC;*/
          >div{
            &:nth-of-type(1){
              padding: 1rem 2.778rem 0;
              @include s();
              >div{
                &:nth-of-type(1),&:nth-of-type(3){
                  @include boxFlex(1);
                  border-top: 1px solid #ccc;
                  margin-top: 1.778rem;
                }
                &:nth-of-type(2){
                  margin: 0 .5rem;
                  >div{
                    &:nth-of-type(1){
                      width: 3.556rem;
                      height: 3.556rem;
                      margin: 0 auto;
                      @include imgBgFix(3.556rem 3.556rem);
                      -webkit-border-radius: 50%;
                      -moz-border-radius: 50%;
                      border-radius: 50%;
                      border: 1px solid #bc7a22;
                      box-sizing: border-box;
                    }
                    &:nth-of-type(2){
                      margin-top: .2rem;
                      @include sx();
                      >div{
                        color: #616161;
                        &:nth-of-type(1){
                          @include boxFlex(1);
                          font-size: .889rem;
                          min-width: 2.433rem;
                          max-width: 7rem;
                          @include sl();
                          text-align: right;
                        }
                        &:nth-of-type(2){
                          margin-left: .5rem;
                          min-width: 2.433rem;
                          height: .722rem;
                          line-height: .722rem;
                          font-size: .556rem;
                          box-sizing: border-box;
                          border: 1px solid #616161;
                          -webkit-border-radius: .361rem;
                          -moz-border-radius: .361rem;
                          border-radius: .361rem;
                          text-align: center;
                        }
                      }
                    }
                  }
                }
              }
            }
            &:nth-of-type(2){
              padding: 0 .667rem .667rem;
              >div{
                &:nth-of-type(1){
                  font-size: .889rem;
                  color: #333;
                }
                &:nth-of-type(2){
                  >div{
                    @include sx();
                    font-size: .778rem;
                    color: #4d4d4d;
                    >div{
                      &:nth-of-type(1){
                        text-align: right;
                        @include boxFlex(1);
                      }
                      &:nth-of-type(2){
                        margin: 0 1rem 0 1.8rem;
                        position: relative;
                        top: -.1rem;
                        width: 9.278rem;
                        height: 1.083rem;
                        @include img('../../../img/comment/star-null-2.png',9.278rem 1.083rem);
                        >div{
                          height: 100%;
                          width: 100%;
                          @include img('../../../img/comment/star-selected-2.png',9.278rem 1.083rem);
                        }
                      }
                      &:nth-of-type(3){
                        width: 4rem;
                        text-align: right;
                        color: #ff9d09;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &.comment-item{
          /*padding: .778rem 1.278rem;*/
          margin-top: .556rem;
          padding-bottom: .667rem;
          /*>div{
            margin-left:1.278rem;
            margin-right:1.278rem;
          }*/
          >div:nth-of-type(1){
            box-sizing: border-box;
            height: 1.778rem;
            font-size: .889rem;
            color: #333333;
            line-height: 1.778rem;
            margin:0;
            padding-left:.667rem;
            padding-right:.667rem;
            padding-bottom:0;
            /*border-bottom:1px solid #d9d9d9;*/
            >span{
              font-size:.778rem;
              color: #999;
            }
          }
          >div:nth-of-type(2){
            padding:0 .667rem;
            >div.comment-score{
              margin-top:.667rem;
              height: 1.111rem;
              line-height: 1.111rem;
              display: table;
              width: 100%;
              &:nth-of-type(1){
                margin-top:0;
              }
              >div{
                font-size:.833rem;
                color: #4d4d4d;
                height: 1.111rem;
                line-height: 1.111rem;
                //float: left;
                display: table-cell;
                vertical-align: middle;
              }

              >div:nth-of-type(3){
                color: #ff9d09;
                width: 4rem;
                text-align: right;
              }
            }
          }


          >div.comment-labels{
            /*margin-top: 1rem;*/
            padding-bottom: 0;
            &:after{
              content: ' ';
              display: block;
              height: 0;
              clear: both;
            }
            >div{
              display: inline-block;
              text-align: center;
              height: 1.778rem;
              line-height: 1.778rem;
              margin-right: .667rem;
              margin-bottom: .5rem;
              padding:0 .5rem;
              box-sizing: border-box;
              border:1px solid #d9d9d9;
              -webkit-border-radius: .833rem;
              -moz-border-radius: .833rem;
              border-radius: .833rem;;
              font-size:.833rem;
              color: #4d4d4d;
              float: left;
              &.active{
                border-color: #ffbc56;
                color: #FFFFFF;
                background-color: #ffbc56;
              }
            }
          }

          >div.comment-text{
            position: relative;
            box-sizing: border-box;
            width: 18.583rem;
            /*height: 5.389rem;*/
            padding-bottom: .5rem;
            border:1px solid #d9d9d9;
            -webkit-border-radius: .333rem;
            -moz-border-radius: .333rem;
            border-radius: .333rem;
            margin:.01rem .667rem;
            >div{
              text-align: right;
              font-size: .722rem;
              line-height: 1;
              padding-right: .556rem;
            }
            >textarea{
              font-size: 0.889rem;
              display: block;
              height: 3.549rem;
              width: 100%;
              padding: .528rem .556rem 0;
              margin-bottom: .528rem;
              box-sizing: border-box;
              -webkit-border-radius: .333rem;
              -moz-border-radius: .333rem;
              border-radius: .333rem;
              &:read-only,&:disabled{
                background: #fff;
                color: #333 !important;
              }
            }
            >span{
              position: absolute;
              top: .528rem;
              left: .556rem;
              font-size: .833rem;
              color: #999999;
              line-height: 1;
              pointer-events: none;
              @include img("../../../img/comment/touch.png",  0.639rem 0.861rem);
              background-position: 0 50%;
              padding-left: 1.056rem;
              &.none{
                display: none;
              }
            }
          }
        }

        &:nth-of-type(5){
          padding:1.667rem 0 0.722rem;
          margin-bottom: 0;
          margin-top: 0.667rem;
          overflow: hidden;
          box-sizing: border-box;
          &>div:nth-of-type(1){
            text-align: center;
            color:#fb5549;
            font-size:0.889rem;
            display: none;
            margin-bottom:0.5rem;
          }
          &>div:nth-of-type(2){
            width:8.444rem;
            height:8.444rem;
            box-sizing: border-box;
            margin:0 auto 0.944rem;
            @include ty(0,0,0.2rem,0,#333333);
            border-radius:1px;
            &>img{
              width:8.444rem;
              height:8.444rem;
            }
          }
          &>div:nth-of-type(3){
            width:12.056rem;
            height:1.944rem;
            line-height: 1.944rem;
            text-align: center;
            color:#ff5549;
            margin:0 auto;
            font-size:0.889rem;
            border:2px dashed #ff5549;
          }
          &>div:nth-of-type(4){
            margin:0.889rem 0 0.889rem 5.278rem;
            &>div.list{
              font-size:0.778rem;
              color:#333333;
              &>span{
                color:#ffffff;
                font-size:0.667rem;
                background-color: #ff5549;
                border-radius: 50%;
                margin-right:0.444rem;
                padding:0.1rem 0.32rem;
              }
            }
            &>div.arrow{
              width: 0.471rem;
              height: 0.471rem;
              border-left:0.1rem solid #ff5549;
              border-bottom:0.1rem solid #ff5549;
              margin:0 0 0.3rem 2.778rem;
              @include rotate(-45deg);
            }
          }
          &>div:nth-of-type(5){
            color:#ff5549;
            text-align: center;
            font-size:0.889rem;
          }
        }

        .hide{
          display: none !important;
        }
      }
    }
  }

  #commentFooter {
    position: fixed;
    border-top: 1px solid #CCCCCC;
    bottom: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: .556rem .667rem;
    background-color: #e0e0e0;
    >div{
      @include wq();
      >div{
        &:nth-of-type(1){
          padding-left: 1rem;
          font-size: .889rem;
          color: #212121;
          margin-right: 1.5rem;
          @include imgBgFix(.889rem .889rem);
          background-position: left center;
          background-image: url('../../../img/comment/check.png');
          &.checked{
            background-image: url('../../../img/comment/check_active.png');
          }
        }
        &:nth-of-type(2){
          @include boxFlex(1);
          margin:0;
          width: 100%;
          height: 2.389rem;
          background: #d9d9d9;
          color: #ffffff;
          -webkit-border-radius: .333rem;
          -moz-border-radius: .333rem;
          border-radius: .333rem;
          @include wq();
          &.active {
            background: #fb5549;
          }
          &.disabled{
            background-color: #CCCCCC;
            background-image: url("../../../img/loading.gif");
            background-repeat:no-repeat;
            background-position: 33% 45%;
          }
        }
      }
    }
  }

  #payMask{
    display: none;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.5);
    &.active{
      display: block;
    }
  }

  .border-t-b{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
  }
}