@import "../common/common.scss";
@include keyframes(couponAni){
  from{
    @include rotate(0);
  }
  25%{
    @include rotate(-8deg)
  }
  75%{
    @include rotate(8deg);
  }
  to{
    @include rotate(0)
  }
}

@include keyframes(luckyWheelTipAni){
  from{
    @include rotate(0);
  }
  to{
    @include rotate(720deg)
  }
}
#_content>#home{
  #content{
    >div{
      width: 20rem;
      background: #fff;
      &.banner{
        height: 10rem;
        position: relative;
        overflow: hidden;
        @supports (display: -moz-box) {
          margin-bottom: -0.22rem;
        }
        >div{
          &:nth-of-type(1){
            width: 100%;
            height: 12.361rem;
            overflow: hidden;
            >div{
              &:nth-of-type(1){
                width: 20rem;
                height: 12.361rem;
                top: -1.181rem;
                @include dhyc(0ms);
                @include wy(0,0,0);
                position: relative;
                @include gpu();
                @include syzj();
                @supports (display: -moz-box) {
                  display: flex;
                }
                >img{
                  width: 20rem;
                  height:12.361rem;
                  //height: 100%;
                  float: left;
                  //@include gpu();
                  -webkit-flex-shrink: 0;
                  -ms-flex: 0 0 auto;
                  flex-shrink: 0;
                  position: relative;
                  text-align: center;
                  -webkit-box-pack: center;
                  -ms-flex-pack: center;
                  -webkit-justify-content: center;
                  justify-content: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  -webkit-align-items: center;
                  align-items: center;
                }
              }
              &:nth-of-type(2){
                position: relative;
                text-align: left;
                width: 19.5rem;
                left: .5rem;
                top: -4.4rem;
                pointer-events: none;
                height: 1.5rem;
                line-height: 1.5rem;
                >span{
                  margin-left:0.278rem;
                  width: 0.4rem;
                  height: 0.4rem;
                  display: inline-block;
                  border-radius: 100%;
                  background: rgba(255,255,255,0.2);
                  &.active{
                    background: #fff;
                  }
                }
              }
            }
          }
          &:nth-of-type(2){
            position: relative;
            top: -11.844rem;
            padding:0 0.667rem;
            max-width: 10rem;
            z-index: 1;
            @include sx();
            >div{
              &:nth-of-type(1){
                width: 1.778rem;
                height: 1.778rem;
                border-radius: 50%;
                @include imgBgFix(1.778rem 1.778rem);
                @include ty(0,0,0,.1rem,rgba(255,255,255,.8));
              }
              &:nth-of-type(2){
                margin-left: .667rem;
                margin-right: 1.333rem;
                font-size: .889rem;
                color: #FFFFFF;
                @include sl();
              }
              &:nth-of-type(3){
                width: .43rem;
                height: .43rem;
                border-left: 1px solid #FFFFFF;
                border-bottom: 1px solid #FFFFFF;
                @include rotate(-135deg);
              }
            }
          }
          &:nth-of-type(3){
            position: absolute;
            right: .667rem;
            top: .667rem;
            z-index: 1;
            @include sx();
            &.collected{
              >div:nth-of-type(1){
                background-image: url('../../../img/home/collected.png');
              }
            }
            >div{
              &:nth-of-type(1){
                width: .889rem;
                height: .889rem;
                @include img('../../../img/home/uncollected.png',.889rem .889rem);
              }
              &:nth-of-type(2){
                @include boxFlex(1);
                text-align: center;
                font-size: .778rem;
                color: #FFFFFF;
                width: 2.736rem;
              }
            }
          }
          &:nth-of-type(4){
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 1.889rem;
            text-align: right;
            @include bgLinearGradient(rgba(0,0,0,0),rgba(0,0,0,.2),top);
            @include sx();
            -webkit-box-pack: end;
            -moz-box-pack: end;
            >div{
              font-size: .778rem;
              color: #FFFFFF;
              &:nth-of-type(1){
                @include img('../../../img/home/location_icon.png',.889rem .889rem);
                background-position: left center;
                padding-left: 1.333rem;
                margin-right: .667rem;
              }
              &:nth-of-type(2){
                width: 3.222rem;
                @include img('../../../img/home/tel_white_icon.png',.889rem .889rem);
                background-position: center;
                border-left:1px solid #FFFFFF;
                height: .889rem;
              }
            }
          }
          &:nth-of-type(5){
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2.8rem;
            background: -moz-linear-gradient(top,rgba(0,0,0,0.5),rgba(0,0,0,0));
            background: -webkit-gradient(linear,top 50%,bottom 50%,from(rgba(0,0,0,0.5)),to(rgba(0,0,0,0)));
            background: -webkit-linear-gradient(top,rgba(0,0,0,0.5),rgba(0,0,0,0));
            background: -o-linear-gradient(top,rgba(0,0,0,0.5),rgba(0,0,0,0));
            background: linear-gradient(top,rgba(0,0,0,0.5),rgba(0,0,0,0));
          }
        }
      }
      &.menu{
        //height: 5rem;
        border-bottom: 1px solid #d9d9d9;
        width: 20rem;
        box-sizing: border-box;
        @include wq();
        &>div{
          width:3.85rem;
          margin-top:0.667rem;
          margin-bottom:0.611rem;
          //float: left;
          text-align: center;
          font-size:0.667rem;
          color:#4d4d4d;
          //box-sizing: border-box;
          border-right:1px solid #d9d9d9;
          &:last-child{
            border-right:0;
          }
          &>div{
            margin: 0 auto;
            &:nth-of-type(1){
              width:1.861rem;
              height:1.333rem;
              //margin-left:1.4195rem;
              &.clubProfile{
                @include img("../../../img/home/menu_000.png",1.861rem 1.333rem);
              }
              &.promotions{
                @include img("../../../img/home/menu_010.png",1.861rem 1.333rem);
              }
              &.serviceGroup{
                @include img("../../../img/home/menu_020.png",1.861rem 1.333rem);
              }
              &.address{
                @include img("../../../img/home/menu_030.png",1.861rem 1.333rem);
              }
              &.master{
                @include img("../../../img/home/menu_040.png",1.861rem 1.333rem);
              }
            }
            &:nth-of-type(2){
              margin-top:0.3rem;
              line-height: 1.2rem;
            }
          }
        }
      }
      &:nth-of-type(3){
        //height: 1.61rem;
        border-top: 1px solid #d9d9d9;
        border-bottom: 1px solid #d9d9d9;
        //margin-bottom: 0.6rem;
        margin-top: 0.444rem;
        color: #666666;
        font-size: 0.889rem;
        width: 20rem;
        >div{
          width: 18.666rem;
          padding: 0.667rem;
          height: 1.61rem;
          @include sx();
          &:nth-of-type(1){
            border-bottom: 1px solid #d9d9d9;
          }
          >div{
            &:nth-of-type(1){
              width: 1.333rem;
              height: 1.167rem;
              @include imgBgFix(1.333rem 1.167rem);
            }
            &:nth-of-type(2){
              padding-left: 0.633rem;
              width: 16rem;
            }
            &:nth-of-type(3){
              width: 0.417rem;
              height: 0.639rem;
              @include img('../../../img/right_icon.png',0.417rem 0.639rem);
            }
          }
        }
      }

      &.journal{
        display: none;
        height:2.378rem;
        background: #f0f0f0;
        >div{
          width:17.194rem;
          height:2.139rem;
          box-sizing: border-box;
          @include img("../../../img/journal/bg.png",17.194rem 2.139rem);
          margin:0.31rem auto 0;
          font-size:0.833rem;
          color:#fff;
          line-height: 2.52rem;
          padding-left:6.1rem;
          @include sl();
          >div{
            position: relative;
            font-size:.667rem;
            float: right;
            margin-right:2.7rem;
            color: #fb5549;
            padding-top: 0.5rem;
            text-decoration: underline;
            &:after{
              content:"";
              position: absolute;
              width:.34rem;
              height:.34rem;
              top:50%;
              right:-.4rem;
              /*margin-top:-0.242rem;*/
              border-bottom:2px solid #fb5549;
              border-left:2px solid #fb5549;
              @include rotate(-135deg);
            }
          }
        }
      }
      &.tech{
        margin-top:0.417rem;
        &>div:nth-of-type(2){
          //height:6.899rem;
          box-sizing: border-box;
          overflow: hidden;
          //padding:0 0.333rem;
          width: 19.333rem;
          margin-left: 0.667rem;
          &>div{
            box-sizing: border-box;
            &>div{
              margin: 0.333rem 0.6rem .333rem;
              font-size:0.778rem;
              box-sizing: border-box;
              text-align: center;
              overflow: hidden;
              width: 4.2rem;
              &>div{
                &:nth-of-type(1){
                  width:4.2rem;
                  height:4.2rem;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  border-radius: 50%;
                  @include imgBgFix(4.2rem 4.2rem);
                  position: relative;
                  &>div{
                    &:nth-of-type(1){
                      margin-top: 3.378rem;
                      width: 3.056rem;
                      line-height: .889rem;
                      border: 1px solid #fff;
                      //padding:0 0.36rem;
                      //border:1px solid #fb5549;
                      //border-radius: 0.55rem;
                      display: inline-block;
                      background: -moz-linear-gradient(left,#f55151,#fea338);
                      background: -webkit-gradient(linear,left 50%,right 50%,from(#f55151),to(#fea338));
                      background: -webkit-linear-gradient(left,#f55151,#fea338);
                      background: -o-linear-gradient(left,#f55151,#fea338);
                      background: linear-gradient(left,#f55151,#fea338);
                      @include sl();
                      color: #ffffff;
                      border-radius:.445rem;
                      font-size: .722rem;
                      color: #FFFFFF;
                    }
                    &:nth-of-type(2){
                      position: absolute;
                      right: 0;
                      top: .2rem;
                      width: 1.389rem;
                      height: .944rem;
                      @include img('../../../img/home/tech_msg_icon.png',1.389rem .944rem);
                    }
                  }
                }
                &:nth-of-type(2){
                  @include sx();
                  margin: .3rem 0.4rem 0;
                  >div{
                    @include boxFlex(1);
                    >div{
                      line-height: 1.3;
                      text-align: center;
                      &:nth-of-type(1){
                        height: .694rem;
                        @include imgBgFix(.833rem .694rem);
                        background-position: center;
                      }
                      &:nth-of-type(2){
                        font-size: .556rem;
                        color: #999999;
                        @include sl();
                      }
                    }
                    &:nth-of-type(1){
                      >div:nth-of-type(1){
                        background-image: url('../../../img/home/visit_icon.png');
                      }
                    }
                    &:nth-of-type(2){
                      >div:nth-of-type(1){
                        background-image: url('../../../img/home/good_icon.png');
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.item{
        background-color: #ffffff;
        margin-top: .444rem;
        >div{
          &:nth-of-type(1){
            line-height: 1.3;
            padding: .667rem;
            @include sx();
            >div{
              &:nth-of-type(1){
                @include boxFlex(1);
                font-size: .889rem;
                color: #333333;
                border-left: .111rem solid #ff6666;
                padding-left: .444rem;
              }
              &:nth-of-type(2){
                width: 2rem;
                text-align: right;
                font-size: .778rem;
                color: #ff6666;
                margin-right: .2rem;
              }
              &:nth-of-type(3){
                width: .43rem;
                height: .43rem;
                border-left: 1px solid #ff6666;
                border-bottom: 1px solid #ff6666;
                @include rotate(-135deg);
              }
            }
          }
        }
      }

      &.service{
        color: #4d4d4d;
        margin-top:0.444rem;
        >div{
          &:nth-of-type(1){
            padding: .667rem .667rem .333rem;
          }
          &:nth-of-type(2){
            display: inline-block;
            box-sizing: border-box;
            padding:0 0.333rem;
            overflow: hidden;
            &>div{
              padding: .333rem;
              box-sizing: border-box;
              width:9.667rem;
              float: left;
              &>div{
                width: 9rem;
                box-sizing: border-box;
                @include ty(0,0,.3rem,0,#e0e0e0);
                &:nth-of-type(1){
                  width: 9rem;
                  height:9rem;
                  @include imgBgFix(9rem 9rem);
                  position: relative;
                  >div{
                    position: absolute;
                    bottom: 0;
                    @include sl();
                    border-top: 0;
                    border-bottom: 0;
                    font-size: 0.778rem;
                    height:1.411rem;
                    line-height: 1.411rem;
                    padding-left: 0.444rem;
                    width: 100%;
                    box-sizing: border-box;
                    background-color: rgba(0,0,0,0.2);
                    color: #fff;
                  }
                }
                &:nth-of-type(2){
                  @include sx();
                  border-top: 0;
                  height: 2rem;
                  padding:0  .444rem;
                  >div{
                    font-size: .889rem;
                    &:nth-of-type(1){
                      @include boxFlex(1);
                      color: #ff6666;
                      >span{
                        font-size: .667rem;
                      }
                    }
                    &:nth-of-type(2){
                      font-size: .667rem;
                      color:#212121;
                      text-align: right;
                    }
                  }
                  &.has-discount{
                    >div{
                      &:nth-of-type(2){
                        font-size: .889rem;
                        text-decoration: line-through;
                        color:#616161;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.activity{
        >div{
          &:nth-of-type(1){
            padding-bottom: 0;
          }
          &:nth-of-type(2){
            >div{
              /*&:nth-of-type(2){
                border-top: 1px solid #d9d9d9;
              }*/
              border-top: 1px solid #e0e0e0;
              &:nth-of-type(1){
                border-top: none;
              }
              position: relative;
              &.act-detail{
                position: relative;
                background-color: #ffffff;
                padding:.889rem .667rem;
                box-sizing: border-box;
                &:before{
                  content: ' ';
                  display: block;
                  position: absolute;
                  width: 2.028rem;
                  height: 1.75rem;
                  left: .4rem;
                  top: .4rem;
                  @include imgBgFix(2.028rem 1.75rem);
                  background-image: url('../../../img/activities/qiang-tip-active.png');
                }
                >div:nth-of-type(1){
                  @include sx();
                  >div{
                    &:nth-of-type(1){
                      width: 3.833rem;
                      height: 3.833rem;
                      @include imgBgFix(3.833rem 3.833rem);
                      -webkit-border-radius: .278rem;
                      -moz-border-radius: .278rem;
                      border-radius: .278rem;
                      margin-right: .5rem;
                    }
                    &:nth-of-type(2){
                      @include boxFlex(1);
                      >div{
                        &:nth-of-type(1){
                          line-height: 1;
                          @include s();
                          >div{
                            &:nth-of-type(1){
                              font-size: .944rem;
                              color: #212121;
                              line-height: 1.1;
                              overflow: hidden;
                              text-overflow: ellipsis;
                              white-space: nowrap;
                              @include boxFlex(1);
                              >span{
                                font-size: .833rem;
                                color: #616161;
                              }
                              @include sx();
                              >div{
                                &:nth-of-type(1){
                                  @include sl();
                                  max-width: 8.5rem;
                                }
                                &:nth-of-type(2){
                                  height: .833rem;
                                  line-height: 1;
                                  padding-top: .056rem;
                                  box-sizing: border-box;
                                  width: 2.639rem;
                                  color: #ff9a0c;
                                  font-size: .722rem;
                                  border: 1px solid #FF9A0C;
                                  -webkit-border-radius: .2rem;
                                  -moz-border-radius: .2rem;
                                  border-radius: .2rem;
                                  text-align: center;
                                  margin-left: .2rem;
                                }
                              }
                            }
                            &:nth-of-type(2){
                              font-size: .722rem;
                              color: #999999;
                              &.act-end{
                                width: 4.028rem;
                                height: 1.389rem;
                                line-height: 1.389rem;
                                text-align: right;
                                padding-right: .667rem;
                                box-sizing: border-box;
                                color: #fff;
                                @include img('../../../img/robProject/act-end-bg.png',4.028rem 1.389rem);
                              }
                            }
                          }
                        }
                        &:nth-of-type(2){
                          @include x();
                        }
                      }
                    }
                  }
                }
                &.act-paid_item{
                  >div:nth-of-type(1)>div:nth-of-type(2)>div{
                    &:nth-of-type(2){
                      >div{
                        &:nth-of-type(1){
                          @include boxFlex(1);
                          line-height: 1;
                          >span{
                            &:nth-of-type(1){
                              font-size: 1rem;
                              color: #fb5549;
                            }
                            &:nth-of-type(2){
                              font-size: .722rem;
                              color: #fb5549;
                            }
                            &:nth-of-type(3){
                              font-size: .778rem;
                              color: #999999;
                              >span{
                                &:nth-of-type(1){
                                  font-size: .889rem;
                                  color: #FF9A0C;
                                }
                                &:nth-of-type(2){
                                  font-size: .722rem;
                                  color: #616161;
                                }
                              }
                            }
                          }
                        }
                        &:nth-of-type(2){
                          @include zy();
                          @include x();
                          margin-left: .3rem;
                          width: 3.639rem;
                          height: 1.833rem;
                          -webkit-border-radius: .2rem;
                          -moz-border-radius: .2rem;
                          border-radius: .2rem;
                          color: #FFFFFF;
                          font-size: .75rem;
                          @include img('../../../img/activities/qiang-btn-active.png',3.639rem 1.833rem);
                          >div{
                            @include wq();
                            @include boxFlex(1);
                            height: 1.211rem;
                            margin-right: .3rem;
                            >div{
                              &:nth-of-type(1){
                                line-height: 1;
                                @include boxFlex(1);
                                text-align: right;
                                margin-right: .3rem;
                              }
                              &:nth-of-type(2){
                                @include arrowRight(#fff,.3rem,.3rem);
                              }
                            }
                          }
                        }
                      }
                    }
                    &:nth-of-type(3){
                      @include sx();
                      >div{
                        &:nth-of-type(1){
                          color: #757575;
                          font-size: .667rem;
                          text-decoration: line-through;
                          margin-right: .5rem;
                          width: 5rem;
                          @include sl();
                        }
                        &:nth-of-type(2){
                          @include sx();
                          @include y();
                          @include boxFlex(1);
                          font-size: .667rem;
                          text-align: right;
                          >div{
                            font-size: .667rem;
                            color: #616161;
                            &:nth-of-type(even){
                              font-size: .722rem;
                              color: #ff6666;
                              border: 1px solid #E0E0E0;
                              padding: .1rem .1rem;
                              margin: 0 .1rem;
                              line-height: 1;
                            }
                          }
                        }
                      }
                    }
                    &:nth-of-type(4){
                      font-size: .667rem;
                      color: #757575;
                      line-height: 1;
                      margin-top: .5rem;
                      display: none;
                    }
                  }
                  &.act-end{
                    &:before{
                      background-image: url('../../../img/activities/qiang-tip-end.png');
                    }
                    >div:nth-of-type(1)>div:nth-of-type(2){
                      >div{
                        &:nth-of-type(3){
                          display: none;
                        }
                        &:nth-of-type(4){
                          display: block;
                        }
                      }
                    }
                    >div:nth-of-type(1)>div:nth-of-type(2)>div:nth-of-type(2)>div:nth-of-type(2){
                      @include img('../../../img/activities/qiang-btn-end.png',cover);
                    }
                    >div:nth-of-type(1)>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(2){
                      display: none;
                    }
                  }
                }
                &.act-one_yuan{
                  &:before{
                    width: 2.111rem;
                    height: 1.583rem;
                    @include img('../../../img/home/act-oneYuan.png',2.111rem 1.583rem);
                  }
                  >div:nth-of-type(1)>div:nth-of-type(2)>div{
                    &:nth-of-type(1){
                      >div:nth-of-type(2){
                        color: #FF9A0C;
                        display: none;
                      }
                    }
                    &:nth-of-type(2){
                      line-height: 1;
                      margin-top: .5rem;
                      >div>span{
                        &:nth-of-type(1){
                          color: #fb5549;
                          font-size: 1rem;
                          >span{
                            font-size: .722rem;
                          }
                        }
                        &:nth-of-type(2){
                          margin-left: .667rem;
                          color: #757575;
                          font-size: .667rem;
                          text-decoration: line-through;
                        }
                      }
                    }
                    &:nth-of-type(3){
                      >div{
                        &:nth-of-type(1){
                          line-height: 1;
                          margin-top: 0.4rem;
                          @include sx();
                          >div{
                            font-size: .667rem;
                            color: #616161;
                            &:nth-of-type(even){
                              font-size: .722rem;
                              color: #ff6666;
                              border: 1px solid #E0E0E0;
                              padding: .1rem .2rem;
                              margin: 0 .3rem;
                              line-height: 1;
                            }
                          }
                        }
                        &:nth-of-type(2){
                          display: none;
                        }
                      }
                    }
                    &:nth-of-type(4){
                      font-size: .667rem;
                      color: #757575;
                      line-height: 1;
                      margin-top: .7rem;
                      display: none;
                    }
                  }

                  &.act-started{
                    >div:nth-of-type(1)>div:nth-of-type(2)>div{
                      &:nth-of-type(1){
                        >div:nth-of-type(2){
                          display: block;
                        }
                      }
                      &:nth-of-type(3)>div{
                        &:nth-of-type(1){
                          display: none;
                        }
                        &:nth-of-type(2){
                          @include x();
                          line-height: 1;
                          margin-top: .745rem;
                          >div{
                            font-size: .667rem;
                            &:nth-of-type(1){
                              color: #616161;
                            }
                            &:nth-of-type(2){
                              color: #ff935f;
                            }
                            &:nth-of-type(3){
                              @include boxFlex(1);
                              margin: 0 4rem .2rem .333rem;
                              height: .334rem;
                              -webkit-border-radius: .167rem;
                              -moz-border-radius: .167rem;
                              border-radius: .167rem;
                              background-color: #f2f0f0;
                              >div{
                                height: 100%;
                                background: -webkit-gradient(linear,left 50%,right 50%,from(#ffcc58),to(#feb445));
                                background: -webkit-linear-gradient(left,#ffcc58,#feb445);
                                background: -moz-linear-gradient(left,#ffcc58,#feb445);
                                background: -o-linear-gradient(left,#ffcc58,#feb445);
                                background: linear-gradient(left,#ffcc58,#feb445);
                                -webkit-border-radius: .167rem;
                                -moz-border-radius: .167rem;
                                border-radius: .167rem;
                              }
                            }
                            &:nth-of-type(4){
                              @include zy();
                              @include x();
                              position: absolute;
                              right: .667rem;
                              bottom: .889rem;
                              margin-left: .3rem;
                              width: 3.639rem;
                              height: 1.833rem;
                              -webkit-border-radius: .2rem;
                              -moz-border-radius: .2rem;
                              border-radius: .2rem;
                              color: #FFFFFF;
                              font-size: .75rem;
                              @include img('../../../img/activities/qiang-btn-active.png',3.639rem 1.833rem);
                              >div{
                                @include wq();
                                @include boxFlex(1);
                                height: 1.211rem;
                                margin-right: .3rem;
                                >div{
                                  &:nth-of-type(1){
                                    line-height: 1;
                                    @include boxFlex(1);
                                    text-align: right;
                                    margin-right: .3rem;
                                  }
                                  &:nth-of-type(2){
                                    @include arrowRight(#fff,.3rem,.3rem);
                                  }
                                }
                              }

                            }
                          }
                        }
                      }
                    }
                  }
                  &.act-complete{
                    >div:nth-of-type(1)>div:nth-of-type(2){
                      >div{
                        &:nth-of-type(1){
                          >div:nth-of-type(2){
                            display: none;
                          }
                        }
                        &:nth-of-type(3){
                          display: none;
                        }
                        &:nth-of-type(4){
                          display: block;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.discount-service{
        display: none;
        ul{
          list-style-type: none;
          padding: 0;
          margin: 0 0 0 0.611rem;
          &:after{
            content: "";
            display: block;
            clear: both;
          }
        }
        li{
          position: relative;
          float: left;
          width: 9.0278rem;
          height: 11.9444rem;
          margin: 0 0.667rem 0.833rem 0;
          border-radius: 2px;
          box-sizing: border-box;
          box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1), 4px 0 2px -2px rgba(0,0,0,0.1), -4px 0 2px -2px rgba(0,0,0,0.1);
          overflow: hidden;
          >div{
            &:nth-of-type(1){
              position: relative;
              height: 9.0278rem;
              @include imgBgFix(9.0278rem 9.0278rem);
              display: flex;
              align-items: flex-end;
              >div{
                height: 1.611rem;
                line-height: 1.611rem;
                background: rgba(0,0,0,0.2);
                color: #fff;
                width: 100%;
                text-indent: 0.278rem;
                font-size: 0.889rem;
                @include sl();
              }
            }
            &:nth-of-type(2){
              padding-left: 0.5rem;
              color: #f66;
              line-height: 1.85;
              font-size: 0.667rem;
              >b{
                font-size: 1.056rem;
                margin-right: 0.1rem;
              }
              >span{
                float: right;
                margin-top:0.4rem;
                margin-right: 0.3rem;
                border: 1px solid #f66;
                border-radius: 3px;
                padding: 0 0.3rem;
                line-height: 1.5;
              }
            }
            &:nth-of-type(3){
              line-height: 1.2;
              font-size: 0.667rem;
              text-decoration: line-through;
              padding-left: 0.5rem;
              color: #999;
              >div{
                position: relative;
                float: right;
                margin-right: 0.3rem;
                width:4.8rem;
                height: 0.677rem;
                background: #f66;
                border-radius: 1rem;
                line-height: 0.677rem;
                color: #fff;
                text-align: center;
                font-size: 0.556rem;
                overflow: hidden;
                >div{
                  position: absolute;
                  left:50%;
                  top:0;
                  bottom:0;
                  right:0;
                  border-bottom-right-radius: 1rem;
                  border-top-right-radius: 1rem;
                  background: rgba(255,255,255,0.65);
                }
              }
            }
            &:nth-of-type(4){
              position: absolute;
              height: 1.167rem;
              line-height: 1.167rem;
              width: 3.8rem;
              top: 1.5rem;
              left:0;
              color: #fff;
              font-size: 0.667rem;
              text-align: center;
              @include tOrigin(0% 100%);
              @include rotate(-45deg);
              &.new{
                background: #80d7c6;
              }
              &.best{
                background: #febb5c;
              }
            }
          }
          &.sellOut,&.expired{
            &:after{
              position: absolute;
              content: "售罄";
              width: 4.722rem;
              height: 4.722rem;
              top: 1.556rem;
              left: 50%;
              margin-left: -2.361rem;
              text-align: center;
              line-height: 4.722rem;
              color: #fff;
              font-size: 1.111rem;
              background: rgba(0,0,0,0.4);
              border-radius: 50%;
            }
          }
          &.expired{
            &:after{
              content: "已过期"
            }
          }
        }
      }
    }

    .hide{
      display: none !important;
    }
  }

  #coupons{
    @include mask();
    z-index:3;
    >div{
      margin: 0 auto;
      &:nth-of-type(1){
        margin-top: 4rem;
        margin-left: 3rem;
        width: 13.306rem;
        height: 15.528rem;
        @include img('../../../img/home/hongbao1.png',13.306rem 15.528rem);
        >div{
          padding-top: 8.2rem;
          padding-left: 3rem;
          color:#ffe305;
          >div{
            display: inline-block;
            font-size: 1.6rem;
            height: 2rem;
            width:8.8rem;
            text-align: center;
            //@include sl();
          }
          &.spec-6{
            &>div{
              font-size:1.4rem;
            }
          }
          &.spec-7{
            &>div{
              font-size:1.2rem;
            }
          }
          &.spec-8{
            &>div{
              font-size:1rem;
            }
          }
          &.two-line{
            padding-top: 7.8rem;
            &>div{
              font-size:1rem;
              line-height: 1.3rem;
            }
          }
        }
      }
      &:nth-of-type(2){
        margin: 1rem auto 0 auto;
        @include ty(0, 0.222rem, 0, 0, #ffa800);
        width: 8.333rem;
        height: 2.444rem;
        border-radius: 5px;
        background: #ffe305;
        color:#eb4224;
        text-align: center;
        line-height: 2.444rem;
      }
      &:nth-of-type(3){
        margin-left: 16rem;
        margin-top: -20rem;
        width: 1.694rem;
        height: 1.778rem;
        @include img('../../../img/home/xx.png',1.694rem 1.778rem);
      }
    }
  }

  #getPlumflowers{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    opacity: 0;
    @include scale(1,0);
    @include tOrigin(50% 100%);
    @include transition(all 0.5s);
    &.active{
      opacity: 1;
      @include scale(1,1);
    }
    &>div{
      position: absolute;
      top:45%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 17.722rem;
      left:50%;
      text-align: center;
      /*-webkit-border-radius: .694rem;
      -moz-border-radius: .694rem;
      border-radius: .694rem;*/
      >div{
        background-color: #fff;
        &:nth-of-type(1){
          -webkit-border-radius: .694rem;
          -moz-border-radius: .694rem;
          border-radius: .694rem;
          >div{
              position: relative;
              -webkit-border-radius: .694rem;
              -moz-border-radius: .694rem;
              border-radius: .694rem;
              height: 15.306rem;
              @include img('../../../img/home/flowers_bg.png',17.722rem 15.306rem);
              >div{
                position: absolute;
                left: .889rem;
                top:.5rem;
                width: 12.472rem;
                height: 11.278rem;
                @include imgBgFix(12.472rem 11.278rem);
                &:nth-of-type(1){
                  background-image: url('../../../img/home/flowers_ani_01.png');
                }
                &:nth-of-type(2){
                  display: none;
                  background-image: url('../../../img/home/flowers_ani_02.png');
                }
              }
              &.toggle{
                >div{
                  &:nth-of-type(1){
                    display: none;
                  }
                  &:nth-of-type(2){
                    display: block;
                  }
                }
              }
          }
          >a{
            display: inline-block;
            width: 9.139rem;
            background-color: #ff6666;
            height: 2.222rem;
            line-height: 2.222rem;
            -webkit-border-radius: 1.111rem;
            -moz-border-radius: 1.111rem;
            border-radius: 1.111rem;
            margin:1.167rem 0;
            color: #fff;
            font-size: 1rem;
          }
        }
        &:nth-of-type(2){
          margin-top: .917rem;
          display: inline-block;
          font-size: 2rem;
          border-radius: 50%;
          width: 1.611rem;
          height: 1.611rem;
          text-align: center;
          line-height: 1.611rem;
          color: #ff7a81;
        }
      }
    }
  }

  #paidCoupon{
    position: absolute;
    height:1.528rem;
    line-height: 1.528rem;
    right:0;
    bottom:4.75rem;
    background-color: #ff9d09;
    border: 1px solid #805005;
    border-right: none;
    color: #581b00;
    font-size: .778rem;
    padding: 0 .4rem 0 .689rem;
    text-align: right;
    box-sizing: border-box;
    box-shadow: 0 .028rem .139rem 0 rgba(0,0,0,.5);
    opacity: .8;
    >div{
      position: absolute;
      top: -1.9rem;
      left: -2.4rem;
      width: 3.139rem;
      height: 3.806rem;
      transform-origin: center 65%;
      @include img('../../../img/technicianDetail/coupon.png',3.139rem 3.806rem);
      @include dhz(couponAni,600ms ease-in-out 5);
    }
  }


  #luckyWheelTip{
    position: absolute;
    width: 4.1rem;
    height: 4.567rem;
    bottom: 6rem;
    right: 0;
    transform: scale(0.8);
    display: none;
    >div{
      position: absolute;
      &:nth-of-type(1){
        top: 0.6rem;
        width: 3.5rem;
        height: 3.5rem;
        @include img('../../../img/home/lucky-wheel-tip-wheel.png',3.5rem 3.5rem);
        @include dhz(luckyWheelTipAni,2s ease infinite);
      }
      &:nth-of-type(2){
        left: .05rem;
        width: 3.472rem;
        height: 1.528rem;
        @include img('../../../img/home/lucky-wheel-tip-top.png',3.472rem 1.528rem);
      }
      &:nth-of-type(3){
        bottom: -0.2rem;
        left: -0.4rem;
        width: 4.278rem;
        height: 1.556rem;
        @include img('../../../img/home/lucky-wheel-tip-text.png',4.278rem 1.556rem);
      }
      &:nth-of-type(4){
        top: 1.5rem;
        left: 1.3rem;
        width: .917rem;
        height: 1.333rem;
        @include img('../../../img/home/luck-wheel-tip-arrow.png',.917rem 1.333rem);
      }
    }
    &.active{
      display: block;
    }
  }

  .activity-pop{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    opacity: 0;
    @include scale(1,0);
    @include tOrigin(50% 100%);
    @include transition(all 0.5s);
    &.active{
      opacity: 1;
      @include scale(1,1);
    }
    &>div{
      position: absolute;
      top:45%;
      @include translate(0, -50%);
      width: 100%;
      text-align: center;
      /*-webkit-border-radius: .694rem;
      -moz-border-radius: .694rem;
      border-radius: .694rem;*/
      >div{
        &:nth-of-type(1){
          width: 100%;
          position: relative;
          >div{
            position: absolute;
            top: 0;
            bottom: 0;
            /*left: 50%;
            @include translate(-50%,0);*/
          }
        }
        &:nth-of-type(2){
          margin-top: .917rem;
          display: inline-block;
          font-size: 1.9rem;
          border-radius: 50%;
          width: 1.611rem;
          height: 1.611rem;
          text-align: center;
          line-height: 1.611rem;
          color: #fff;
        }
      }
    }
  }

  #luckyWheel{
    >div{
      >div{
        &:nth-of-type(1){
          height: 17.833rem;
          @include img('../../../img/home/luckyWheel.png',100% 17.833rem);
          >div{
            width: 16rem;
            left: 2rem;
            top: 1.2rem;
          }
        }
        &:nth-of-type(2){
          background-color: #f5b400;
        }
      }
    }
  }
  #timeLimit{
    >div{
      >div{
        &:nth-of-type(1){
          height: 22.194rem;
          @include img('../../../img/home/timeLimit.png',100% 22.194rem);
          >div{
            width: 15.4rem;
            left: 2rem;
          }
        }
        &:nth-of-type(2){
          background-color: #ff73a4;
        }
      }
    }
  }
  #oneYuan{
    >div{
      >div{
        &:nth-of-type(1){
          height: 22.194rem;
          @include img('../../../img/home/oneYuan.png',100% 22.194rem);
          >div{
            width: 16rem;
            left: 2rem;
          }
        }
        &:nth-of-type(2){
          background-color: #2b9ec6;
        }
      }
    }
  }
  #journal{
    >div{
      >div{
        &:nth-of-type(1){
          height: 19.75rem;
          @include img('../../../img/home/journal.png',100% 19.75rem);
          >div{
            width: 15.417rem;
            left: 2.4rem;
          }
        }
        &:nth-of-type(2){
          border: 1px solid #FFFFFF;
        }
      }
    }
  }

}