@import "../common/common.scss";

#_content>#map{
  #content {
    width:100%;
  }

  div#map-container{
    width:100%;
    height:100%;
  }

  div.gd_marker{
    width:30px;
    height:40px;
    @include img('../../../img/map/marker_icon.png', 30px 40px);
    color: #ffffff;
    text-align: center;
    line-height:30px;
    font-size:14px;
  }

  div.gd_infoWin{
    background: rgba(0,0,0,0.6);
    min-height:2.971rem;
    color:#ffffff;
    padding:0.5rem;
    border-radius:0.222rem;
    &>h3{
      padding:0;
      margin:0;
      font-size:0.888rem;
      font-weight: normal;
    }
    &>span{
      font-size:0.666rem;
    }
    &>a{
      display: block;
      width:2.972rem;
      position: absolute;
      background-color: #fd9b33;
      border-radius: 0.222rem;
      font-size:0.666rem;
      text-align: center;
      right:0.5rem;
      top:0.5rem;
      text-indent: 0.68rem;
      &>i{
        position: absolute;
        display: block;
        width:0.88rem;
        height:0.77rem;
        top:50%;
        margin-top:-0.385rem;
        left:0.28rem;
        @include img('../../../img/map/nav_icon.png', 0.88rem 0.77rem);
      }
    }
    &>i{
      display: block;
      position: absolute;
      width:0;
      height:0;
      border-top:0.666rem solid rgba(0,0,0,0.6);
      border-left:0.416rem solid transparent;
      border-right:0.416rem solid transparent;
      top:100%;
      left:50%;
      margin-left:-0.416rem;
    }
  }
  /*
  ul#map-app-list{
    display: none;
    position: fixed;
    z-index:9999;
    bottom:0;
    left:0;
    right:0;
    padding-left:0.4rem;
    padding-right:0.4rem;
    margin:0;
    &>li{
      display: block;
      font-size:0.777rem;
      color:#ffffff;
      background-color:rgba(0,0,0,0.6);
      margin-bottom:0.55rem;
      border-radius: 0.222rem;
      height:1.8rem;
      line-height:1.8rem;
      text-align: center;
    }
  }
  */
}