@import "../common/common.scss";

#_content>#paidCoupon {
  #content {
    width: 20rem;
    &>div:nth-of-type(2){
      position: relative;
      background-color: #fff;
      font-size:1.056rem;
      height:3.611rem;
      line-height: 3.611rem;
      color:#666;
      border-bottom:1px solid #d9d9d9;
      padding-left:3.611rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 2rem;
      &>div:nth-of-type(1){
        position: absolute;
        width:2.5rem;
        height:2.5rem;
        left:0.611rem;
        top:50%;
        margin-top:-1.25rem;
        border-radius: 50%;
        border:1px solid #eee;
        @include imgBgFix(2.5rem 2.5rem);
      }
      &>div:nth-of-type(2){
        position: absolute;
        width:0.6rem;
        height:0.6rem;
        right:0.722rem;
        top:50%;
        margin-top:-0.3rem;
        border-left:0.16rem solid #666;
        border-bottom:0.16rem solid #666;
        @include rotate(-135deg);
      }
    }

    &>div:nth-of-type(3){
      margin-top:0.833rem;
      padding:0.694rem;
      background-color: #fff;
      border-top:1px solid #d9d9d9;
      border-bottom:1px solid #d9d9d9;
      &>div:nth-of-type(1){
        height:2.444rem;
        &>div:nth-of-type(1){
          float: left;
          width:2.444rem;
          height:2.444rem;
          border-radius: 50%;
          border:1px solid #eee;
          @include imgBgFix(2.444rem 2.444rem);
        }
        &>div:nth-of-type(2){
          float: left;
          height:2.444rem;
          line-height: 2.444rem;
          margin-left:0.778rem;
          color:#4d4d4d;
          &>span{
            font-size:0.778rem;
            margin-left:0.3rem;
            &>span{
              color:#ff9d09;
            }
          }
        }
      }

      &>div:nth-of-type(2){
        position: relative;
        height:4.167rem;
        margin-top:0.667rem;
        border-top-left-radius: 0.222rem;
        border-top-right-radius: 0.222rem;
        background-color: #ff6666;
        padding:0 0.75rem;
        box-sizing: border-box;
        color:#fff;
        &>div:nth-of-type(1){
          width:11.444rem;
          height:100%;
          padding:0.75rem 0;
          border-right:1px dotted #f24f52;
          box-sizing: border-box;
          &>div:nth-of-type(1){
            font-size:1.167rem;
            line-height: 1.6rem;
          }
          &>div:nth-of-type(2){
            font-size:0.778rem;
          }
        }
        &>div:nth-of-type(2){
          position: absolute;
          text-align: right;
          width:5.056rem;
          height:1.5rem;
          padding-right:0.6rem;
          box-sizing: border-box;
          font-size:0.778rem;
          line-height: 1.5rem;
          right:0.667rem;
          top:1.056rem;
          @include img("../../../img/callCoupon/clock.png",5.056rem 1.5rem);
        }
      }

      &>div:nth-of-type(3){
        height:1.389rem;
        line-height: 1.389rem;
        background-color: #f24f52;
        color:#fff;
        font-size:0.667rem;
        padding-left:0.694rem;
        border-bottom-left-radius: 0.222rem;
        border-bottom-right-radius: 0.222rem;
      }

    }

    &>div:nth-of-type(4){
      margin-top:0.75rem;
      margin-bottom:3.4rem;
      border-top:1px solid #d9d9d9;
      border-bottom:1px solid #d9d9d9;
      background-color: #fff;
      padding:0 0.694rem;
      color:#4d4d4d;
      font-size:0.778rem;
      &>div:nth-of-type(1){
        position: relative;
        line-height: 2.083rem;
        border-bottom:1px solid #d9d9d9;
        padding-left:1rem;
        &>i{
          position: absolute;
          left:0;
          top:50%;
          margin-top:-0.4445rem;
          width:0.778rem;
          height:0.889rem;
          @include img("../../../img/callCoupon/desc.png",0.778rem 0.889rem);
        }
      }
      &>div:nth-of-type(2){
        padding:0.444rem 0.222rem 0.444rem 1.111rem;
        &>p{
          margin:0;
        }
        &>ol{
          padding:0;
          margin:0;
        }
      }
    }
  }

  #payCount{
    position: absolute;
    bottom: 3.778rem;
    left:0;
    right:0;
    background-color: #FFFFFF;
    padding:.667rem;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    font-size: .889rem;
    color: #212121;
    >span{
      display: inline-block;
      /*box-sizing: border-box;*/
      text-align: center;
      &:nth-of-type(1),&:nth-of-type(3){
        width: 2.167rem;
        height: 1.611rem;
        line-height: 1.611rem;
        border:2px solid #b5b5b5;
      }
      &:nth-of-type(2){
        color: #FF6666;
        width: 2.5rem;
      }
    }
    >div{
      float: right;
      height: 100%;
      line-height: 1.667rem;
      >span{
        color: #FF6666;
        font-size: 1.333rem;
      }
    }
  }

  #payBtn{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    background-color: #FFFFFF;
    height:2.444rem;
    padding:0.667rem;
    &>div{
      background-color: #fb5549;
      height:100%;
      line-height: 2.444rem;
      color:#fff;
      font-size:1.056rem;
      letter-spacing: 1px;
      text-align: center;
      border-radius: 0.222rem;
      &.disabled{
        background-color: #CCCCCC;
        background-image: url("../../../img/loading.gif");
        background-repeat:no-repeat;
        background-position: 33% center;
      }
    }
  }
}