.mint-loadmore {
  overflow: hidden
}

.mint-loadmore-content.is-dropped {
  -webkit-transition: .2s;
  transition: .2s
}

.mint-loadmore-top {
  margin-top: -50px;
  text-align: center;
  height: 50px;
  line-height: 50px
}

.mint-loadmore-spinner {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle
}

.mint-loadmore-text {
  vertical-align: middle;
  line-height:1.111rem;
  font-size:0.778rem;
  color:#999;
}