@import "common.scss";
*{
  z-index: 0;
  font-family:arial,"Microsoft YaHei";
  tap-highlight-color: rgba(0,0,0,0);
  -moz-highlight-color: rgba(0,0,0,0);
  -ms-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html{
  min-height:100%;
  max-width: 20rem;
  overflow: hidden;
}
body{
  position: absolute;
  left: 0;
  top:0;
  margin:0;
  padding:0;
  width: 20rem;
  max-width: 20rem;
  height: 100%;
  color: #B0B0B0;
  font: 1rem/1.5rem "Microsoft Yahei",Arial;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}
div{
  margin:0;
  padding:0;
  display: block;
}
a{
  text-decoration:none;
  -webkit-tap-highlight-color:rgba(255,0,0,0);
}
input[type="password"],
input[type="search"],
input[type='text'],
input[type='tel'],textarea{
  color: #4d4d4d;
  border: 0;
  outline:none;
  -webkit-tap-highlight-color:rgba(255,0,0,0);
  resize: none;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-appearance: none;
  -webkit-tap-highlight-color:rgba(255,0,0,0);
}
