@import "../common/mixin.scss";

div#service-item-page{
  div.profile-swipe,div.swipe-items-wrap{
    height:100%;
  }
  div.swipe-item{
    overflow-y: auto;
  }
  div.service-item-top{
    background-color: #fff;
    height: 11.583rem;
    @include sx();
    padding:0.667rem 0.778rem 0.444rem;
    >div{
      &:nth-of-type(1) {
        width: 8.667rem;
        height: 8.667rem;
        @include imgBgFix(8.667rem 8.667rem);
        border: 4px solid #fff;
        @include ty(0,0,5px,0,rgba(205, 194, 194, 0.5));
      }
      &:nth-of-type(2) {
        margin-left: 1rem;
        >div {
          &:nth-of-type(1) {
            color: #666;
            font-size: 1.167rem;
            margin-bottom: 1.222rem;
            text-overflow: ellipsis;
            word-break: break-all;
            width: 9rem;
            letter-spacing: 1px;
          }
          &:nth-of-type(2) {
            @include sx();
            margin-bottom: 0.222rem;
            >div {
              &:nth-of-type(1) {
                width: 0.9167rem;
                height: 0.8889rem;
                @include img('../../images/serviceItem/clock.png',0.9167rem 0.8889rem);
                margin-right: 0.306rem;
              }
              &:nth-of-type(2) {
                color: #fff;
                height: 1.167rem;
                font-size: 0.778rem;
                line-height: 1.167rem;
                padding: 0 0.7rem 0 0.4rem;
                @include img("../../images/serviceItem/price_bg.png",100% 1.167rem);
              }
            }
          }
          &:nth-of-type(3) {
            margin-left:1.084rem;
            color: #df5050;
            font-size: 0.778rem;
          }
        }
      }
    }
  }
  div.service-item-desc{
    color: #666;
    font-size: 0.889rem;
    line-height: 1.167rem;
    border-top: 1px dashed #d9d9d9;
    border-bottom:1px solid #ddd;
    padding: 0.667rem 0.778rem 0.667rem;
    background: #fff;
    word-break: break-all;
    &>div:nth-of-type(1){
      height:1.4rem;
      line-height:1.4rem;
      font-size:0.778rem;
      position: relative;
      padding-left:1.194rem;
      margin-bottom:0.222rem;
      color:#4d4d4d;
      &>i{
        position: absolute;
        width:0.971rem;
        height:0.971rem;
        top:50%;
        margin-top:-0.4855rem;
        left:0;
        @include img("../../images/serviceItem/item_icon.png",0.971rem 0.971rem);
      }
    }
    p{
      line-height: 1.5;
      margin:0.2rem 0;
    }
  }
}

div.confirm-btn{
  position: fixed;
  bottom: 0;
  height: 3.333rem;
  left: 0;
  right: 0;
  background-color: #e1e1e1;
  z-index:10;
  &>a{
    display: block;
    margin: .444rem .667rem 0;
    background-color: #fb5549;
    color: #fff;
    font-size: 1.056rem;
    text-align: center;
    height: 2.444rem;
    letter-spacing: 2px;
    line-height: 2.444rem;
    border-radius: 5px;
  }
}