@import "../common/mixin.scss";

div.club-item-wrap{
  background-color: #fff;
  margin-bottom: .222rem;
  padding: 0 0 .333rem;
  &:last-child{
    margin-bottom: 0;
  }
  &.no-techs{
    padding-bottom: 0;
  }
  >div.club-info{
    padding: .5rem 0 .333rem 3.611rem;
    line-height: 1;
    position: relative;
    margin:0 .667rem;
    >i{
      display: inline-block;
      position: absolute;
      width: 2.944rem;
      height: 2.944rem;
      @include imgBgFix(2.944rem 2.944rem);
      top:50%;
      margin-top:-1.472rem;
      left:0;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
    >div{
      >div{
        >span:nth-of-type(1){
          width: 11rem;
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 1.3;
        }
        &:first-child{
          font-size: .944rem;
          color: #212121;
          margin-bottom: .667rem;
          >span:nth-of-type(2){
            float: right;
            padding: .278rem .556rem;
            text-align: center;
            color: #fff;
            background-color: #ff9d09;
            font-size: .611rem;
            -webkit-border-radius: .556rem;
            -moz-border-radius: .556rem;
            border-radius: .556rem;
          }
        }
        &:last-child{
          font-size: .778rem;
          color: #666;
          >span:nth-of-type(2){
            float: right;
            font-size: .722rem;
            color: #999;
          }
        }
      }
    }
  }
  >div.club-techs{
    padding:.14rem 0.14rem 0.556rem;
    margin-left: .667rem;
    height: 5.807rem;
    div.swiper-slide{
      border-radius: .222rem;
      box-shadow: 0 0 .139rem 0 #c7c7c7;
      display: inline-block;
      margin-right:.611rem;
      width: 5.111rem;
      height: 5.111rem;
      @include imgBgFix(5.111rem 5.111rem);
      >div{
        width:100%;
        height:100%;
      }
    }
  }
}