div.tech-item-wrap {
  background-color: #fff;
  padding-left: .667rem;
  border-bottom: 1px solid #e0e0e0; }
  div.tech-item-wrap > div.title {
    height: 1.556rem;
    line-height: 1.556rem;
    padding: .556rem .667rem .556rem 0;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: content-box; }
    div.tech-item-wrap > div.title > div:nth-of-type(1) {
      width: 1.556rem;
      height: 1.556rem;
      float: left;
      border-radius: 50%;
      background-size: 1.556rem 1.556rem;
      background-repeat: no-repeat; }
    div.tech-item-wrap > div.title > div:nth-of-type(2) {
      width: 13rem;
      padding-left: .667rem;
      float: left;
      font-size: .944rem;
      font-weight: 700;
      color: #212121;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
      div.tech-item-wrap > div.title > div:nth-of-type(2) > span {
        color: #f66;
        font-weight: 700; }
    div.tech-item-wrap > div.title > div:nth-of-type(3) {
      width: 4rem;
      float: left;
      text-align: right;
      color: #999;
      font-size: .722rem; }
  div.tech-item-wrap > div.list-item {
    position: relative;
    padding: .833rem .667rem .833rem 3.5rem;
    border-bottom: 1px solid #e0e0e0; }
    div.tech-item-wrap > div.list-item > div:nth-of-type(1) {
      position: absolute;
      width: 2.778rem;
      height: 2.778rem;
      border-radius: 50%;
      top: .833rem;
      left: 0;
      background-size: 2.778rem 2.778rem;
      background-repeat: no-repeat; }
    div.tech-item-wrap > div.list-item > div:nth-of-type(2) {
      margin-bottom: 0.4rem;
      color: #212121;
      font-size: .994rem;
      line-height: 1; }
      div.tech-item-wrap > div.list-item > div:nth-of-type(2) > span {
        color: #f66; }
    div.tech-item-wrap > div.list-item > div:nth-of-type(3) {
      color: #999;
      font-size: .667rem;
      margin-bottom: 0.4rem; }
      div.tech-item-wrap > div.list-item > div:nth-of-type(3) div.stars {
        display: inline-block; }
      div.tech-item-wrap > div.list-item > div:nth-of-type(3) span {
        margin-left: 0.4rem; }
    div.tech-item-wrap > div.list-item > div:nth-of-type(4) {
      line-height: 1;
      padding-left: 1rem;
      background-position: left center;
      background-size: 0.611rem 0.611rem;
      background-image: url("../../images/clubList/label.png");
      background-repeat: no-repeat;
      font-size: .722rem;
      color: #757575; }
      div.tech-item-wrap > div.list-item > div:nth-of-type(4) > span {
        color: #f66; }
  div.tech-item-wrap > div:last-child {
    border-bottom-width: 0; }
