@import "../common/mixin.scss";

div#tech-reward-page{
  div.top-tip{
    height:6.056rem;
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;
    padding-top:0.528rem;
    >div{
      margin-left:3.194rem;
      width:13.472rem;
      height:5.056rem;
      @include img("../../images/techReward/banner.png",13.472rem 5.056rem);
    }
  }

  div.reward-list{
    position: relative;
    padding-left:0.25rem;
    &::after{
      content : "";
      display: block;
      clear: both;
    }
    >div{
      float: left;
      height:4.167rem;
      width:4.361rem;
      border:1px solid #d9d9d9;
      border-radius: 4px;
      text-align: center;
      color:#4d4d4d;
      margin-left:0.417rem;
      margin-top:0.5rem;
      background-color: #fff;
      &.money{
        line-height: 4.167rem;
        font-size:1.056rem;
      }
      &.gift{
        &>div:nth-of-type(1){
          height:2.778rem;
          width:4.361rem;
          padding-top:0.35rem;
          box-sizing: border-box;
          img{
            display: block;
            margin-left:auto;
            margin-right:auto;
          }
        }
        &>div:nth-of-type(2){
          font-size:0.778rem;
          text-align: center;
          line-height: 1.1rem;
          @include sl();
        }
      }
      &.active{
        color:#fb5549;
        border:2px solid #fb5549;
      }
    }
  }

  div.submit-button{
    margin-top:3rem;
    letter-spacing: 2px;
  }
}