div#account-detail-page div.item, div#account-detail-page a.item {
  display: block;
  position: relative;
  height: 2.444rem;
  line-height: 2.444rem;
  padding-left: 0.883rem;
  background-color: #fff;
  margin-top: 0.667rem;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  font-size: 0.889rem;
  color: #424242; }
  div#account-detail-page div.item div.right-arrow, div#account-detail-page a.item div.right-arrow {
    position: absolute;
    right: 0.833rem;
    top: 50%;
    margin-top: -0.22rem; }

div#account-detail-page a.qrcode-item > div {
  position: absolute;
  width: .889rem;
  height: .889rem;
  right: 0.833rem;
  top: 50%;
  margin-top: -0.4445rem;
  -webkit-background-size: 0.889rem 0.889rem;
  -moz-background-size: 0.889rem 0.889rem;
  -o-background-size: 0.889rem 0.889rem;
  background-size: 0.889rem 0.889rem;
  background-image: url("../../images/account/icon_erweima.png");
  background-repeat: no-repeat; }

div#account-detail-page div.info-item {
  height: auto;
  margin-top: 0;
  border-top: none;
  padding: 0.556rem 0.883rem; }
  div#account-detail-page div.info-item > div {
    height: 1.944rem;
    line-height: 1.944rem;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-align: center;
    -moz-box-align: center; }
    div#account-detail-page div.info-item > div > div {
      margin-right: .5rem; }
      div#account-detail-page div.info-item > div > div:first-child {
        width: 1.056rem;
        height: 1.056rem;
        border-radius: 50%;
        -webkit-background-size: 1.056rem 1.056rem;
        -moz-background-size: 1.056rem 1.056rem;
        -o-background-size: 1.056rem 1.056rem;
        background-size: 1.056rem 1.056rem;
        background-repeat: no-repeat; }
      div#account-detail-page div.info-item > div > div.available-icon {
        background-image: url("../../images/account/icon_available.png"); }
      div#account-detail-page div.info-item > div > div.frozen-icon {
        background-image: url("../../images/account/icon_blocked.png"); }
      div#account-detail-page div.info-item > div > div:nth-of-type(2) {
        color: #616161;
        font-size: .778rem; }
      div#account-detail-page div.info-item > div > div:last-child {
        font-size: .889rem;
        color: #212121; }
  div#account-detail-page div.info-item > a {
    position: absolute;
    right: .833rem;
    width: 2.5rem;
    height: 1.333rem;
    top: 1rem;
    background-color: #fb5549;
    color: #fff;
    font-size: .667rem;
    text-align: center;
    line-height: 1.333rem;
    border-radius: 4px; }
