div#coupon-detail-page div.club-name {
  height: 2.167rem;
  line-height: 2.167rem;
  text-align: center;
  background-color: #fff0d9;
  color: #4d4d4d;
  font-size: .889rem;
  border-bottom: 1px solid #f1e2ca; }

div#coupon-detail-page div.coupon-info {
  position: relative;
  background-color: #fff;
  padding: 0.611rem 0.778rem 0.4rem;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 0.667rem; }
  div#coupon-detail-page div.coupon-info > div {
    color: #4d4d4d;
    font-size: 0.667rem;
    line-height: 1.167rem; }
    div#coupon-detail-page div.coupon-info > div > span {
      color: #999; }
    div#coupon-detail-page div.coupon-info > div:nth-of-type(1) {
      position: absolute;
      top: 0.9rem;
      right: 0.833rem;
      color: #f24f52;
      font-size: 0.889rem;
      line-height: 1.5rem; }
    div#coupon-detail-page div.coupon-info > div:nth-of-type(2) {
      font-size: 1.167rem;
      line-height: 1.5rem; }
    div#coupon-detail-page div.coupon-info > div:nth-of-type(3) {
      font-size: 0.778rem;
      line-height: 1.278rem; }

div#coupon-detail-page div.item {
  margin-bottom: 0.667rem;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff; }

div#coupon-detail-page div.share {
  color: #ff9c0a;
  font-size: 0.667rem;
  text-align: center;
  line-height: 1.25rem;
  padding: 0.333rem 0; }
  div#coupon-detail-page div.share > div {
    background-color: #f24f52;
    color: #fff;
    height: 1.333rem;
    width: 5rem;
    text-align: center;
    border-radius: 4px;
    line-height: 1.333rem;
    margin: 0.222rem auto; }
    div#coupon-detail-page div.share > div.unwork {
      background-color: #ccc; }

div#coupon-detail-page div.qrcode {
  padding: 0.444rem 0 0.222rem;
  color: #4d4d4d;
  font-size: 0.667rem;
  text-align: center;
  overflow: hidden; }
  div#coupon-detail-page div.qrcode > div {
    margin-left: 0.917rem;
    text-align: left; }
  div#coupon-detail-page div.qrcode > img {
    display: block;
    margin: -0.3rem auto 0;
    width: 7rem;
    height: 7rem;
    line-height: 5rem; }
  div#coupon-detail-page div.qrcode > span {
    display: block;
    text-align: center;
    margin-top: -0.8rem;
    letter-spacing: 1px; }

div#coupon-detail-page div.get-records {
  padding-left: 0.861rem; }
  div#coupon-detail-page div.get-records > div {
    height: 1.833rem;
    line-height: 1.833rem;
    color: #ff9c0a;
    font-size: 0.889rem;
    border-bottom: 1px solid #d9d9d9; }
  div#coupon-detail-page div.get-records > ul {
    color: #4d4d4d;
    margin: 0.278rem 0 0.278rem 0;
    padding: 0;
    list-style-type: none;
    font-size: 0.778rem; }
    div#coupon-detail-page div.get-records > ul > li {
      line-height: 1.25rem;
      padding: 0.155rem 0 0.155rem 0.5rem;
      margin-bottom: 0.222rem;
      border-bottom: 1px solid #d9d9d9; }
      div#coupon-detail-page div.get-records > ul > li > div > span {
        float: right;
        color: #999;
        font-size: 0.667rem;
        margin-right: 0.5rem; }
      div#coupon-detail-page div.get-records > ul > li:last-child {
        border-bottom: 0;
        margin-bottom: 0; }

div#coupon-detail-page div.desc {
  padding: 0.3rem 0 0.3rem;
  color: #4d4d4d;
  font-size: 0.778rem; }
  div#coupon-detail-page div.desc > div {
    margin-left: 1.333rem;
    margin-right: 0.5rem; }
    div#coupon-detail-page div.desc > div:first-child {
      margin-left: 0.833rem;
      font-size: 0.889rem;
      color: #ff9c0a; }
  div#coupon-detail-page div.desc.content {
    margin-bottom: 0; }

div.share-coupons-pop > div:nth-of-type(1) {
  width: 9.222rem;
  height: 5rem;
  position: absolute;
  top: 0.445rem;
  right: 0.611rem;
  padding-left: 0.42rem;
  padding-right: 0.42rem;
  /*-webkit-background:url($url) 0 0/ $size no-repeat;
  -moz-background:url($url) 0 0/ $size no-repeat;
  -o-background:url($url) 0 0/ $size no-repeat;*/
  -webkit-background-size: 9.222rem 5rem;
  -moz-background-size: 9.222rem 5rem;
  -o-background-size: 9.222rem 5rem;
  background-size: 9.222rem 5rem;
  background-image: url("../../images/coupon/tip.png");
  background-repeat: no-repeat;
  font-size: 0.889rem;
  color: #fff;
  text-align: center;
  padding-top: 1.4rem;
  display: none; }

div.share-coupons-pop > div:nth-of-type(2) {
  background-color: #fff;
  color: #4d4d4d;
  font-size: 0.889rem;
  text-align: center;
  margin-top: -4.175rem;
  display: none; }
  div.share-coupons-pop > div:nth-of-type(2) > div:nth-of-type(1) {
    background-color: #ccc;
    margin: 0.611rem 0.611rem 0.4rem 0.611rem;
    padding: 0.278rem;
    word-wrap: break-word;
    line-height: 1.2rem;
    -webkit-user-select: element; }
  div.share-coupons-pop > div:nth-of-type(2) > div:nth-of-type(2) {
    border-bottom: 1px solid #d9d9d9; }
  div.share-coupons-pop > div:nth-of-type(2) > div:nth-of-type(3) {
    height: 2.222rem;
    line-height: 2.222rem; }
