div#rob-project-detail-page {
  overflow-y: auto; }
  div#rob-project-detail-page div.top-banner {
    height: 9.833rem;
    -webkit-background-size: 20rem 9.833rem;
    -moz-background-size: 20rem 9.833rem;
    -o-background-size: 20rem 9.833rem;
    background-size: 20rem 9.833rem;
    background-image: url("../../images/robProject/banner.png");
    background-repeat: no-repeat; }
  div#rob-project-detail-page div.info {
    padding: .889rem .667rem;
    background-color: #fff;
    line-height: 1; }
    div#rob-project-detail-page div.info > div:nth-of-type(1) {
      font-size: 1.222rem;
      color: #212121;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    div#rob-project-detail-page div.info > div:nth-of-type(2) {
      margin-top: .944rem;
      font-size: .833rem;
      color: #616161; }
      div#rob-project-detail-page div.info > div:nth-of-type(2) > span:nth-of-type(1) {
        font-size: 1.278rem;
        color: #fb5549;
        padding-left: 1.333rem;
        background-position: left center; }
      div#rob-project-detail-page div.info > div:nth-of-type(2) > span:nth-of-type(2) {
        font-size: .778rem;
        color: #999;
        margin: 0 1rem; }
      div#rob-project-detail-page div.info > div:nth-of-type(2) > span:nth-of-type(3) > span {
        padding-left: 1.333rem;
        -webkit-background-size: 1rem 1rem;
        -moz-background-size: 1rem 1rem;
        -o-background-size: 1rem 1rem;
        background-size: 1rem 1rem;
        background-image: url("../../images/robProject/icon_integral.png");
        background-repeat: no-repeat;
        background-position: left center;
        font-size: 1.278rem;
        color: #FF9A0C; }
    div#rob-project-detail-page div.info > div:nth-of-type(3) {
      margin-top: .944rem;
      display: -webkit-box;
      display: -moz-box;
      -webkit-box-align: end;
      -moz-box-align: end; }
      div#rob-project-detail-page div.info > div:nth-of-type(3) > div:nth-of-type(1) {
        font-size: .889rem;
        color: #616161;
        text-decoration: line-through;
        -moz-box-flex: 1;
        -webkit-box-flex: 1;
        box-flex: 1; }
      div#rob-project-detail-page div.info > div:nth-of-type(3) > div:nth-of-type(2) {
        text-align: right;
        font-size: .778rem;
        color: #757575;
        -moz-box-flex: 1;
        -webkit-box-flex: 1;
        box-flex: 1; }
  div#rob-project-detail-page div.counter {
    height: 2.149rem;
    border-top: .056rem solid #e0e0e0;
    border-bottom: .056rem solid #e0e0e0;
    padding: .278rem .667rem;
    background-color: #fef7e3;
    font-size: .778rem;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-align: center;
    -moz-box-align: center; }
    div#rob-project-detail-page div.counter div.counter-wrap {
      font-size: 0.778rem;
      color: #616161; }
      div#rob-project-detail-page div.counter div.counter-wrap:before {
        content: "";
        display: block;
        margin-right: .667rem;
        width: .889rem;
        height: .889rem;
        float: left;
        -webkit-background-size: 0.889rem 0.889rem;
        -moz-background-size: 0.889rem 0.889rem;
        -o-background-size: 0.889rem 0.889rem;
        background-size: 0.889rem 0.889rem;
        background-image: url("../../images/robProject/clock.png");
        background-repeat: no-repeat; }
  div#rob-project-detail-page div.club {
    background-color: #fff;
    padding: .333rem .667rem;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-align: center;
    -moz-box-align: center; }
    div#rob-project-detail-page div.club > div:nth-of-type(1) {
      width: 1.556rem;
      height: 1.556rem;
      margin-right: .722rem;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -webkit-background-size: 1.556rem 1.556rem;
      -moz-background-size: 1.556rem 1.556rem;
      -o-background-size: 1.556rem 1.556rem;
      background-size: 1.556rem 1.556rem;
      background-repeat: no-repeat; }
    div#rob-project-detail-page div.club > div:nth-of-type(2) {
      -moz-box-flex: 1;
      -webkit-box-flex: 1;
      box-flex: 1;
      font-size: .833rem;
      color: #4a4a4a;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    div#rob-project-detail-page div.club > div:nth-of-type(3) {
      width: .611rem;
      height: .611rem;
      border-left: .1rem solid #666;
      border-bottom: .1rem solid #666;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg); }
  div#rob-project-detail-page div.act-desc, div#rob-project-detail-page div.item-desc {
    background-color: #fff;
    margin-top: .556rem;
    color: #616161; }
    div#rob-project-detail-page div.act-desc > div:nth-of-type(1), div#rob-project-detail-page div.item-desc > div:nth-of-type(1) {
      padding: .556rem 1.944rem;
      font-size: .833rem;
      -webkit-background-size: 0.833rem 0.833rem;
      -moz-background-size: 0.833rem 0.833rem;
      -o-background-size: 0.833rem 0.833rem;
      background-size: 0.833rem 0.833rem;
      background-repeat: no-repeat;
      background-position: .667rem center;
      border-bottom: .056rem solid #e0e0e0;
      line-height: 1; }
      div#rob-project-detail-page div.act-desc > div:nth-of-type(1).node-pad-icon, div#rob-project-detail-page div.item-desc > div:nth-of-type(1).node-pad-icon {
        background-image: url("../../images/robProject/nodepad.png"); }
      div#rob-project-detail-page div.act-desc > div:nth-of-type(1).info-icon, div#rob-project-detail-page div.item-desc > div:nth-of-type(1).info-icon {
        background-image: url("../../images/robProject/info-icon.png"); }
    div#rob-project-detail-page div.act-desc > div:nth-of-type(2), div#rob-project-detail-page div.item-desc > div:nth-of-type(2) {
      padding-left: .667rem; }
      div#rob-project-detail-page div.act-desc > div:nth-of-type(2) > div:nth-of-type(1), div#rob-project-detail-page div.item-desc > div:nth-of-type(2) > div:nth-of-type(1) {
        border-bottom: .056rem solid #E0E0E0; }
        div#rob-project-detail-page div.act-desc > div:nth-of-type(2) > div:nth-of-type(1) > div, div#rob-project-detail-page div.item-desc > div:nth-of-type(2) > div:nth-of-type(1) > div {
          padding: .667rem 0;
          line-height: 1; }
          div#rob-project-detail-page div.act-desc > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1), div#rob-project-detail-page div.item-desc > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) {
            font-size: .889rem;
            color: #FF9D09;
            display: -webkit-box;
            display: -moz-box;
            -webkit-box-align: center;
            -moz-box-align: center; }
            div#rob-project-detail-page div.act-desc > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1), div#rob-project-detail-page div.item-desc > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) {
              width: 2.833rem;
              height: 2.833rem;
              margin-right: .556rem;
              -webkit-border-radius: .278rem;
              -moz-border-radius: .278rem;
              border-radius: .278rem;
              -webkit-background-size: 2.833rem 2.833rem;
              -moz-background-size: 2.833rem 2.833rem;
              -o-background-size: 2.833rem 2.833rem;
              background-size: 2.833rem 2.833rem;
              background-repeat: no-repeat; }
            div#rob-project-detail-page div.act-desc > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2), div#rob-project-detail-page div.item-desc > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) {
              -moz-box-flex: 1;
              -webkit-box-flex: 1;
              box-flex: 1; }
              div#rob-project-detail-page div.act-desc > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > div, div#rob-project-detail-page div.item-desc > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > div {
                line-height: 1; }
                div#rob-project-detail-page div.act-desc > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1), div#rob-project-detail-page div.item-desc > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) {
                  font-size: .944rem;
                  color: #4a4a4a;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap; }
                div#rob-project-detail-page div.act-desc > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2), div#rob-project-detail-page div.item-desc > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) {
                  margin-top: .944rem;
                  font-size: .833rem;
                  color: #616161; }
          div#rob-project-detail-page div.act-desc > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2), div#rob-project-detail-page div.item-desc > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) {
            font-size: .833rem;
            padding: 0 0 .667rem; }
      div#rob-project-detail-page div.act-desc > div:nth-of-type(2) > div:nth-of-type(2), div#rob-project-detail-page div.item-desc > div:nth-of-type(2) > div:nth-of-type(2) {
        padding: .667rem .667rem .667rem 0;
        line-height: 1; }
        div#rob-project-detail-page div.act-desc > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1), div#rob-project-detail-page div.item-desc > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) {
          font-size: .944rem;
          color: #FF9D09; }
        div#rob-project-detail-page div.act-desc > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2), div#rob-project-detail-page div.item-desc > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) {
          margin-top: .556rem;
          font-size: .833rem;
          line-height: 1.5; }
          div#rob-project-detail-page div.act-desc > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > span, div#rob-project-detail-page div.act-desc > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > span, div#rob-project-detail-page div.item-desc > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > span, div#rob-project-detail-page div.item-desc > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > span {
            color: #616161; }
          div#rob-project-detail-page div.act-desc > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > div > ul, div#rob-project-detail-page div.item-desc > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > div > ul {
            margin: .556rem 0 0;
            padding-left: .85rem; }
            div#rob-project-detail-page div.act-desc > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > div > ul > li, div#rob-project-detail-page div.item-desc > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > div > ul > li {
              margin-top: .556rem; }
              div#rob-project-detail-page div.act-desc > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > div > ul > li:first-child, div#rob-project-detail-page div.item-desc > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > div > ul > li:first-child {
                margin-top: 0; }
            div#rob-project-detail-page div.act-desc > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > div > ul ul, div#rob-project-detail-page div.item-desc > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > div > ul ul {
              margin: 0;
              padding-left: 0;
              list-style-type: none; }
      div#rob-project-detail-page div.act-desc > div:nth-of-type(2) > div .spec, div#rob-project-detail-page div.item-desc > div:nth-of-type(2) > div .spec {
        margin-top: 0 !important; }

div.rob-project-confirm-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #d9d9d9;
  padding: .25rem .667rem;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-align: center;
  -moz-box-align: center; }
  div.rob-project-confirm-btn > div {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    background-color: #fb5549;
    color: #fff;
    font-size: 1.056rem;
    text-align: center;
    height: 2.444rem;
    line-height: 2.444rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    div.rob-project-confirm-btn > div:nth-of-type(1) {
      margin-right: .556rem;
      background-color: #fff;
      border: 1px solid #fb5549;
      color: #fb5549; }
  div.rob-project-confirm-btn.processing > div {
    background-color: #ccc; }
    div.rob-project-confirm-btn.processing > div.loading {
      background: url("../../images/common/loading.gif") no-repeat 15% 45%; }
  div.rob-project-confirm-btn.disabled > div {
    background-color: #CCC; }
    div.rob-project-confirm-btn.disabled > div:nth-of-type(1) {
      border-color: #CCC;
      color: #FFF; }
