div#service-group-page div.item {
  width: 20rem;
  height: 12.389rem;
  -webkit-background-size: 20rem 12.389rem;
  -moz-background-size: 20rem 12.389rem;
  -o-background-size: 20rem 12.389rem;
  background-size: 20rem 12.389rem;
  background-repeat: no-repeat; }
