@import "../common/common.scss";
#_content>#integral{
  #content {
    height:100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    >div{
      >div:nth-of-type(2) {
        >div{//list item
          margin-top:0.556rem;
          border-top:1px solid #e0e0e0;
          border-bottom:1px solid #e0e0e0;
          background-color: #fff;
          &>div:nth-of-type(1){
            position: relative;
            height:1.889rem;
            line-height: 1.889rem;
            padding-left:2.333rem;
            color:#424242;
            font-size:0.778rem;
            border-bottom:1px solid #e0e0e0;
            &>div{
              position: absolute;
              width:1.222rem;
              height:1.222rem;
              top:0.333rem;
              left:0.667rem;
              border-radius: 50%;
              //border:1px solid #e0e0e0;
              @include imgBgFix(1.222rem 1.222rem);
            }
            &>i{
              position: absolute;
              display: block;
              width:0.5rem;
              height:0.5rem;
              right:0.667rem;
              top:0.6rem;
              border-left:1px solid #d0d0d0;
              border-bottom:1px solid #d0d0d0;
              @include rotate(-135deg);
            }
          }
          &>div:nth-of-type(2){
            height:2.444rem;
            padding-left:0.667rem;
            line-height: 2.444rem;
            font-size:0.889rem;
            color:#212121;
            &>span{
              color:#9e9e9e;
              font-size:0.778rem;
              margin-right:0.556rem;
            }
          }
        }
      }
    }

    #loadTip{
      @include wq();
      height: 2rem;
      width:20rem;
      border-top: 1px solid #d9d9d9;
      background-color: #fff;
      &.none{
        display: none;
      }
      >div{
        &:nth-of-type(1){
          width: 0.778rem;
          height: 0.778rem;
          @include img('../../../img/loading.gif',0.778rem 0.778rem);
        }
        &:nth-of-type(2){
          font-size: 0.778rem;
          margin-left: 0.2rem;
          line-height: 2rem;
          color: #666;
        }
      }
    }
    #finishTip{
      @include wq();
      width:20rem;
      height: 2rem;
      border-top: 1px solid #d9d9d9;
      background-color: #fff;
      &.none{
        display: none;
      }
      >div{
        &:nth-of-type(1){
        }
        &:nth-of-type(2){
          font-size: 0.778rem;
          margin-left: 0.2rem;
          line-height: 2rem;
          color: #666;
        }
      }
    }
  }
}