@import "../common/common.scss";
#_content>#personal {
  #content {
    > div {
      margin-bottom: 0.667rem;
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
      width: 20rem;
      background: #ffffff;
      &:nth-of-type(1){
        background: #ededed;
        border: 0;
        margin-bottom: 0;
      }

      &.top{
        height: 4.722rem;
        margin-bottom: 0;
        @include img('../../../img/personal/bg.jpg',20rem 4.722rem);
        >div{
          float: left;
          &:nth-of-type(1){
            width: 3.333rem;
            height: 3.333rem;
            margin-left:0.917rem;
            margin-top:0.6945rem;
            @include imgBgFix(3.333rem 3.333rem);
            border-radius: 50%;
          }
          &:nth-of-type(2){
            height: 3.333rem;
            width:12rem;
            margin-top:0.6945rem;
            margin-left:0.694rem;
            color:#333;
            >div{
              &:nth-of-type(1){
                font-size:1.056rem;
                line-height: 1.833rem;
              }
              &:nth-of-type(2){
                font-size: 0.667rem;
                line-height: 1.2rem;
              }
              &.bind-phone{
                padding: .167rem .556rem;
                font-size: .611rem;
                color: #fff;
                background-color: #69cb66;
                -webkit-border-radius: .167rem;
                -moz-border-radius: .167rem;
                border-radius: .167rem;
                display: inline;
              }
            }
          }
          &:nth-of-type(3){
            display: none;
            width:5.722rem;
            height:1.667rem;
            margin-top:1.5275rem;
            margin-left:7.139rem;
            border:1px solid #fb5549;
            border-radius: 4px;
            line-height:1.667rem;
            color:#fb5549;
            text-align: center;
            font-size:0.889rem;
          }
          &:nth-of-type(4){
            width:1.222rem;
            height:1.167rem;
            margin-top:1.7775rem;
            margin-left:0.8rem;
            @include img("../../../img/personal/edit.png",1.222rem 1.167rem);
          }
        }
      }

      &.menu-wrap,&.account-wrap{
        padding-left: 0.667rem;
        width: 19.333rem;
        //border-top:1px solid #e1e1e1;
        >div{
          width: 19.333rem;
          height: 2.667rem;
          border-top: 1px solid #f0f0f0;
          @include sx();
          &.hide{
            display: none;
          }
          &:nth-of-type(1){
            border-top: 0;
          }
          >div{
            &:nth-of-type(1){
              width: 1.111rem;
              height: 1.111rem;
              @include imgBgFix(1.111rem 1.111rem);
	      	  &.account{
                background-image: url("../../../img/personal/account_icon.png");
              }
              &.integral{
                background-image: url("../../../img/personal/integral_icon.png");
              }
              &.coupon{
                background-image: url("../../../img/personal/coupon_icon.png");
              }
              &.order{
                background-image: url("../../../img/personal/order_icon.png");
              }
              &.collect{
                background-image: url("../../../img/personal/collect_icon.png");
              }
              &.contacts{
                background-image: url("../../../img/personal/contacts_icon.png");
              }
            }
            &:nth-of-type(2){
              padding-left: 0.667rem;
              width: 16.527rem;
              height: 1.139rem;
              color:#666;
              font-size: 0.889rem;
              line-height: 1.139rem;
              position: relative;
              &>span{
                position: absolute;
                right:0.3rem;
                line-height: 1.055rem;
                font-size:0.667rem;
                color:#fff;
                border-radius:0.8rem;
                padding-left:0.333rem;
                padding-right:0.333rem;
                background-color: #fb5549;
              }
            }
            &:nth-of-type(3){
              width: 0.43rem;
              height: 0.43rem;
              border-left:0.1rem solid #999;
              border-bottom:0.1rem solid #999;
              @include rotate(-135deg);
            }
          }
        }
      }

      &.suggestion-wrap,&.wx-wrap,&.phone-wrap,&.exit-wrap{
        margin-bottom: 0.722rem;
        height: 2.611rem;
        @include sx();
        >div{
          &:nth-of-type(1){
            margin-left: 0.667rem;
            width: 1.111rem;
            height: 1.111rem;
            @include imgBgFix(1.111rem 1.111rem);
            &.suggestions{
              background-image: url('../../../img/personal/suggestions_icon.png')
            }
            &.logout{
              background-image: url('../../../img/personal/logout_icon.png')
            }
            &.unbind-wechat{
              background-image: url('../../../img/personal/unbind_wechat.png');
            }
            &.unbind-phone{
              background-image: url('../../../img/personal/unbind_phone.png');
            }
          }
          &:nth-of-type(2){
            padding-left: 0.667rem;
            width: 16.527rem;
            height: 1.139rem;
            color:#666;
            font-size: 0.889rem;
            line-height: 1.139rem;
          }
          &:nth-of-type(3){
            width: 0.43rem;
            height: 0.43rem;
            border-left:0.1rem solid #999;
            border-bottom:0.1rem solid #999;
            @include rotate(-135deg);
          }
        }
      }

      &.gz-wrap{
        padding-top:1.667rem;
        padding-bottom:0.722rem;
        margin-bottom: 0;
        &>div:nth-of-type(1){
          text-align: center;
          color:#fb2657;
          font-size:0.889rem;
          display: none;
          margin-bottom:0.5rem;
        }
        &>div:nth-of-type(2){
          width:8.444rem;
          height:8.444rem;
          box-sizing: border-box;
          margin:0 auto 0.944rem;
          @include ty(0,0,0.2rem,0,#333);
          border-radius:1px;
          &>img{
            width:8.444rem;
            height:8.444rem;
          }
        }
        &>div:nth-of-type(3){
          width:12.056rem;
          height:1.944rem;
          line-height: 1.944rem;
          text-align: center;
          color:#ff5549;
          margin:0 auto;
          font-size:0.889rem;
          border:2px dashed #ff5549;
        }
        &>div:nth-of-type(4){
          margin:0.889rem 0 0.889rem 5.278rem;
          &>div.list{
            font-size:0.778rem;
            color:#333;
            &>span{
              color:#fff;
              font-size:0.667rem;
              background-color: #ff5549;
              border-radius: 50%;
              margin-right:0.444rem;
              padding:0.1rem 0.32rem;
            }
          }
          &>div.arrow{
            width: 0.471rem;
            height: 0.471rem;
            border-left:0.1rem solid #ff5549;
            border-bottom:0.1rem solid #ff5549;
            margin:0 0 0.3rem 2.778rem;
            @include rotate(-45deg);
          }
        }
        &>div:nth-of-type(5){
          color:#ff5549;
          text-align: center;
          font-size:0.889rem;
        }
      }
    }
  }

  .hide{
    display: none !important;
  }

  #confirmLogout{
    display: none;
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
    //@include scale(0,0);
    &>div{
      height:6.756rem;
      width:16.667rem;
      position: absolute;
      top:50%;
      left:50%;
      margin-top:-3.378rem;
      margin-left:-8.3335rem;
      background-color: #fff;
      color:#4d4d4d;
      font-size:0.889rem;
      overflow: hidden;
      //opacity: 0;
      @include ty(0,0,4px,4px,#908f8f);
      //@include scale(0,0);
      //@include tOrigin(50% 50%);
      //@include transition(all 0.4s);
      &>div:nth-of-type(1){
        height:4.35rem;
        line-height: 4.35rem;
        text-align: center;
        box-sizing: border-box;
        border-bottom: 1px solid #d9d9d9;
      }
      &>div:nth-of-type(2){
        height:2.5rem;
        &>a{
          display: block;
          width:50%;
          float: left;
          box-sizing: border-box;
          text-align: center;
          line-height: 2.5rem;
          &:nth-of-type(1){
            color:#fff;
            background-color: #ff5549;
          }
          &:nth-of-type(2){
            background-color: #ebebeb;
          }
        }
      }
    }
    &.act{
      display: block;
      //@include scale(1,1);
      //&>div{
        //@include scale(1,1);
        //opacity: 1;
      //}
    }
  }

  .unbind-dialog{
    display: none;
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
    //@include scale(0,0);
    &>div{
      /*height:6.756rem;*/
      width:16.667rem;
      position: absolute;
      top:50%;
      left:50%;
      margin-top:-3.378rem;
      margin-left:-8.3335rem;
      background-color: #fff;
      color:#4d4d4d;
      font-size:0.889rem;
      overflow: hidden;
      -webkit-border-radius:.5rem;
      -moz-border-radius:.5rem;
      border-radius:.5rem;
      //opacity: 0;
      @include ty(0,0,4px,4px,#908f8f);
      //@include scale(0,0);
      //@include tOrigin(50% 50%);
      //@include transition(all 0.4s);
      &>div:nth-of-type(1){
        text-align: center;
        box-sizing: border-box;
        border-bottom: 1px solid #d9d9d9;
        padding: 1.472rem 0;
        >p:nth-of-type(1){
          line-height: 1;
          margin-top: 0;
          font-size: 1.056rem;
          font-weight: bold;
          color: #222;
          margin-bottom: .667rem;
        }
        >p:nth-of-type(2){
          line-height: 1;
          color: #060606;
          font-size: .778rem;
          margin-top: .667rem;
          margin-bottom: 0;
        }
      }
      &>div:nth-of-type(2){
        /*height:2.5rem;*/
        overflow: hidden;
        &>a{
          display: block;
          width:50%;
          float: left;
          box-sizing: border-box;
          text-align: center;
          line-height: 2.806rem;
          font-size: 1rem;
          &:nth-of-type(1){
            color:#fff;
            background-color: #ff5549;
          }
          &:nth-of-type(2){
            background-color: #ebebeb;
          }
        }
      }
    }
    &.active{
      display: block;
      //@include scale(1,1);
      //&>div{
      //@include scale(1,1);
      //opacity: 1;
      //}
    }
  }
  #unbindPhoneDialog{
    >div>div:nth-of-type(1)>p:nth-of-type(2){
      line-height: 1.5;
      padding: 0 1.889rem;
    }
  }
}
